/*
OneeChan by Jordan Bates - seaweed !Ponyo.2wFE (seaweedchan@github) and originally forked from AppChan by zixaphir.


This text is free. It comes without any warranty, to
the extent permitted by applicable law. You can redistribute it
and/or modify it under the terms of the BSD license, as modified by Jordan Bates. See
https://raw.github.com/seaweedchan/OneeChan/master/License for more details.

-------

Included artwork and images are unlicensed (non-free) and are used under
the following fair use rationale:

1.	The purpose of use is not commercial in nature in any conceivable way.
2.	The included images are already commonly available from various
	non-commercial sources.
3.	Included images are low-resolution and are only a portion of the
	original artwork.
4.	The use of included artwork should not affect the value of the original
	work or limit the copyright holder's rights or ability to distribute
	the original.
5.	The original intent of copyright of included images is difficult to
	discern.

In the event where usage of included images is found unwanted by the
original copyright holders, owned images will be removed from AppChan.
*/

/*
This style is intended to provide integration of 4chan x into 4chan.

This style is designed for the following browsers, ordered alphabetically:
	* Chromium / Google Chrome 10 or higher, including the dev and Canary channels.
	* Mozilla Firefox 6.x or higher, including the Aurora and Nightly channels.
	
	Opera is not supported, though it will work as a userscript. OneeChan is designed for use 
		with the Stylish extension, so quality with Opera cannot be ensured.
*/
@-moz-document domain(boards.4chan.org), domain(rs.4chan.org) {
/* Mascots (More mascots can be found at https://github.com/zixaphir/AppChan/wiki/Mascots) */
	body::after {
		position: fixed !important;
		/*[[background]]*/
		left: 0;
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
/*[[ChangeAlign]]*/
		right: 0;
		left: auto;
		-moz-transform: scaleX(1);
		-o-transform: scaleX(1);
		-webkit-transform: scaleX(1);
		transform: scaleX(1);/**/
		z-index: 3 !important;
	}
	body::before {
		content: '';
		width: 248px !important;
		height: 20px !important;
		border-top: 0px !important;
		position: fixed !important;
		top: 0px !important;
		right: auto !important;
		left: 2px !important;
/*[[ChangeAlign]]*/	
		right: 2px !important;
		left: auto !important; /**/
		opacity: 0.7 !important;
	}
	body {
/*[[Margin]]*/
	}
	font[color="red"]  {
		position: fixed !important;
		top: -1000px !important;
		right: auto !important;
		left: 2px !important;
/*[[ChangeAlign]]*/	
		right: 2px !important;
		left: auto !important; /**/
		bottom: auto !important;
		width: 236px !important;
		padding: 10px 5px 10px 5px !important;
	}
	font[color="red"]::before {
		content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAlZJREFUOE99lE1IVFEYhmdGZ2oEnVQMWySCixA32SJGgxYVREGrVAQZrt65ICFIuggSEg37WSoaLaIQ+9FNK8WNiULgQsGFwahgJFKESKmpqJE/zzuc5HKdGnj4zpzvnPe85zvnXJ/P9Yvb8YBjO2E469Q5V4gxaKR9B27TLoUcCILfPfeoTSIDzsN9+AjfYAv24Q+swjy8gwo4g3jakQAu/BAhUQVjsAE/YNYIfiCOwiQsGvElYqcWZm4wKUbjJB3VMAObMAHtcINcoWVZJbVWbbFxaxFfwhctSP4NFKskErpgVl4nvofrkGnbtj8Wi4VgCRIQYGw6uQK4C59A232kHflodBgn43SUI5DuLiICEzDi7mN8DmObiV9hnnbUR8FUi2Vo0ja9J4FIL/S4++WW8UXMHVbNJCpHvyFB5+VUx4nIPWjw5pgchsfMXSd2SkjHOw2l/xC6hdA1bw5XIQRamPeT2COhNdCxVpAMpNhaBkJhbz87yIMB5u0g1C6hQfgFzyDPU2idXJ+3Row7Abrpc/AdbkqoxhR7gVgvMbczRK7CJc+p6akMqdC4ehuvi5+WUD68AN3oBDyAi9jN/StIzIIIJLdIXq/gs+pjnAXVmaZCw2tYMe70VJ7DQ2iDLuiGJ9DAIq1mUS2uhx1KOsaebmyJcTNF1C3fBZ3onmlvmygXOhwdkvJ9cMr9+uUsF6LgwFPohVfGiVyoBHrA2tYOHIBqGz12dXCnW6tvkr47ql8+fdnECFH/zxHLiJWgevaz1aqU36b/dTLRj5AesD5uWjCiW34IHpyJvx+WYAQAAAAASUVORK5CYII=') !important;
		height: 9px !important;
		position: fixed !important;

		top: 1px !important;
        left: 20px !important;
       	right: auto !important;
/*[[ChangeAlign]]*/		
       	right: 176px !important;
		left: auto !important; /**/
		min-width: 30px !important;
		max-width: 30px !important;
		padding-bottom: 5px !important;
	}
/*[[redtext]]*/
}

@-moz-document domain('4chan.org') {
/*[[helpertext]]*/
	body > br,
	body > hr,
	div[lock=off],
	div[lock=on],
	div.logo br:nth-of-type(1),
	div.thread.stub > .omittedposts,
	div#logo,
	form table tbody > tr:nth-of-type(2) td[align='right'],
	form[name='delform'] > hr:last-of-type,
	form[name='delform'] > hr:nth-last-of-type(2),
	html body > a:not([style='cursor: pointer; float: right;']),
	small,
	td[style^='padding: ']:not(#backwash_tipcell):not([style='padding: 10px 7px 7px 7px;']):not([style='padding: 10px 7px 7px;']),
	td.rules,
	th,
	[id='4chan_ext_nav_top'],
	#footer > *:not(#navbot):not(center),
	#ft li.fill,
	#popular-threads,
	#recaptcha_logo,
	#recaptcha_tagline,
	#recent-images,
	#recent-threads,
	#rules,
	#recaptcha_switch_audio_btn,
	#recaptcha_whatsthis_btn,
	#recaptcha_reload_btn *,
	#quickrep tr:nth-of-type(4) b,
	#qr.auto:not(:hover) #recaptcha_reload_btn,
	.deletebuttons br,
	.doubledash,
	.error:empty,
	.fill,
	.notice,
	.replymode,
	.pages td:nth-of-type(2n-1),
	.postarea form > div,
	.postarea > form:first-child > table > tbody > tr:last-of-type,
	.postarea .refreshBtn,
	.yui-menu-shadow,
	.warnicon {
	/* Cleanup */
		display: none !important;
	}

	* {
	/* Defaults of all elements */
		font-family: /*[[Font]]*/ !important;
	}

	.quotelink:not(.filtered),
	.backlink:not(.filtered),
	.filesize a,
	a[href*=res],
	a[href*="http://dis"] {
	text-decoration: none !important;
	}

	td.reply,
	a,
	td,
	.filetitle,
	.filesize,
	fieldset,
	blockquote,
	.rules,
	textarea,
	time,
	.postername,
	.commentpostername,
	.container::before,
	#captchas
	#qp .postertrip {
		font-size: /*[[FontSize]]*/ !important;
	}

	input,
	#imgControls,
	#stats,
	#updater,
	#navtopr a,
	label,
	.filetitle,
	#imageType,
	#header,
	#header a,
	#stats,
	#navbot a {
		font-size: 12px !important;
		text-decoration: none !important;
	}

	/*[[CustomScrollbars]]*/scrollbarbutton { display: none !important; }
	::-webkit-scrollbar { width: 10px !important; height: 10px !important; }
	::-webkit-scrollbar-thumb { border: 1px solid; }
	::-webkit-scrollbar-track-piece:vertical { border-left: 0; }
	::-webkit-scrollbar-track-piece:horizontal { border-top: 0; }
	scrollbar, scrollcorner { -moz-appearance: none !important; -o-appearance: none !important; width: 10px !important; height: 10px !important; }
	scrollbar[orient='vertical'] { border-left: 0; }
	scrollbar[orient='horizontal'] { border-top: 0; }
	thumb { -moz-appearance: none !important; -o-appearance: none !important; border: 1px solid; }/**/

	span[id^='4chan_ext_right'],
	a.yuimenuitemlabel:hover,
	.replyhider a:hover {
		background-color: transparent !important;
	}
/*[[boardlogo]]*/
	div.logo img {
		position: fixed !important;
		left: 2px !important;
		right: auto !important;
/*[[ChangeAlign]]*/
		left: auto !important;
		right: 2px !important;/**/
		top: 40px !important;
		width: 248px !important;
		height: 83px !important;
		margin: 0 !important;
		z-index: 1;
		-webkit-box-reflect: below 0px -webkit-gradient( linear, left top, left bottom, from(transparent), color-stop(91%, rgba(255, 255, 255, .1)), color-stop(21.01%, transparent) );
	}

	div.logo font[size='5'] span {
		font-size: 30px !important;
				font-weight: 400 !important;
	}

	div.logo font[size='1'] {
		font-size: 13px !important;

	}

	body > span > div {
	 /* 4watch */
		position: fixed !important;
		top: auto !important;
		bottom: 440px !important;
		left: 0 !important;
		right: auto !important;
/*[[ChangeAlign]]*/
		left: auto !important;
		right: 0 !important;/**/
		width: 248px;
	}

	hr {
		padding: 0 !important;
		height: 0;
		width: 100% !important;
		clear: both;
		border: none !important;
	}
/* Front Page */
	.bd,
	.bd ul,
	img,
	.pages,
	.pages *,
	#qr,
	#quickrep,
	div[id^='qr'],
	table.reply[style^='clear: both'],
	td.postblock,
	span[id^='4chan_ext_right'],
	.boxcontent > hr,
	h3 {
		border: none !important;
	}

	.boxcontent input {
		height: 18px !important;
		vertical-align: bottom;
		margin-right: 1px !important;
	}

	a.yuimenuitemlabel {
		padding: 0 20px !important;
	}
/* Navigation */
	#header,
	#header > #navtop, /* Top Navigation */
	.pages /* Bottom Navigation */ {
		text-align: center !important;
		font-size: 0 !important;
		color: transparent !important;
		width: auto !important;
	}

	#header > #navtop {
	/* cripple the positioning of the top navigation */
		position: static !important;
		width: 100% !important;
	}

/*[[StickyNavigation]]*/
	#navbot::after {
		border: none !important;
		position: fixed !important;
		right: auto !important;
		left: 0 !important;
		z-index: 97 !important;
/*[[ChangeAlign]]*/
		left: auto !important;
		right: 227px !important;
		top: 1px !important;
		content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAZlJREFUGBlVwTFLFAAYANDvThGHs1DkdBAVhRtKETRFxcUguVyc0lwaHqQI1eLk1CQNYouo4A/wphLcalCnJomGvE3k6iYNERRO9IRKb6j3Im4JNdJGLdiwYcGotBrxDwmNpu0puXLu3JWSPdMaJeKOhBaLjp3Zt2nVqk37zhxb1CIREUK9t04dWdKvVr8BtQYsOXLqrXoRqo0rKpjXKCI81BUhqcm8gqJx1eG+nAtr0nFLkya1enVLW3Mh517I+CUvK+7o8cSC99qFrLwTmTDhxifpqPBC3nfPVUVI++zGRJhzbcuQQZ0ee2XavK+e6jRoyJZrc2HGtQ96dKuT8cW6N4Y0qdOlx0fXXoYxZTtaItR47Ztd2ajQYkfZWGjz06FnkjLemdTrQdySNOnQD20hZcWlnA4Zrao0a44/hA45l1akQtKwA8eWdUhE6PMoQlKHZccODEtGhJRZBSdyprTq06fVlJwTBbNS8ZfQYFZeyaFd27btOlSSN6tBVAgpI9YVlZWVlRWtGZES/1GlTrusGTOy2qVURcVvQJjZprgL3IoAAAAASUVORK5CYII=');
	}

	#navbot:hover {
		top: 14px !important;
		z-index: 99 !important;
	}

	#navbot {
		visibility: visible !important;
		position: fixed !important;
		position: fixed !important;
		top: -1000px !important;
		right: auto !important;
		left: 2px !important;
/*[[ChangeAlign]]*/
		right: 2px !important;
		left: auto !important; /**/
		bottom: auto !important;
		width: 226px !important;
		color: transparent !important;
		padding: 3px 10px 25px 10px !important;
		border-width: 0 1px 1px 0 !important;
		word-spacing: -2px !important;
		height: 50px !important;
		text-align: center !important;
		word-spacing: -3px !important;
	}
	@media screen and (-webkit-min-device-pixel-ratio:0) {
	#navbot {
		padding-bottom: 35px !important;
	}	
	input[value="delete"] {
		position: relative !important;
		top: 4px !important;
	}
	}
	#header {
		left: 250px !important;
		right: 2px !important;
		padding-top: 1px !important;
		padding-bottom: 3px !important;
/*[[ChangeAlign]]*/
		left: 2px !important;
		right: 252px !important;/**/
	}
	#header,
	#navtop {
		z-index: 98;
	}

	#footer {
		z-index: -1;
		visibility: hidden;
		padding-top: 0 !important;
	}

	.pages td:nth-of-type(1) {
		font-size: 75% !important;
		text-transform: uppercase;
	}

	#header a,
	.pages a,
	.pages b,
	.pages input {
		-webkit-appearance: none;
		-moz-appearance: none;
		-o-appearance: none;
		display: inline-block;
		font-size: /*[[FontSize]]*/ !important;
		text-align: center;
		border: none !important;
		text-align: center;
		margin: 0 1px 0 2px;
	}

/* moot's announcements */
	h3, h2, h1, font[color="red"] {
		font-size: 12px !important; 
	}
	h3, font[color="red"] {
		font-weight: 200 !important;
	}
	.pages input {
		margin-bottom: 2px !important;
	}
	marquee {
		display: none !important;
	}
	.pages b,
	.pages input,
	a,
	.new {
		-webkit-transition: background-color .1s linear;
		-moz-transition: background-color .1s linear;
		-o-transition: background-color .1s linear;
	}
/* Post Form */
/* Override OS-specific UI */
	#ft li,
	#ft ul,
	#options input:not([type='checkbox']):not([type='radio']),
	#updater input:not([type='checkbox']):not([type='radio']),
	.box-outer,
	.boxbar,
	.deletebuttons input[value=Delete],
	.recaptcha_image_cell > center > #recaptcha_image,
	[name='recaptcha_response_field'],
	.top-box,
	h2,
	input:not([type='checkbox']):not([type='radio']),
	input:not([type='radio']),
	input[type='file'] > input[type='button'],
	input[type='submit'],
	select,
	textarea {
		-webkit-appearance: none;
		-moz-appearance: none;
		-o-appearance: none;
	}
/* Positioning and transitions of the post form */
	.postarea form[name^='post'] {
		position: fixed;
		top: auto;
		left: auto;
		bottom: 2px;
		width: 248px !important;
		margin: 0 !important;
		z-index: 5;
	}

	.postarea form[name^='post'] > table,
	#recaptcha_image {
		width: 248px !important;
	}
/*[[PostForm]]*/
	.postarea form[name^='post'] > table > tbody > tr > td {
		padding: 0 !important;
	}
/* Unfuxor the Captcha layout */
	#recaptcha_widget_div * {
		margin: 0 !important;
		padding: 0 !important;
		height: auto !important;
	}

	#recaptcha_table #recaptcha_image {
		border: none !important;
	}

	.postarea #recaptcha_widget_div img {
		height: auto !important;
		width: 248px !important;
	}

	.postarea #recaptcha_widget_div {
		height: 68px;
	}
/* Collapse the postarea table for better control over the height and width */
	.postarea form[name^='post'] table {
		border-collapse: collapse;
	}
/* Formatting for all postarea elements */
	.postarea form[name^='post'] input:not([type='checkbox']):not([type='radio']):not([type='file']),
	#qr .move .inputtext,
	.postarea form[name^='post'] textarea,
	.postarea form[name^='post'] [name='upfile'] > input,
	.postarea #recaptcha_widget_div input,
	#qr_form img,
	#qr .inputtext[type='password'],
	.postarea #recaptcha_widget_div #recaptcha_image img,
	#qr textarea,
	#qr .inputtext {
		margin: 1px 0 0 !important;
		vertical-align: bottom;
	}
/* Width and height of all postarea elements (excluding some captcha elements) */
	.postarea form[name^='post'] textarea {
		height: /*[[TextareaHeight]]*/ !important;
		resize: none !important;
		font-size: /*[[FontSize]]*/ !important;
	}

	.deletebuttons .inputtext,
	input[type='password'],
	#qr form[name^='post'] input.inputtext,
	#qr form[name^='post'] [name='upfile'] > input,
	.postarea form[name^='post'] input.inputtext,
	form[name^='post'] input[name='upfile'] > input,
	#files input[name='upfile'] > input,
	.postarea #recaptcha_widget_div input,
	#com_submit,
	#usernameText + input {
		height: 19px !important;
	}

	.postarea form[name^='post'] .inputtext,
	#recaptcha_widget_div input {
		width: 248px !important;
	}
/* File and Subject inputs */
	.postarea form[name^='post'] .inputtext[name='sub'],
	.postarea form[name^='post'] [name='upfile'] > input[type='text'] {
		width: 185px !important;
	}
/* Buttons */
	input[type='submit'], /* Any lingering buttons */
	input[value="Report"],
	#com_submit /* Submit Button */,
	input[type='file'][name='upfile'] > input[type='button'] ,
	form[name^='post'] [name='upfile'] > input[type='button'] /* Browse Button (Fx*) */ {
		cursor: default !important;
		width: 50px;
		height: 19px;
		padding: 0 !important;
		font-size: 9px !important;
		text-transform: uppercase;
		vertical-align: bottom;
	}

	#com_submit,
	#qr #com_submit,
	#qr #files input[name='upfile'] > input[type='button'],
	form[name^='post'] input[name='upfile'] > input[type='button'],
	#qr form[name^='post'] input[name='upfile'] > input[type='button'],
	.postarea form[name^='post'] input[name='upfile'] > input[type='button'],
	#usernameText + input /* Last.fm button */ {
		width: 62px !important;
		margin: 1px 0 0 1px !important;
	}
/* Uniform padding for postarea inputs */
	.postarea form[name^='post'] .inputtext,
	.postarea form[name^='post'] [name='upfile'] > input,
	#recaptcha_widget_div input {
		padding: 2px !important;
	}
/* Force the file input's CONTAINER to behave as if it were non-existent, e.g. occupies no more space than its contents */
	input[type='file'][name='upfile'],
	.postarea input[type='file'][name='upfile'],
	#qr form[name^='post'] input[type='file'][name='upfile'] {
		height: auto !important;
		border: none !important;
		margin-top: 0 !important;
		padding: 0 !important;
	}
/* Webkit's file input box has a different syntax */
	.fake input[type='file']::-webkit-file-upload-button,
	* > input[type='file'][name='upfile'],
	* > .postarea input[type='file'][name='upfile'],
	* > #qr form[name^='post'] input[type='file'][name='upfile'] {
		background: transparent;
		border: none !important;
		height: 19px !important;
		padding: 0 !important;
		margin: 1px 0 0 !important;
		text-transform: uppercase;
	}

	.fake input[type='file']::-webkit-file-upload-button,
	* > .postarea input[type='file'][name='upfile'] {
		width: 248px !important;
	}

	.fake input[type='file']::-webkit-file-upload-button,
	* > #qr form[name^='post'] input[type='file'][name='upfile'] {
		width: 300px !important;
	}
/* Positioning of various postarea checkboxes */
	.postarea form[name^='post'] label {
		position: absolute;
	}

	form[name^='post'] > table td {
	   text-align: right;
	}

	.postarea #com_submit + label {
		font-size: 12px !important;
		top: auto !important;
		bottom: 0px;
		right: 20px;
		vertical-align: bottom;
	}

	#qr > input[name='email'] + label {
		bottom: 2px;
		right: 4px;
	}

	#qr #com_submit + label {
		font-size: 12px !important;
		top: auto !important;
		right: 70px;
		margin-top: 1px;
	}
	
	#qr #auto {
		position: relative !important;
		top: 1px !important;
	}

	@media screen and (-webkit-min-device-pixel-ratio:0) {
	#qr #com_submit + label {
		margin-top: -3px !important;
	}
	#qr #auto {
		position: relative !important;
		top: 5px !important;
	}
	}

/* /mu/ last.fm userscript support */
	#usernameText {
		width: 200px !important;
	}

	#usernameText + input {
		width: 101px !important;
	}

	.postarea form[name^='post'] > table td:not(.postblock) {
		font-size: 0 !important;
		color: transparent;
	}
/* Postform Labels */
	.boxcontent .postblock,
	form[name^='post'] .postblock {
		border: none !important;
		background-color: transparent !important;
		font-weight: 200 !important;
		text-align: right !important;
		vertical-align: top;
	}

	form[name^='post'] .postblock b {
		position: absolute;
		font-size: 12px !important;
		z-index: 2;
	}

	form[name^='post'] tr:nth-of-type(1) .postblock b::after {
		content: ' #Tripcode';
	}

	.postarea tbody > tr:nth-child(4) .postblock b, .postarea tbody > tr:nth-child(5) .postblock b, .postarea tbody > tr:nth-child(6) .postblock b, .postarea tbody > tr:nth-child(7) .postblock b {
		font-size: 0 !important;
		color: transparent !important;
	}

	.postarea form[name^='post'] tr .postblock b {
		right: 3px;
	}

	.fake input[type='file']::-webkit-file-upload-button,
	.postarea form[name^='post'] tr .postblock b {
		margin-top: 0px;
	}

	.postarea form[name^='post'] tr:nth-of-type(3n) .postblock b {
		right: 69px;
	}

	form[name^='post'] tr .postblock b {
		right: 16px;
	}

	form[name^='post'] tr:nth-of-type(3n) .postblock b {
		right: 82px;
	}

	.fake input[type='file']::-webkit-file-upload-button, /* Cheating. Firefox Stylish will ignore this block */
	.postarea form[name^='post'] tr:nth-of-type(6) .postblock b {
		right: 3px !important;
	}

	.fake input[type='file']::-webkit-file-upload-button,
	form[name^='post'] tr:nth-of-type(6) .postblock b {
		right: 16px;
	}
/* Quick Reply UI */
	form[name^='post'] input[name='recaptcha_response_field'] {
		outline: none !important;
		box-shadow: none !important;
	}

	#captchas {
		position: absolute;
		right: 7px;
		margin-top: 4px;
	}

	#files a {
		position: relative;
		margin-left: -75px;
		top: -2px;
		vertical-align: bottom !important;
		font-weight: bold;
	}

	#qr a#attach {
		font-size: 0 !important;
		visibility: hidden;
		position: absolute;
		bottom: 3px;
		right: 4px;
	}

	#qr a#attach::after {
		font-size: 12px !important;
		display: block;
		visibility: visible !important;
		width: 16px;
		content: "+";
		text-align: center;
		font-weight: bold !important;
	}
/* Image Hover and Image Expansion */
/*[[ihover]]*/
	#qp {
		z-index: 99 !important;
	}

	.exPopup {
		z-index: 99 !important;
	}

	#iHover {
		z-index: 99 !important;
	}

	body > table ~ form .reply a > img {
		position: relative !important;
		top: 0px !important;
		z-index: 96 !important;
	}

	.filesize ~ a > img + img {
		position: relative !important;
		top: 0px !important;
		z-index: 96 !important;
	}

	body > form #imgControls {
		z-index: 98 !important;
	}

	#imageType {
		border: none !important;
		width: 90px !important;
		position: relative !important;
		bottom: 1px !important;
		right: 0px !important;
		background: none !important;
	}
/* #qr dimensions */
	#qr {
		z-index: 98;
		height: auto !important;
		width: 300px;
		padding: 2px;
	}

	#qr input.inputtext,
	#qr input[type='file'][name='upfile'] > input[type='text'],
	#qr textarea {
		width: 300px !important;
	}

	#qr input[type=file][name='upfile'] {
		width: 300px !important;
	}

	#qr .move .inputtext {
		width: 198px !important;
	}

	#qr input[name='sub'],
	#qr input[type='file'][name='upfile'] > input[type='text'],
	#files input[type='file'][name='upfile'] > input[type='text'] {
		width: 237px !important;
		vertical-align: bottom;
	}

	#qr textarea {
		min-height: 100px !important;
	}

	.postarea td,
	td.reply,
	td.replyhl {
		z-index: 0;
		padding: 0 !important;
	}
/*[[CaptchaReload]]*/
	.postarea form[name^='post'] #recaptcha_reload_btn {
		bottom: 62px !important;
		right: 2px !important;
	}

	#cc-newpostarea form[name^='post'] #recaptcha_reload_btn,
	#cc-newpostarea2 form[name^='post'] #recaptcha_reload_btn {
		bottom: 13px !important;
		left: 290px !important;
		right: auto !important;
	}

	#cc-newpostarea2 form[name^='post'] #recaptcha_reload_btn {
		left: 288px !important;
		bottom: 34px !important;
	}

	form[name^='post'] #recaptcha_reload_btn,
	.refreshBtn {
		bottom: 76px !important;
		right: 15px !important;
	}

	#dragarea > div:nth-of-type(2) {
		width: 260px !important;
	}

	#maxchars {
		bottom: 131px;
		right: 12px;
	}

	#quickrep td > table {
		border-spacing: 0;
	}

	.top-box .menubutton,
	.logo {
		background-image: none !important;
	}
/* Post form Checkboxes */
	#qr_form input[name="email"] + label {
		/* Removes the brackets around Spoiler Image */
		font-size: 0 !important;
		color: transparent !important;
	}		
	#qr_form input[name="email"] + label::after {
		content: 'Spoiler Image?' !important;
		font-size: 12px !important;
	}
	form[name^='post'] input[name='email'] + label {
		position: absolute;
		top: auto;
		bottom: 2px;
		right: 70px;
		vertical-align: bottom;
	}

	form[name^='post'] #com_submit + label {
		position: absolute;
	}

	#qr_form input[name='email'] + label {
		bottom: 1px;
		right: 20px;
	}
	#qr_form input[name='email'] + label input {
		position: relative !important;
		top: 1px !important;
	}
	#qr > form[name^='post'] #com_submit + label,
	#quickrep > form[name^='post'] #com_submit + label {
		top: auto !important;
		right: 4px !important;
	}

	div.postarea > form td:nth-of-type(3) > label input,
	#qr > form tr:nth-of-type(3) > td:nth-of-type(3) > label input,
	#quickrep > form tr:nth-of-type(3) > td:nth-of-type(3) > label input,
	form[name='delform'] > div:not(.thread) input,
	.deletebuttons input[type='checkbox'] {
		vertical-align: middle;
	}

	form[name^='post'] td:nth-of-type(3) > label input,
	#qr label input,
	.boxcontent input,
	.boxcontent textarea {
		-webkit-appearance: button;
		-moz-appearance: none;
		-o-appearance: none;
		border: 0 !important;
	}

	input[type=checkbox],
	.reply input[type=checkbox],
	#options input[type=checkbox] {
		-webkit-appearance: button !important;
		-moz-appearance: none;
		-o-appearance: none;
		width: 12px !important;
		height: 12px !important;
		cursor: pointer !important;
	}
/* Posts */
	body > table ~ form[name='delform'] br[clear='left'],
	form[name='delform'] center {
		position: fixed;
		bottom: -500px;
	}

/*[[BackLinks]]*/

/*[[ReplyWidth]]*/

	form[name='delform'] > table:not(.pages),
	div.thread > table,
	.insertedPosts > table {
		border-spacing: 0 1px !important;
	}

	form[name='delform'] .filesize + br + a[target='_blank'] img, 
	#qp .filesize + br + a[target='_blank'] img  {
		border: 0;
		float: left;
		margin: 0 20px 25px !important;
	}

	form[name='delform'] .filesize + br + a[target='_blank'] img + img {
		margin: 0 0 25px !important;
	}

	html,
	body {
		margin: 0 !important;
	}

	.filesize {
		margin-top: 17px !important;
	}
/*[[expandfile]]*/
	.filesize span::after {
		font-size: /*[[FontSize]]*/ !important;
	}

	#filter.autohide:hover,
	#filter:not(.autohide),
	#updater:hover,
	#thread_filter.autohide:hover,
	#thread_filter:not(.autohide) {
		border: 0 !important;
	}


/*[[sageidentifier]]*/
/*[[nokosega]]*/

/* Fixes text spoilers */
	.spoiler:not(:hover),
	.spoiler:not(:hover) .unkfunc,
	.spoiler:not(:hover) a {
		color: #000 !important;
		text-shadow: none !important;
	}
/* Remove default 'inherit' background declaration */
	.span.filetitle,
	.replytitle,
	.postername,
	.commentpostername,
	.postertrip {
		background: transparent !important;
	}

	.postername,
	.commentpostername {
		font-weight: 700 !important;
	}
/* Addons and such */
	body > div[style='width: 100%;'] {
		margin-top: 34px;
	}

	#copyright,
	#header a,
	#qr td,
	#qr tr[height='73']:nth-of-type(2),
	#quickrep tr[height='73'] td:nth-of-type(2),
	#quickrep td.postblock,
	.recaptcha_input_area,
	.menubutton a,
	.chanchimp > div,
	.pages td,
	.recaptchatable td.recaptcha_image_cell,
	td[style='padding-left: 7px;'],
	div[id^='qr'] tr[height='73']:nth-of-type(2) {
		padding: 0 !important;
	}
	#navtopr {
		position: fixed;
		left: 150px !important;
		right: auto !important;
/*[[ChangeAlign]]*/
		right: 60px !important;
		left: auto !important;
		top: -100px !important;
		bottom: auto !important;
		font-size: 0 !important;
		color: transparent !important;
		z-index: 96 !important;
	}
	#navtopr a::after {
		content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAXhJREFUGBltwUtLlGEYANDn+8Zx1FFbRGJTlEEi7ipX0Vlpm0gpIqbaFZQJUVBEYtJFEMrIQdA2Ley2joIUpaAiMl3EvH8ptTt1TmwQitptUZLFL4ratcrFJqHXPfMu2CWPdUKLATX3dctDyCKUVb1RN2VrhFA2aNozy4Y1hQZ7VSK0GvbBV/0RWgx6aMac504rhWYjRu3U5Kz3kksaDZk2Y1bNuC5ZKDnvk0lXvFKXPLbHhJo5NWN6FCJCbp9Fa1bUJcmqCcdMeWBcj0JsEJod9VJdkiTJiknHXdWtED8JRZ36XPZOkiSf3dEpj3/JVC2rS5I1t3XI4m/CNv0uWpIkyaox22Xxm1Bx01O9TnorSZIvbtghi++0OeiueYeVZM5YkiR1H13XIYsIRQNeW3BCc6zT5JQFyQsjZh1RDGG3eWtuqcQmoaxqwah215zTFBpVLRrWpSF+ENpUPTLliUMKIVdxQJv4k1C235A+zSKETB7/IVeUi4hvybaSroCUb0QAAAAASUVORK5CYII=');
		position: fixed !important;
		top: 1px !important;
		right: 7px !important;
		z-index: -1 !important;
}
/* Strip 4chan+ of shadows and rounded edges */
	#navbar,
	#boardsMenu,
	#popup,
	.navbar2, /* 4chanplus - submenus */
	#crntBoard, /* 4chanplus - 'current board' */
	#quickrep {
		-webkit-border-radius: 0 !important;
		border-radius: 0 !important;
		-webkit-box-shadow: none !important;
	}

	#navbar {
		margin-left: -265px !important;
		height: 26px !important;
	}

	#crntBoard {
		height: 24px !important;
	}
/* Expand Images div */
	#imgControls {
		position: fixed;
		left: 2px !important;
		right: auto !important;
/*[[ChangeAlign]]*/
		left: auto !important;
		right: 101px !important;/**/
		top: 23px !important;
		bottom: auto !important;
		width: 150px;
		z-index: 2;
	}

	#imgControls input {
		width: 10px !important;
		height: 10px !important;
		margin: 4px 1px !important;
		vertical-align: top !important;
	}

	#imgControls label input {
	        position: relative !important;
	        bottom: 2px !important;
	}

	#imgControls label {
		font-size: 0 !important;
		color: transparent !important;
	}

	#imgControls label::after {
		font-size: /*[[FontSize]]*/ !important;
		content: 'Expand';
	}

	#imgControls select {
		float: right !important;
	}
/* Hide UI of the select element */
	select > button,
	select > input {
		opacity: 0;
	}

	#imgControls select > option {
		font-size: 80% !important;
	}
/* End of Expand Images div */
/* Reply Previews */
	#backwash_tooltip, /* /b/ackwash reloaded */
	#popup, /* 4chanplus */
	#qp, /* 4chan x Quote Preview */
	div[id^=ref] /* 4chan4chrome */ {
		max-width: 70%;
		visibility: visible;
	}

	#qp {
		padding: 2px 6px !important;
	}

	#backwash_tooltip,
	#popup,
	div[id^='ref'],
	#cc-quotedcontainer_t {
		visibility: visible;
		z-index: 10 !important;
	}

	#cc-newpostarea,
	#cc-newpostarea2 {
		z-index: 9 !important;
	}

	#backwash_tooltip img,
	#popup img,
	#qp img,
	div[id^='ref'] img {
		max-width: 300px !important;
		height: auto !important;
	}

	#popup > img {
		max-width: 100% !important;
	}
	table[align=right] {
		position: fixed !important;
		top: -1000px !important;
	}
	table[align=right]  {
		position: fixed !important;
		top: -1000px !important;
		right: auto !important;
		left: 2px !important;
/*[[ChangeAlign]]*/
		right: 2px !important;
		left: auto !important; /**/
		bottom: auto !important;
		width: 248px !important;
		margin: 0px !important;
		padding: 0px !important;     
		font-size: 0px !important;
	}
	.deletebuttons {
		font-size: 0px !important;
		color: transparent !important;
		height: 30px !important;
		margin-top: 0px !important;
		padding-right: 3px !important;
	}

	table[align=right]::before {
		content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAa5JREFUGBkFwc8r3nEAAODn++nTixKltGyEN5SsKLHekzlwcPAfeHnTWsp1ByX7C3ZbucivZbXDtIOLdlA4LOLg5kCU5MJ6Hd43mT57nghQyrIajVo0yDy5c58qay9AhBI1Ok2Y9FaTTNWlPdulU49riUiJeu/NpxG1gDp9eo1b8b10u5Yiary3ZFAAAEGPT+p8nXmIM5lO8wYFFUda5QUPzuS1afYhnduOatKEEUEl+2VZe1r0Olvx02ia0+6NWftRo0m1OErL/jhR1p9W3bnW4qNaBX1Ri7egVbuT9erMrgPllGWv5OVQrxBTgyaQt6g8vbv+rDyd6UoLxgTQEWUyELzW70AZQYcBOUCInlTV4cGKVeViJmy8TB/6bEmvgL/RnUt9OPMz3cl06SgeblSLv7Nh3XKeHcd0b0+vIG/UtVcWDPhc/O1dGhJx4SSq2DauR5s5LfLG5CwZNqQgqNhyEzdfiqdWfNKs3Uc5Ab26RcE/O36oRjz6ri598EYtIMihYif74mozRTbT1K2vzs0qqAc8u7DlR7ryTIRvaerBtn19CjoEfx07caP6LcF/fuCUdisjvxsAAAAASUVORK5CYII=') !important;
		visibility: visible !important;
		position: fixed !important;
		top: 1px !important;
        left: 20px !important;
        right: auto !important;
/*[[ChangeAlign]]*/
        right: 95px !important;
		left: auto !important; /**/
	}
	table[align=right]:hover {
		position: fixed !important;
		top: 12px !important;
		z-index: 99 !important;
	}

	#popup {
		position: fixed !important;
		top: auto !important;
		left: auto !important;
		right: 2px !important;
		visibility: visible !important;
		bottom: 24px;
	}

	table[align=right]:hover input[type='checkbox'] {
		position: absolute !important;
		right: 173px !important;
		top: 10px !important;
	}

	table[align=right]:hover::after {
		visibility: visible !important;
		position: absolute !important;
		right: 125px !important;
		top: 10px !important;
		font-size: 12px !important;
		content: 'File Only';
	}

	.deletebuttons .inputtext {
		width: 138px;
		margin-right: 1px !important;
	}
	
	.navlinks,
	#navlinks,
	span[id^='4chan_ext_right'] {
	right: 5px !important;
/*[[ChangeAlign]]*/		right: 255px !important;/**/
	}

	#navlinks {
		position: fixed !important;
		top: 0px !important;
		z-index: 99 !important;
	}
	html body > span[style='left: 5px; position: absolute;']:nth-of-type(0) {
		display: none;
	}

	html body span[style='left: 5px; position: absolute;'] {
		font-size: 0 !important;
		visibility: hidden;
	}

	html body span[style='left: 5px; position: absolute;'] a {
		position: fixed !important;
		top: auto;
		left: 2px !important;
		right: auto !important;
/*[[ChangeAlign]]*/
		left: auto !important;
		right: -192px !important; /**/
		bottom: -1000px;
		visibility: visible !important;
		height: 14px !important;
		width: 58px !important;
		margin: 0 !important;
		padding: 0 !important;
		font-size: 9px !important;
		text-transform: uppercase;
		vertical-align: bottom !important;
		padding-top: 5px !important;
		border-radius: 0 !important;
		text-align: center;
	}
	html body span[style='left: 5px; position: absolute;'] a::after {
		content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAUJJREFUOE/Vkj9LglEUh18xC0GkfwS1+hGipcK2hr7DGw0uDRKCQyI0tAQN7U4tfoOGsKkhCAqaai0CQYRQGiwiK59fHPNSr+RbNPTCw/Fez3nuvedez/tXn+/7UUj8atMIRmEFNn4konAEZmEbLqEaSkRBBKYhA0dwD29wN5CIRM92kSbuwy08m0SiFmwaBWIOlmFSi38swiAOWbiCB0cgiXiFhtHUDuEayqAWRN9lJio6R+kKvotP1BxCSqfqymIMFuEAtOqLs7NHfu8Yu7aTG8tpE3XcuHtENXsG8nAB6o2O1XSbzXgY1qFmi1WIY18uxBIXiCVQL+qfk5hbgnMTnREn+t6s/oQ12AsQzTN/aiIJ+4vsIoZISgaI5pg/BjX8BMYHemsBoimK9W3BKvSaHcZIoS5G7y9psfcww4j+NLcD3erbomf70ToAAAAASUVORK5CYII=');
		position: fixed !important;
		top: 1px !important;
		right: 117px !important;
		cursor: pointer !important;
	}
/* File Clearer support */
	.clearbutton {
		position: fixed !important;
		bottom: 45px !important;
		right: 55px !important;
	}
/* AutoPager */
	#autoPagerBorderPaging {
		position: fixed !important;
		right: 300px !important;
		bottom: 0px !important;
		z-index: 99 !important;
	}
	.autoPagerS {
		display: none !important;
	}
/* 4chan x options */
	#overlay {
		z-index: 99 !important;
	}

	#options ul {
		margin: 0 !important;
	}

	#options ul > li {
		padding: 0 !important;
	}
/* End of 4chan x options */
	#filter,
	#thread_filter {
		position: fixed !important;
		top: 17px !important;
		left: 2px !important;
		right: auto !important;
/*[[ChangeAlign]]*/
		left: auto !important;
		right: 2px !important;/**/
		bottom: auto !important;
	}

	#filter > div:first-child,
	#thread_filter > div:first-child {
		cursor: default !important;
	}

	#filter.autohide:not(:hover),
	#thread_filter.autohide:not(:hover) {
		width: 248px !important;
		text-align: right;
	}

	#filter.autohide:hover,
	#thread_filter.autohide:hover {
		width: 248px !important;
		left: 2px !important;
		/*[[ChangeAlign]]*/
		left: auto !important;
		right: 2px !important;/**/
	}

	#filter:not(.autohide) a[title='Auto-hide dialog box']::after,
		#thread_filter:not(.autohide) a[title='Auto-hide dialog box']::after {
		content: ' - SET THIS!!';
	}
		#thread_filter::before {
		content: "Filter";
		font-size: 13px;
		position: fixed;
		left: 130px;
/*[[ChangeAlign]]*/
		left: auto;
		right: 130px;/**/
		top: 20px;
		min-width: 30px;
		max-width: 30px;
	}
	#thread_filter span:first-of-type {
		font-size: 0 !important;
	}
	#thread_filter {
		position: fixed !important;
		top: -20px !important;
	}
	#thread_filter:hover {
		position: fixed !important;
		top: 20px !important;
	}
	#filter,
	#thread_filter,
	#stats {
		padding: 3px 0;
		border: 0 !important;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		font-size: /*[[FontSize]]*/ !important;
		z-index: 4 !important;
	}

	#stats {
		position: fixed !important;
		top: 20px !important;
		right: auto !important;
		left: 150px !important;
/*[[ChangeAlign]]*/
		right: 45px !important;
		left: auto !important; /**/
		width: 96px !important;
		text-align: right !important;
		bottom: auto !important;
		cursor: default !important;
	}

	#updater {
		right: auto !important;
		left: 190px !important;
/*[[ChangeAlign]]*/
		right: 2px !important;
		left: auto !important; /**/
		top: 23px !important;
		bottom: auto !important;
		width: 58px !important;
		border: 0 !important;
		font-size: 12px;
		overflow: hidden;
		z-index: 5 !important;
		padding-bottom: 2px;
	}

	#count.new {
		background-color: transparent !important;
	}

	#updater:hover {
		width: 150px !important;
		left: 98px !important;
/*[[ChangeAlign]]*/
		right: 2px !important;
		left: auto !important;/**/
		z-index: 99 !important;
	}

	#updater #count:not(.new) {
		font-size: 0 !important;
		color: transparent !important;
	}

	#updater #count:not(.new)::after {
		font-size: /*[[FontSize]]*/ !important;
		content: '+0';
	}

	#watcher  {
		position: fixed !important;
		top: -1000px !important;
		right: auto !important;
		left: 2px !important;
/*[[ChangeAlign]]*/
		right: 2px !important;
		left: auto !important; /**/
		bottom: auto !important;
		width: 246px !important;
		padding-bottom: 4px !important;
	}
	#watcher > div {
		max-width: 246px !important;
	}
	#watcher .move {
		font-size: 0px !important;
		height: 0px !important;
	}
	.op .favicon {
		position: relative !important;
		top: 2px !important;
	}
	#watcher::before {
		content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAASdJREFUGBnFwb1LlAEcAOBf7+U73nlU6Ch42BtOx5koPou7qzrYEvk5pFBDQZanQaByegqu6qSEgi0RKMItNbkdUhE1h63ZHLX5F/g8cW3kFJWUlZUU5eIqibyyh1YdOHXqUM0jFXlJ/CO0uGvcsl3nLv1y4Y8f9q2YkElFaFGx4JVRdV+cWPDMkW92PDCvqlcautQ80YVjDVveKOp34KMhJXPWZKHmtXaJEWc27Tl3Q96sphmJNlWboW5Rm8SIM1UdCkLerKYZiTte2gqZNXNKBhz7YFBRQZ+3PhnS6bEN3SHVa9G8Yes+e++5pw59tWPMC0v6pSGk7pmyYlvTbxd+uvTdnlXTuqXiP4mCHuNqjjQ0vFM36b5WOXGFnFsyFT0yt92M6/IXu052NUrsdDsAAAAASUVORK5CYII=') !important;
		height: 9px !important;
		font-size: 12px !important;
		position: fixed !important;
		top: 1px !important;
        left: 20px !important;
        right: auto !important;
/*[[ChangeAlign]]*/		
        right: 193px !important;
		left: auto !important; /**/
		min-width: 30px !important;
		max-width: 30px !important;
	}
/*[[watcherslideout]]*/
	#backwash_tooltip,
	#qp,
	#popup,
	div[id^=ref],
	td.reply,
	td.replyhl,
	#options,
	#navbar,
	#popup,
	#boardsMenu {
		border: 0 !important;
	}

	#watcher,
	#threadwatcher /* 4chan4chrome's threadwatcher */ {
		border: 0 !important;
		padding: 1px 0;
		overflow: hidden;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
	}

	#threadwatcher .postblock {
		margin: 0 !important;
		padding: 0 !important;
		border: 0 !important;
	}

	#watcher .move,
	#threadwatcher .postblock {
		padding: 2px 3px !important;
		margin-bottom: 2px !important;
		text-decoration: none !important;
	}

	#watcher .move,
	#updater .move,
	#options .move,
	#stats .move {
		cursor: default !important;
	}
/* 4sight */
	body > a[style='cursor: pointer; float: right;'] {
		position: fixed;
		top:-119px;
		left: 60px;
/*[[ChangeAlign]]*/		
		right: 60px !important;
		left: auto !important; /**/
		z-index: 96;
		font-size: 0px !important;
		
	}

	body > a[style='cursor: pointer; float: right;']::after {
		content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAQAAAAngNWGAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAVpJREFUKM9jsGEgDjKQo5Dd1tE22Tbe1sCGEY9CO1v7g443nYDQ4ab9MjtZHArtrRyvuF2LXpbTlNkZstXlpsMBO1EsCu1ZHHe7X8/NnS4ynWE603SF2GmuNx3asCh0NHO5GbJgOhtMsEvS57jzOQc2DIXOEa43/WMRgtMZfGa43HSSwVDoGeJ60zkBWdhljsuNAEkMhYk6Ljec1tkxwwTtpZ0ueh7tZcVQOIU1YIXTTbtOG14Qz1bBfqPTzdAqrMFTY+B9wOGm3WnbBbYr7K443nS+6bjbTgqLwukMHUbRs11POVx3uOZ5MKXTZ6/jTbsLNqts5LFE4XS+aUbtnt0u07WmszcZu54FxtBN2wM2CngTxXQGz0UON6FK5fGmnhpjz4MgpXY3bffZcONROJ2h1srjoD3QTLubjgZ40+N0hjpLj/32Nz32VgsRSLjTGSZoV0VN0CYphQMARXWvwMUKKyAAAAAASUVORK5CYII=') !important;
		font-size: 12px !important;
		position: fixed !important;
		top: -1px !important;
		left: 60px;
/*[[ChangeAlign]]*/			
		right: 28px !important;
		left: auto !important; /**/
	}

	div[style="width: 100%; "] {
		position: relative !important;
		top: 20px !important;
		max-width: 90% !important;
		min-height: 60% !important;
		margin: auto !important;
	}

	table[style="width: 100%; height: 450px; table-layout: fixed; border-collapse: collapse;"] {
		height: 70% !important;
	}

	#fs_preview {
		height: 100% !important;
	}

	#fs_search {
		min-width: 138px !important;
		max-width: 138px !important;
	}
/*[[PagesPosition]]*/
/*[[ColorScheme]]*/
/*[[RoundedCorners]]*/
	.filesize+br+a[target='_blank']:hover {
		background: none !important;
	}
/* Adblock Minus */
	img[src^='http://static.4chan.org/support/'] {
		display: none;
	}
}

/*[[CustomBoardNames]]*/

/*[[QuickReply]]*/

@-moz-document domain(rs.4chan.org) {
/* /rs/ hacks */
	table.pages td:nth-of-type(2n-1) {
		display: table-cell !important;
	}

	#footer > center,
	#footer > center * {
		visibility: visible !important;
	}

	.postarea {
		margin-top: 20px !important;
	}

	.postarea form:first-child,
	.postarea .postblock,
	.postarea .postblock b {
		position: static !important;
	}

	body table table {
		width: 100% !important;
	}

	.postarea tr:nth-of-type(1) .postblock b::after {
		content: '';
	}

	.postarea tr:nth-of-type(2) .postblock b::after {
		content: '';
	}
}

@-moz-document url-prefix('http://www.4chan.org/') {
	html {
		display: table !important;
	}

	body {
		display: table-cell !important;
		vertical-align: middle !important;
	}
	html,
	body {
		height: 100% !important;
		width: 100% !important;
	}
	#bd {
		width: 630px !important;
		margin: auto !important;
	}
	#announce {
		width: 630px !important;
	}
	#doc,
	#ft ul {
		min-width: 0 !important;
		max-width: 1280px !important;
		width: auto !important;
	}

	#ft ul {
		text-align: center !important;
	}

	#ft li {
		float: none !important;
		display: inline-block !important;
		margin: 0 !important;
		padding: 0 12px !important;
	}

	#boards .column {
		width: auto !important;
		margin: 0px 5px 0px 5px !important;
	}
}

@-moz-document /*[[CenteredImages]]*/ url('http://www.4chan.org/banned') {
	html {
		display: table !important;
	}

	body {
		display: table-cell !important;
		vertical-align: middle !important;
	}

	html,
	body {
		height: 100% !important;
		min-width: 101% !important;
		width: 101% !important;
		overflow-y:scroll;
	}


	img {
		margin: auto !important;
		overflow: auto !important;
	}

	#doc {
		width: 65% !important;
		min-width: 800px !important;
	}

	img {
		display: block !important;
	}

	#ft ul {
		text-align: center !important;
	}

	#ft li {
		float: none !important;
		display: inline-block !important;
	}

	b {
		font-weight: 800 !important;
	}
}

@-moz-document url-prefix('http://www.4chan.org'), domain('rs.4chan.org') {
	body {
		background-image: none !important;
	}
}

@-moz-document domain('status.4chan.org') {
	#header {
		position: static !important;
	}
}

@-moz-document url('http://www.4chan.org/'),
url('http://www.4chan.org/#'),
url('http://www.4chan.org') {

	.yui-g {
		display: none !important;
	}
}

@-moz-document url-prefix('http://boards.4chan.org/f/') {
	form[name="delform"] center {
		position: static !important;
	}
}
