.akiyama1:hover::after {
  content: url('http://i.imgur.com/MdE9K.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.akiyama2:hover::after {
  content: url('http://i.imgur.com/pBuG2.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.applejack:hover::after {
  content: url('http://i.imgur.com/1ufSL.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.miosit:hover::after {
  content: url('http://i.imgur.com/0x4Rr.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.asuka:hover::after {
  content: url('http://i.imgur.com/Wj7s7.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.brs:hover::after {
  content: url('http://i.imgur.com/VidKo.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.cc:hover::after {
  content: url('http://i.imgur.com/Ir1v3.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.dawn:hover::after {
  content: url('http://i.imgur.com/lxLdH.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.fluttershy:hover::after {
  content: url('http://i.imgur.com/x88ZT.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.fluttershy2:hover::after {
  content: url('http://i.imgur.com/hokhQ.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.fluttershyc:hover::after {
  content: url('http://i.imgur.com/vBqiB.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.erika:hover::after {
  content: url('http://i.imgur.com/zLsPY.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.gasai:hover::after {
  content: url('http://i.imgur.com/iG1F2.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.hasekura:hover::after {
  content: url('http://i.imgur.com/qTQqY.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.hatsune1:hover::after {
  content: url('http://i.imgur.com/lKQHW.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.hatsune2:hover::after {
  content: url('http://i.imgur.com/ULksz.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.hatsunebig:hover::after {
  content: url('http://i.imgur.com/H1pgZ.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.hirasawa:hover::after {
  content: url('http://i.imgur.com/sL1Uo.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.horosillight:hover::after {
  content: url('http://i.imgur.com/HMpug.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.horosildark:hover::after {
  content: url('http://i.imgur.com/PKfl4.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.horosil2light:hover::after {
  content: url('http://i.imgur.com/BjV3U.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.horosil2dark:hover::after {
  content: url('http://i.imgur.com/8fcrD.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.ika:hover::after {
  content: url('http://i.imgur.com/rKT7L.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.ika2:hover::after {
  content: url('http://i.imgur.com/uUhGG.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.iwakura:hover::after {
  content: url('http://i.imgur.com/AfjG9.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.iwakura2:hover::after {
  content: url('http://i.imgur.com/hIBLa.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.kagamine:hover::after {
  content: url('http://i.imgur.com/fXXd2.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.kaname:hover::after {
  content: url('http://i.imgur.com/4PHsl.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.koiwai:hover::after {
  content: url('http://i.imgur.com/1MyDM.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.nagato:hover::after {
  content: url('http://i.imgur.com/ucnzg.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.nagatosillight:hover::after {
  content: url('http://i.imgur.com/uR35P.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.nagatosildark:hover::after {
  content: url('http://i.imgur.com/aGFCl.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.npantsu:hover::after {
  content: url('http://i.imgur.com/L9ZAT.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.npantsu2:hover::after {
  content: url('http://i.imgur.com/MwoI9.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.nakano:hover::after {
  content: url('http://i.imgur.com/6c3p3.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.patchouli:hover::after {
  content: url('http://i.imgur.com/QoKJb.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.pinkiepie:hover::after {
  content: url('http://i.imgur.com/rY3w4.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.pinkiepie2:hover::after {
  content: url('http://i.imgur.com/zy6rO.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.rainbowdash:hover::after {
  content: url('http://i.imgur.com/Zf3eQ.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.rarity:hover::after {
  content: url('http://i.imgur.com/Mbhf7.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.seraphim:hover::after {
  content: url('http://i.imgur.com/PA7pJ.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.shana:hover::after {
  content: url('http://i.imgur.com/JNS1z.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.shinonome:hover::after {
  content: url('http://i.imgur.com/TBHI6.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.suzumiya:hover::after {
  content: url('http://i.imgur.com/iVl5d.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.suzumiya2:hover::after {
  content: url('http://i.imgur.com/rW9Q6.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.tardis:hover::after {
  content: url('http://goput.it/vig.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}
.twilight:hover::after {
  content: url('http://i.imgur.com/r5q9h.png');
  position: fixed;
  bottom: 244px;
  right: 0px;
}


