body {
  background-color: #EEE;
  color: #000;
  font-family: Ubuntu, serif;
  margin: auto;
  position: static !important;
  text-align: justify;
  width: 700px;

}
::-moz-selection {
  background: #FA0;
  color: #FFF;
  text-shadow: none;
}
::selection {
  background: #FA0;
  color: #FFF;
  text-shadow: none;
}
h1, h2, h3, h4 {
  color: #004a99;
  text-transform: capitalize;
  margin: 0;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}
b {
  color: #004a99;
}
h1 {
  font-size: 90px;
}
h2 {
  background-color: whiteSmoke;
  border: 1px solid whiteSmoke;
  border-radius: 4px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .2) inset;
  font-size: 100px;
  margin: 5px -5px;
  text-transform: uppercase;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
h2:hover {
  background-color:      rgba(255, 170, 0, .1);
  border-color:          rgba(255, 170, 0, .25);
  box-shadow: 0 4px 20px rgba(255, 170, 0, .6) inset;
}
h1 {
  text-shadow:  3px 3px 1px #999;
}
h2 {
  text-shadow: 1px 1px 1px #FFF, 2px 2px 1px #FFF, 3px 3px 1px #999, 4px 4px 10px #999;
}
h2:hover a {
  color: #E69900;
  text-shadow: 1px 1px 1px #FFF, 2px 2px 1px #FFF, 3px 3px 1px #FA0, 4px 4px 10px #FA0;
}
h3 > a {
  display: inline-block;
  vertical-align: middle;
  width: 33%;
}
label {
  cursor: pointer;
}
#features, #main {
  position: absolute;
  left: 0; right: 0;

}
#para { 
  border-radius: 3px; 
  background-color: #ddd; 
  border: solid 1px #ccc; 
  padding-top: 10px; 
  font-size: 14px;
}


.reply, .comment {
  text-align: left; !important; 
  width: 668px;
  border-radius: 3px; 
  background-color: #ddd; 
  border: solid 1px #ccc; 
  padding-left: 2px;
  padding-top: 4px;
  padding-right: 20px;
  font-size: 12px;
  font-family: "Arial", "Helvetica", "sans-serif";
  margin-bottom: 2px;
}

.comment blockquote img {
  margin-right: 10px !important;
}

input, textarea, .auto {
  font-family: "Arial", "Helvetica", "sans-serif";
}

textarea {
  resize: none !important;
}

.postertrip {
  color: #ff3300;
}

.greentext {
  color: #789922;
}

.quotejs, .backlink {
  color: #000;
}

.backlink:hover {
  color: #000;
  cursor: pointer;
}

.quotejs:hover {
  color: #ff6600;
  cursor: pointer;
}

input[type='checkbox'] {
  border: 1px solid #CCC;
  background-color: #FFFFEE;
  border-radius: 2px;
  -webkit-appearance: button !important;
  /* -moz-appearance: none !important; */
  width: 12px !important;
  height: 12px !important;
  cursor: pointer !important;
}
input[type=checkbox]:checked {
  background-color: #bcc0d4;
}

select {
  display: none !important;
}

/* Firefox */
@-moz-document url-prefix() {
  /* Hide checkboxes in Firefox because it wont let me style them */
  input[type='checkbox'], .auto:not([name="subscribe"]); {
    display: none !important;
  }
  /* Make up for lack of checkboxes */
  .reply {
    padding-left: 10px !important;
  }
  /* Submit button too high up */
  input[type="Submit"] {
    position: static !important;
  }
  /* Subject input has space underneath, and its too wide in Firefox */
  input[name="subject"] {
    margin-bottom: 0px !important;
    width: 183px !important;
  }
  /* Color scheme reply padding */
  .reply {
    padding-top: 8px !important;
  }
  textarea {
    height: 70px !important;
  }
  .anonymousb {
  font-weight: 600;
  }
} 

/* Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* Chrome checkmark */  
  input:checked {
    content: url('http://i.imgur.com/CAewG.png');
  }
  .auto {
    bottom: 186px !important;
  }
  .auto input {
    top: 5px !important;
  }
  input[name="name"], input[name="verification"], input[name="password"], input[name="email"] {
    width: 247px !important;
  }
  input[type="submit"] {
    bottom: 2px !important;
  }
  input[name="subject"] {
    width: 192px !important;
  }
  textarea {
    margin-top: -1px !important;
    height: 64px !important;
  }
  .reply input {
    position: relative !important;
    top: 4px !important;
  }
  .reply {
    padding-top: 2px !important;
  }
  .anonymousb {
  font-weight: 800;
  }
}

#main {
  position: relative;
  left: 4px;
}

input:focus,
textarea:focus {  
  outline: none !important;
}


#faq:target ~ #main, 
#firefox:target ~ #main,
#chrome:target ~ #main,
#opera:target ~ #main,
#mascots:target ~ #main,
#options:target ~ #main,
#report:target ~ #main,
#report:not(:target) ~ #reportp,
#colorschemes:target ~ #main,
#faq:not(:target) ~ #faq-list, 
#firefox:not(:target) ~ #firefoxinst,
#chrome:not(:target) ~ #chromeinst,
#opera:not(:target) ~ #operainst,
#colorschemes:not(:target) ~ #colors,
#mascots:not(:target) ~ #mascotsp,
#options:not(:target) ~ #optionsp {
  display: none;
}

#HCB_comment_form_box {
  font-size: 12px !important;
  width: 300px;
  margin: auto;
}

#hcb_msg {
  margin: auto;
}

#HCB_comment_box b, #HCB_comment_box h3 {
  font-weight: 100 !important;
}

#HCB_comment_box {
  font-size: 14px !important;
}

#HCB_comment_box h3 {
  display: none !important;
}

#HCB_comment_form_box a {
  position: relative !important;
  left: 85px !important;
}


header {

  font-size: 20px;
  font-weight: 700;
  margin-top: 1em;
  padding: 5px 5px 0;
  text-align: center;
}
a {
  color: #ff6600;
  text-decoration: none;
}
a:hover {
  color: #dd0000;
}

#optionsp blockquote {
  text-align:center;
  position: relative;
  right: 10px;
  bottom: 3px;
}

#main a {
  font-size: 14px !important;
}

code, pre {
  background: #EEE;
  border: 1px solid #DDD;
  border-radius: 2px;
  text-shadow: 0 1px 1px white;
  padding: 0 1px;
}
#mascotlink:hover {
  cursor: pointer;
}
.faqanswer {
  font-size: 13px;
  text-align: center;
  position: relative;
  right: 20px;
}
small, img[src="http://www.htmlcommentbox.com/static/images/feed.png"] {
  display: none;
}

a {
  outline: 0 !important;
}

a[href="http://www.htmlcommentbox.com"] {display:none !important;}
.faqquestion {
  position: relative;
  left: 20px;
}
.faqpost {
  margin-bottom: 4px;
}
