/* AppChan: */
/*[[CustomScrollbars]]*/
	::-webkit-scrollbar-thumb:hover { background: #3f3f3f; }
	::-webkit-scrollbar-thumb:active { background: #111; }
	::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner, ::-webkit-scrollbar-resizer { background: #333; }
	::-webkit-scrollbar-thumb { background: #262626; border: #2c2c2c !important; }
	scrollbar, scrollcorner { background: #333 !important; }
	thumb { border-color: #333 !important; background: #262626; }
	thumb:active { background: #111 !important; }
	thumb:hover { background: #3f3f3f; }
/**/
	::-webkit-selection {
		background: #aaa;
		color: #101010;
	}

	::-moz-selection {
		background: #aaa;
		color: #101010;
	}

	::selection {
		background: #aaa;
		color: #101010;
	}
	body {
background-image: none !important;
	}

	body,
	body > form,
	html body span[style='left: 5px; position: absolute;'] a,
	div.postarea,
	input,
	select,
	td.deletebuttons,
	textarea,
	.abbr,
	.boxbar,
	.boxcontent,
	.commentpostername,
	.filetitle,
	.logo,
	.omittedposts,
	.pages b,
	.postblock,
	.postername,
	.postertrip,
	.reply,
	.replyhl,
	.trip
	#backwash_tooltip,
	#header .title,
	#imgControls label::after,
	#navbot::after,
	#qp,
	#twi_table_div,
	#updater #count:not(.new)::after,
	font[color="red"],
	#qr_form input[name="email"] + label::after {
		color: #aaa !important;
	}

/*[[TransparentReplies]]*/	.op > blockquote,
	.thread > blockquote,
	form[name='delform'] > blockquote, /**/
	div.logo font {
		text-shadow: #2c2c2c 1px 0 2px, #2c2c2c -1px 0 2px, #2c2c2c 0 -1px 2px, #2c2c2c 0 1px 2px;
	}

	div.postarea > form td:nth-of-type(3) > label,
	#qr > form tr:nth-of-type(3) > td:nth-of-type(3) > label,
	#quickrep > form tr:nth-of-type(3) > td:nth-of-type(3) > label,
	#autonoko {
		color: #888;
	}

	input[type='file']::-webkit-file-upload-button {
		color: #666 !important;
	}

	.replyhider a {
		color: #222 !important;
	}

	.replyhider a:hover {
		color: #555 !important;
	}

	a,
	.postername a,
	.commentpostername a,
	a .postertrip {
		color: #68a !important;
	}

	a:hover,
	.postername a:hover,
	.commentpostername a:hover,
	a:hover .postertrip {
		color: #444 !important;
	}

	a.backlink,
	a.forwardlink {
		color: #4f5f8f !important;
	}

	a.forwardlink {
		font-weight: 800 !important;
	}

	.span.filetitle,
	.replytitle {
		color: #909090 !important;
	}

	.unkfunc {
		color: #789922 !important;
	}

	#boards h3,
	#boardsMenu,
	#ft li,
	#ft ul,
	#navbar,
	#options .dialog,
	#popup,
	#threadwatcher,
	#threadwatcher .postblock,
	#watcher,
	.box-outer,
	.boxbar,
	.deletebuttons input[value=Delete],
	.recaptcha_image_cell > center > #recaptcha_image,
	.recaptchatable #recaptcha_response_field,
	.top-box,
	.yuimenuitem-selected,
	input,
	input[type='file'] > input[type='button'],
	input[type='submit'],
	select,
	td.postblock,
	td.reply,
	textarea {
		background-color: #333 !important;
	}

	div[id^='4chan_ext_iqr'],
	div[id^='4chan_ext_iqr'] *,
	#filter input,
	#filter textarea,
	#header,
	#options input,
	#options textarea,
	#qr,
	#qr > form tr:nth-of-type(3) > td:nth-of-type(3) > label input,
	#quickrep,
	#quickrep > form tr:nth-of-type(3) > td:nth-of-type(3) > label input,
	#qr label input,
	#thread_filter input,
	#thread_filter textarea,
	#updater input:not([type='checkbox']),
	.bd,
	.boxcontent > hr,
	.boxcontent input,
	.boxcontent textarea,
	.pages,
	html,
	body,
	div.postarea > form td:nth-of-type(3) > label input,
	div[id^=qr],
	table.reply[style^='clear: both'] {
		background-color: #2c2c2c !important;
	}

	#navbot,
	#navbot::after {
		background-color: #393939 !important;
	}

	#backwash_tooltip,
	#cc-showpostarea,
	#filter.autohide:hover,
	#filter:not(.autohide),
	#twi_table_div,
	#twi_table_div *,
	#qp,
	#updater:hover,
	#thread_filter.autohide:hover,
	#thread_filter:not(.autohide),
	#popup,
	.chanchimp,
	.chanchimp > div,
	.recaptchatable #recaptcha_response_field:hover,
	.deletebuttons input[type='password']:hover,
	div[id^=ref],
	input:hover,
	input[type='file'] > input[type='button']
	input[type='submit']:hover,
	td.replyhl,
	tr.replyhl,
	textarea:hover {
		background-color: #393939 !important;
	}

	.qphl {
		outline-color: #627c8d !important;
	}

	.recaptchatable #recaptcha_response_field:focus,
	.deletebuttons input[type='password']:focus,
	input:focus,
	input[type='submit']:focus,
	textarea:focus {
		background-color: #3f3f3f !important;
	}

	input[type=checkbox],
	#options input[type=checkbox],
	form[name^='post'] td:nth-of-type(3) > label input[type='checkbox'],
	#qr label input {
		border-radius: 2px !important;
		-o-border-radius: 2px !important;
		background: #444 !important;
	}

	input[type=checkbox]:active,
	#options input[type=checkbox]:active,
	form[name^='post'] td:nth-of-type(3) > label input[type='checkbox']:active,
	#qr label input:active {
		background: #aaa !important;
	}

	input[type=checkbox]:checked,
	#options input[type=checkbox]:checked,
	form[name^='post'] td:nth-of-type(3) > label input[type='checkbox']:checked,
	#qr label input:checked {
		background: #111 !important;
	}

	#crntBoard {
		border-right-color: #393939 !important;
	}

	html body span[style='left: 5px; position: absolute;'] a,
	input[type='submit'],
	#com_submit,
	input[type='file'] > input[type='button'] {
		background-color: #303030 !important;
	}

	html body span[style='left: 5px; position: absolute;'] a:hover,
	#com_submit:hover,
	input[type='submit']:hover,
	input[type='file'] > input[type='button']:hover {
		background-color: #363636 !important;
	}

	td[style='border: 1px dashed;'],
	td.reply > tr > td.reply,
	.inline td.reply {
		/* Inline Quotes */
		background-color: rgba(0,0,0,0.1) !important;
		border: none !important;
	}

	.pages b {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
	}

	#header a:hover,
	.pages input:hover,
	a:hover {
	/* URL bubbles */
		background: rgba(0,0,0,.2) !important;
	}

	.new {
		background-color: rgba(255,255,255,.5) !important;
		color: #000 !important;
	}

	form[name^='post'] .postblock b,
	.postarea tr:nth-child(4) .postblock b::after,
	.postarea form[name^='post']::before,
	#maxchars {
		color: rgba(255,255,255,0.2) !important;
	}

	#qr input:-moz-placeholder,
	#qr textarea:-moz-placeholder {
		color: rgba(255,255,255,0.1) !important;
	}

	#qr input::-webkit-input-placeholder,
	#qr textarea::-webkit-input-placeholder {
		color: rgba(255,255,255,0.1) !important;
	}

	#qr input:placeholder,
	#qr textarea:placeholder {
		color: rgba(255,255,255,0.1) !important;
	}

	#cc-showpostarea,
	#ft li,
	#ft ul,
	#options input:not([type='checkbox']),
	#qr table .recaptchatable #recaptcha_image,
	#updater input:not([type='checkbox']),
	#twi_table_div,
	#twi_table_div *,
	.box-outer,
	.boxbar,
	.chanchimp,
	.chanchimp > div,
	.inputtext,
	.deletebuttons input[value=Delete],
	.recaptcha_image_cell > center > #recaptcha_image,
	.recaptchatable #recaptcha_response_field,
	.top-box,
	input:not([type='checkbox']),
	#qr_captcha input,
	input[type='file'] > input[type='button'],
	input[type='submit'],
	select,
	textarea {
		border: none !important;
	}

	#qr input[type='checkbox'],
	input[type='checkbox'] {
		border: none !important;
	}

	.postarea form[name^='post'] .recaptcha_image_cell > center > #recaptcha_image,
	.postarea form[name^='post'] #recaptcha_image img {
		width: 248px !important;
		height: 47px !important;
	}

	.boxcontent dd,
	#options ul,
	#threadwatcher .postblock,
	.chanchimp * {
		border-color: #2c2c2c !important;
	}


	hr {
		border-top: 1px solid #333 !important;
/*[[PostSeparationHR]]*/
	}

	form[name^='post']::before,
	#qr::before {
		background-color: #333 !important;
		border-radius: 6px 6px 0 0;
		-o-border-radius: 6px 6px 0 0;
	}

	.postarea textarea:focus {
		bottom: 171px !important; /* Borders change the dimensions of the postform slightly. */
	}

	#filter input,
	#filter textarea,
	#thread_filter input,
	#thread_filter textarea,
	#updater input,
	#options input,
	#qr,
	#quickrep,
	div[id^=qr],
	table.reply[style^='clear: both'] {
		border: none !important;
	}

	form[name='delform'] > div:not(.thread) select {
		margin: 1px 0 0 0 !important;
	}

	form[name='delform'] > div:not(.thread) select,
	.pages input[type='submit'] {
		height: 15px !important;
	}
