/* Muted */
/*[[CustomScrollbars]]*/
	::-webkit-scrollbar-thumb { border: #e7e7e7 !important; background: #aaa; }
	::-webkit-scrollbar-thumb:hover { background: -webkit-linear-gradient(top, rgba(0,0,0,.4), rgba(0,0,0,0.2)) !important; }
	::-webkit-scrollbar-thumb:active { background: -webkit-linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0.1)) !important; }
	::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner, ::-webkit-scrollbar-resizer { background: #e7e7e7; }
	thumb { border-color: #e7e7e7 !important; background: #aaa; }
	thumb:hover { background: -moz-linear-gradient(top, rgba(0,0,0,.4), rgba(0,0,0,0.2)) !important; }
	thumb:active { background: -moz-linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0.1)) !important; }
	scrollbar, scrollcorner { background: #e7e7e7 !important; }
/**/
	::-webkit-selection {
		background: #101010;
		color: #aaa;
	}

	::-moz-selection {
		background: #101010;
		color: #aaa;
	}

	::selection {
		background: #101010;
		color: #aaa;
	}
	body {
background-image: none !important;
	}
	body,
	body > form,
	html body span[style='left: 5px; position: absolute;'] a,
	input,
	div.postarea,
	form[name^='post']::after,
	select,
	td.deletebuttons,
	textarea,
	.abbr,
	.boxbar,
	.boxcontent,
	.logo,
	.omittedposts,
	.pages b,
	.postblock,
	.reply,
	.replyhl,
	#backwash_tooltip,
	#header .title,
	#imgControls label::after,
	#navbot::after,
	#qp,
	#qr::before,
	#twi_table_div,
	#updater #count:not(.new)::after,
	font[color="red"] {
		color: #000 !important;
	}

	div.logo font,
	.op > blockquote,
	.thread > blockquote,
	form[name='delform'] > blockquote {
		text-shadow: #e7e7e7 1px 0 2px, #e7e7e7 -1px 0 2px, #e7e7e7 0 -1px 2px, #e7e7e7 0 1px 2px;
	}

	div.postarea > form td:nth-of-type(3) > label,
	#qr > form tr:nth-of-type(3) > td:nth-of-type(3) > label,
	#quickrep > form tr:nth-of-type(3) > td:nth-of-type(3) > label,
	#autonoko {
		color: #333;
	}

	input[type='file']::-webkit-file-upload-button {
		color: #555 !important;
	}

	.replyhider a {
		color: #aaa !important;
	}

	.replyhider a:hover {
		color: #fff !important;
	}

	a {
		color: #57577b !important;
	}

	a:hover {
		color: #47475b !important;
	}

	.postername,
	.commentpostername {
		color: #7c2d2d !important;
	}

	.postertrip,
	.trip {
		color: #3e7157 !important;
	}


	a:hover,
	.postername a:hover,
	.commentpostername a:hover,
	a:hover .postertrip {
		color: #444 !important;
	}

	a.backlink,
	a.forwardlink {
		color: #47475b !important;
	}

	a.forwardlink {
		font-weight: 800 !important;
	}

	.filetitle,
	.replytitle {
		color: #aaa !important;
		font-weight: 700 !important;
	}

	.unkfunc {
		color: #789922 !important;
	}

	a.quotelink {
		color: #47475b !important;
	}

	#boards h3,
	#boardsMenu,
	#filter.autohide:hover,
	#filter:not(.autohide),
	#ft li,
	#ft ul,
	#navbar,
	#options .dialog,
	#popup,
	#qr::before,
	#threadwatcher,
	#threadwatcher .postblock,
	#watcher,
	#thread_filter.autohide:hover,
	#thread_filter:not(.autohide),
	.box-outer,
	.boxbar,
	.deletebuttons input[value=Delete],
	.recaptcha_image_cell > center > #recaptcha_image,
	.recaptchatable #recaptcha_response_field,
	.top-box,
	.yuimenuitem-selected,
	form[name^='post']::before,
	h2,
	input,
	input[type='file'] > input[type='button'],
	input[type='submit'],
	select,
	td.postblock,
	td.reply,
	textarea {
		background-color: #efefef !important;
	}

	div[id^='4chan_ext_iqr'],
	div[id^='4chan_ext_iqr'] > *,
	input[type='submit']:hover,
	input[type='file'] > input[type='button']:hover,
	#filter input,
	#filter textarea,
	#header,
	#navbot,
	#navbot::after,
	#options input,
	#options textarea,
	#qr,
	#qr > form tr:nth-of-type(3) > td:nth-of-type(3) > label input,
	#quickrep,
	#quickrep > form tr:nth-of-type(3) > td:nth-of-type(3) > label input,
	#qr label input,
	#thread_filter input,
	#thread_filter textarea,
	#updater input:not([type='checkbox']),
	.bd,
	.boxcontent > hr,
	.boxcontent input,
	.boxcontent textarea,
	/* > mfw I am immortalized in the source code -- sdm */
	.pages,
	html,
	body,
	div.postarea > form td:nth-of-type(3) > label input,
	div[id^=qr],
	#qr a#attach::after,
	table.reply[style^='clear: both'] {
		background-color: #fefefe !important;
	}

	html body span[style='left: 5px; position: absolute;'] a:hover,
	#com_submit:hover,
	#cc-showpostarea,
	#twi_table_div,
	#twi_table_div *,
	input[type='submit']:hover,
	input[type='file'] > input[type='button']:hover,
	#backwash_tooltip,
	#qp,
	#updater:hover,
	#popup,
	.chanchimp,
	.chanchimp > div,
	.recaptchatable #recaptcha_response_field:hover,
	.deletebuttons input[type='password']:hover,
	div[id^=ref],
	input:hover,
	input[type='file'] > input[type='button']
	input[type='submit']:hover,
	td.replyhl,
	tr.replyhl,
	textarea:hover {
		background-color: #f6f6f6 !important;
	}

//	td.reply {
///*[[TransparentReplies]]*/		background-color: rgba(186,186,186,0.5) !important;
//*[[TransparentReplies]]*/		text-shadow: #efefef 1px 0 2px, #efefef -1px 0 2px, #efefef 0 -1px 2px, #efefef 0 1px 2px;
//	}
//
//	td.replyhl {
//*[[TransparentReplies]]*/		background-color: rgba(212,212,212,0.5) !important;
//*[[TransparentReplies]]*/		text-shadow: #f6f6f6 1px 0 2px, #f6f6f6 -1px 0 2px, #f6f6f6 0 -1px 2px, #f6f6f6 0 1px 2px;
//	}

	.qphl {
		outline-color: #627c8d !important;
	}

	html body span[style='left: 5px; position: absolute;'] a,
	input[type='submit'],
	#com_submit,
	input[type='file'] > input[type='button'],
	.recaptchatable #recaptcha_response_field:focus,
	.deletebuttons input[type='password']:focus,
	input:focus,
	input[type='submit']:focus,
	textarea:focus {
		background-color: #cfcfcf !important;
	}

	input[type='checkbox'],
	#options input[type='checkbox'],
	form[name^='post'] td:nth-of-type(3) > label input[type='checkbox'],
	#qr label input[type='checkbox'] {
		border: 1px solid #3c3c3c !important;
		background: #fff !important;
	}

	input[type=checkbox]:active,
	#options input[type=checkbox]:active,
	form[name^='post'] td:nth-of-type(3) > label input[type='checkbox']:active,
	#qr label input[type='checkbox']:active {
		background: #fff !important;
	}

	input[type=checkbox]:checked,
	#options input[type=checkbox]:checked,
	form[name^='post'] td:nth-of-type(3) > label input[type='checkbox']:checked,
	#qr label input[type='checkbox']:checked {
		background: #aaa !important;
	}

	#crntBoard {
		border-right-color: #e7e7e7 !important;
	}

	td[style='border: 1px dashed;'],
	td.reply > tr > td.reply,
	.inline td.reply {
		/* Inline Quotes */
		background-color: rgba(255,255,255,0.1) !important;
		border: none !important;
	}

	.pages b {
		background: rgba(255,255,255,0.5) !important;
	}

	#header a:hover,
	.pages input:hover,
	a:hover {
	/* URL bubbles */
		background: rgba(255,255,255,.5) !important;
	}

	form[name^='post'] .postblock b,
	.postarea tr:nth-child(4) .postblock b,
	.postarea form[name^='post']::after,
	#maxchars {
		color: rgba(0,0,0,0.5) !important;
	}

	#qr input:-moz-placeholder,
	#qr textarea:-moz-placeholder {
		color: rgba(0,0,0,0.5) !important;
	}

	#qr input::-webkit-input-placeholder,
	#qr textarea::-webkit-input-placeholder {
		color: rgba(0,0,0,0.5) !important;
	}

	#qr input:placeholder,
	#qr textarea:placeholder {
		color: rgba(0,0,0,0.5) !important;
	}

	#cc-showpostarea,
	#ft li,
	#ft ul,
	#options input:not([type='checkbox']),
	#updater input:not([type='checkbox']),
	#twi_table_div,
	#twi_table_div *,
	.box-outer,
	.boxbar,
	.chanchimp,
	.chanchimp > div,
	.inputtext,
	.deletebuttons input[value=Delete],
	.recaptchatable #recaptcha_response_field,
	.top-box,
	h2,
	input:not([type='checkbox']),
	#qr_captcha input,
	input[type='file'] > input[type='button'],
	input[type='submit'],
	select,
	textarea {
		border: none !important;
	}

	#recaptcha_image img,
	#quick_recaptcha_image img,
	#qr img {
		opacity: 0.95 !important;
	}

	.boxcontent dd,
	#options ul,
	#threadwatcher .postblock,
	.chanchimp * {
		border-color: #e7e7e7 !important;
	}

	#watcher .move,
	#twi_table_div .postblock {
		border-bottom: 1px #e7e7e7 solid !important;
	}

	hr {
		border-top: 1px solid #efefef !important;
/*[[PostSeparationHR]]*/
	}

	#filter input,
	#filter textarea,
	#thread_filter input,
	#thread_filter textarea,
	#updater input,
	#options input,
	#qr,
	#quickrep,
	div[id^=qr],
	table.reply[style^='clear: both'] {
		border: none !important;
	}

	form[name='delform'] > div:not(.thread) select {
		margin: 1px 0 0 0 !important;
	}

	form[name='delform'] > div:not(.thread) select,
	.pages input[type='submit'] {
		height: 15px !important;
	}
