/* Obsidian Chan: */
/*[[CustomScrollbars]]*/
	scrollbarbutton {
		display: none !important;
	}
	::-webkit-scrollbar {
		width: 12px !important;
		height: 10px !important;
	}
	::-webkit-scrollbar-thumb {
		border: 1px solid;
	}
	::-webkit-scrollbar-track-piece:vertical {
		border-left: 0;
	}
	::-webkit-scrollbar-track-piece:horizontal {
		border-top: 0;
	}
	scrollbar, scrollcorner {
		-moz-appearance: none !important;
		-o-appearance: none !important;
		width: 12px !important;
		height: 10px !important;
	}
	scrollbar[orient='vertical'] { border-left: 0; }
	scrollbar[orient='horizontal'] { border-top: 0; }
	thumb {
		-moz-appearance: none !important;
		-o-appearance: none !important;
		border: 1px solid;
	}
	::-webkit-scrollbar-thumb {
		border: 1px solid #333 !important;
		background: #000;
		border-radius: 2px !important;
	}
	::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner, ::-webkit-scrollbar-resizer {
		background: #111;
	}
	scrollbar, scrollcorner {
		background: #111 !important;
	}
	thumb {
		border: 1px solid #333 !important;
		background: #000; border-radius: 2px !important;
	}
/**/
	::-webkit-selection {
		background: #fff;
		color: #000;
	}

	::-moz-selection {
		background: #fff;
		color: #000;
	}

	::selection {
		background: #fff;
		color: #000;
	}
	body {
		background: url("http://i.imgur.com/sbi8u.png") !important;
		background-attachment: fixed !important;
	}
	body,
	body > form,
	html body span[style='left: 5px; position: absolute;'] a,
	div.postarea,
	input,
	select,
	.deletebuttons::after,
	textarea,
	.abbr,
	.boxbar,
	.boxcontent,
	.commentpostername,
	.filetitle,
	.logo,
	.omittedposts,
	.pages b,
	.postblock,
	.postername,
		.pages td,
	.reply,
	.replyhl,
	.trip
	#backwash_tooltip,
	#header .title,
	#imgControls label::after,
	#navbot::after,
	#qp,
	#twi_table_div,
	#updater #count:not(.new)::after,
	font[color="red"],
	#qr_form input[name="email"] + label::after {
		color: #FDFEFF !important;
	}

	div.logo font {
		text-shadow: #2c2c2c 1px 0 2px, #2c2c2c -1px 0 2px, #2c2c2c 0 -1px 2px, #2c2c2c 0 1px 2px;
	}

	div.postarea > form td:nth-of-type(3) > label,
	#qr > form tr:nth-of-type(3) > td:nth-of-type(3) > label,
	#quickrep > form tr:nth-of-type(3) > td:nth-of-type(3) > label,
	#autonoko {
		color: #888;
	}

	input[type='file']::-webkit-file-upload-button {
		color: #666 !important;
	}

	.replyhider a {
		color: #222 !important;
	}

	.replyhider a:hover {
		color: #555 !important;
	}

	a,
	.postername a,
	.commentpostername a,
	a .postertrip {
		color: #00FFFF !important;
	}

	a:hover,
	.postername a:hover,
	.commentpostername a:hover,
	a:hover .postertrip {
		color: #00FFFF !important;
	}

	a.backlink,
	a.forwardlink {
		color: #00FFFF !important;
	}
	.postertrip, .linkmail .postertrip {
		color: #FF52CB !important;
	}
	body > form {
		padding-bottom: 10px !important;
		border: 1px solid #333 !important;
		background: rgba(0, 0, 0, 0.3) none !important;
	}

	a.forwardlink {
		font-weight: 800 !important;
	}

	.span.filetitle,
	.replytitle {
		color: #909090 !important;
	}

	.unkfunc {
		color: #65FF65 !important;
	}

	#boards h3,
	#boardsMenu,
	#ft li,
	#ft ul,
	#navbar,
	#options .dialog,
	#popup,
	#threadwatcher,
	#threadwatcher .postblock,
	#watcher,
	.box-outer,
	.boxbar,
	.deletebuttons input[value=Delete],
	.top-box,
	.yuimenuitem-selected {
		background-color: rgba(0,0,0,0.4) !important;
	}
	.recaptchatable #recaptcha_response_field,
	input,
	input[type='file'] > input[type='button'],
	input[type='submit'],
	select,
	td.postblock,
	td.reply,
	textarea {
				background-color: rgba(0,0,0,0.6) !important;
	}

	div[id^='4chan_ext_iqr'],
	div[id^='4chan_ext_iqr'] *,
	#filter input,
	#filter textarea,
	#header,
	#navbot,
	#navbot::after,
	#options input,
	#options textarea,
	#qr > form tr:nth-of-type(3) > td:nth-of-type(3) > label input,
	#quickrep,
	#quickrep > form tr:nth-of-type(3) > td:nth-of-type(3) > label input,
	#qr label input,
	#thread_filter input,
	#thread_filter textarea,
	#updater input:not([type='checkbox']),
	.bd,
	.boxcontent > hr,
	.boxcontent input,
	.boxcontent textarea,
	.pages,
	div.postarea > form td:nth-of-type(3) > label input,
	div[id^=qr],
	table.reply[style^='clear: both'],
	#options.reply.dialog,
	.deletebuttons input[value=Delete],
	input[value="Report"],
	body::before,
	#watcher:hover, 
	#watcher,
	font[color="red"], 
	.deletebuttons  {
		background-color: rgba(0,0,0,0.7) !important;
	}

	#backwash_tooltip,
	#cc-showpostarea,
	#filter.autohide:hover,
	#filter:not(.autohide),
	#twi_table_div,
	#twi_table_div *,
	#updater:hover,
	#thread_filter.autohide:hover,
	#thread_filter:not(.autohide),
	#popup,
	.chanchimp,
	.chanchimp > div,
	.recaptchatable #recaptcha_response_field:hover,
	.deletebuttons input[type='password']:hover,
	div[id^=ref],
	input:hover,
	input[type='file'] > input[type='button']
	input[type='submit']:hover,
	td.replyhl,
	tr.replyhl,
	textarea:hover {
		background-color: rgba(0,0,0,0.4) !important;
	}

	.qphl {
		outline-color: #627c8d !important;
	}
	#qp {
		 background-color: rgba(0,0,0,0.8) !important;
		 border-radius: 4px !important;
		 border: 1px solid #333 !important;
	}
	.inline {
		 border: 1px solid #333 !important;
		 border-radius: 4px !important;
	}

	.recaptchatable #recaptcha_response_field:focus,
	.deletebuttons input[type='password']:focus,
	input:focus,
	input[type='submit']:focus,
	textarea:focus {
		background-color: rgba(0,0,0,0.4) !important;
	}

	input[type=checkbox],
	#options input[type=checkbox],
	form[name^='post'] td:nth-of-type(3) > label input[type='checkbox'],
	#qr label input {
		border-radius: 2px !important;
		-o-border-radius: 2px !important;
		background: #444 !important;
	}

	input[type=checkbox]:active,
	#options input[type=checkbox]:active,
	form[name^='post'] td:nth-of-type(3) > label input[type='checkbox']:active,
	#qr label input:active {
		background: #aaa !important;
	}

	input[type=checkbox]:checked,
	#options input[type=checkbox]:checked,
	form[name^='post'] td:nth-of-type(3) > label input[type='checkbox']:checked,
	#qr label input:checked {
		background-color: #FF007F !important;
	}
	
	@media screen and (-webkit-min-device-pixel-ratio:0) {
	input[type=checkbox]:checked,
	#options input[type=checkbox]:checked,
	form[name^='post'] td:nth-of-type(3) > label input[type='checkbox']:checked,
	#qr label input:checked {
                background-image: url('http://i.imgur.com/TyFWy.png') !important;
		background-repeat: no-repeat !important;
	}
	}
	
	#crntBoard {
		border-right-color: #393939 !important;
	}

	html body span[style='left: 5px; position: absolute;'] a,
	input[type='submit'],
	#com_submit,
	input[type='file'] > input[type='button'] {
		background: rgba(0, 0, 0) !important;
	}

	html body span[style='left: 5px; position: absolute;'] a:hover,
	#com_submit:hover,
	input[type='submit']:hover,
	input[type='file'] > input[type='button']:hover {
		background-color: #363636 !important;
	}

	td[style='border: 1px dashed;'],
	td.reply > tr > td.reply,
	.inline td.reply {
		/* Inline Quotes */
		background-color: rgba(0,0,0,0.1) !important;
		border: none !important;
	}

	.pages b {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
	}

	#header a:hover,
	.pages input:hover,
	a:hover {
	/* URL bubbles */
		background: rgba(0,0,0,.2) !important;
	}

	.new {
		background-color: rgba(255,255,255,.5) !important;
		color: #000 !important;
	}

	form[name^='post'] .postblock b,
	.postarea tr:nth-child(4) .postblock b::after,
	.postarea form[name^='post']::before,
	#maxchars {
		color: rgba(255,255,255,0.2) !important;
	}

	#qr input:-moz-placeholder,
	#qr textarea:-moz-placeholder {
		color: rgba(255,255,255,0.1) !important;
	}

	#qr input::-webkit-input-placeholder,
	#qr textarea::-webkit-input-placeholder {
		color: rgba(255,255,255,0.1) !important;
	}

	#qr input:placeholder,
	#qr textarea:placeholder {
		color: rgba(255,255,255,0.1) !important;
	}

	#cc-showpostarea,
	#ft li,
	#ft ul,
	#options input:not([type='checkbox']),
	#updater input:not([type='checkbox']),
	#twi_table_div,
	#twi_table_div *,
	.box-outer,
	.boxbar,
	.chanchimp,
	.chanchimp > div,
	.inputtext,
	.deletebuttons input[value=Delete],
	.recaptchatable #recaptcha_response_field,
	.top-box,
	input:not([type='checkbox']),
	#qr_captcha input,
	input[type='file'] > input[type='button'],
	input[type='submit'],
	select,
	textarea {
		border: none !important;
	}

	#qr input[type='checkbox'],
	input[type='checkbox'] {
		border: none !important;
	}

	.boxcontent dd,
	#options ul,
	#threadwatcher .postblock,
	.chanchimp * {
		border-color: #2c2c2c !important;
	}

	hr {
		border-top: 1px solid #333 !important;
/*[[PostSeparationHR]]*/
	}

	form[name^='post']::before,
	#qr::before {
		background-color: #000 !important;
		border-radius: 6px 6px 0 0;
		-o-border-radius: 6px 6px 0 0;
	}

	#filter input,
	#filter textarea,
	#thread_filter input,
	#thread_filter textarea,
	#updater input,
	#options input,
	#qr,
	#quickrep,
	div[id^=qr],
	table.reply[style^='clear: both'] {
		border: none !important;
	}

	form[name='delform'] > div:not(.thread) select {
		margin: 1px 0 0 0 !important;
	}

	form[name='delform'] > div:not(.thread) select,
	.pages input[type='submit'] {
		height: 15px !important;
	}
	#qr {
		background-color: rgba(0,0,0,0.7) !important;
		border: 1px solid #333 !important;
		border-left: none !important;
		border-bottom: none !important;
	}
	.postarea form[name^='post'] {
		width: 252px !important;
		right: 1px !important;
		padding-top: 1px !important;
		border-top: 1px solid #333 !important;
	}
	/* Toolbox images */
/* 4chan X options */
	#navtopr a::after {
		content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAe1JREFUOE991M1LVFEYx3GncRxfUhei+IYmKOLOnJW4c9qIRhKRujNQE0RBEcXENxBKMRFGNy7Mai0GGYVCRZi6EP0j5h/p+7ucZzheZ1p8mLn3nPub55z7nMlLp9N5nhjfy1COOCKhcZtr8x4y/kBz/BB9b8NbHGAUDTbRCyzmexLbeIcWzbEg++USbr7EV9xgAxVeiMb78B4f8QNjKFRQPppR6x5QuRr8hWt0u/uqRCFb2MEuPmEQcQUVYRzzqFc6hvETt5hAAZ66ShSSgpa2iEeIKEibOoI/WMcUjqGlKWgfTVhzD6sShSygFVEEm61db8c3XOGvF6KgSxfyjE/t2aarJBNiQba8Xm4chUIUJApXtf2Yht5UUIkJ91A1AwlM4syFWNg51yvQnKB3cgX5A2oHtYFer+2VArX0ZVThTrOGG9KuK5mo1/4a30OVac+00TV+WLYg9dMbHEKd/gKnobALrudQZ2F+UCk3O7EKHZEnsPM2FKpMy/2NWVumfwiT3PyCEzyHGtXG1aQDbkx79Rlq4hR6ELOJja4KbeYS7Lj4Fds51A/pFOhfYgavEJw1tb/ekBpSZ0wtr/OXbf+0fM3dg5rzA7oQtc5WBR3QxFxv0u6rssfQ2Usg2AIbVE/ca7L/hGqu/twyz/wDqVy162aoa8oAAAAASUVORK5CYII=') !important;
	}
/* Delete buttons */
	table[align=right]::before { 
		content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAeRJREFUOE9tlM0rRFEYh0dMPiKxkWxsyEpWshCpURbWNPkvlCwYe6VJWU+zkmytZIOttZJsaHZioQkhH8+j++p0M/U0Z8597+/83o8zhUajUcjRwu8OGIAJmIFZmIJh6IHW/Ht5kXYCxmAVzuABvuAbXuAS9mAOesFDfzVSoW42FuEYXrOXFcjzyd41rMFQiIWQThS5AAP/E8jv3RO3Bf3hSHumo5MQeWZ9CjfJ3mO2d8d3pMuysQxFHVlYaxLpKLIP07ACV/AE2zAJ63CbuVbwBAYVsjsWNqzrRJE26ART3jAYdG/8bnJwk3VJIVtsd0LIdHSiiM+LYIdcKzQOR5DWsuJD5yRyVswA09GJItEQRUbgIHETh9cMctjyHbEmphNOjGuF+eyQfGfrBjixDluI2R0La00iHUVcm+4SOJipWNWHjr0P0mLbHVOJdHQSNetjvQNv2TvvfJcV8u7sJSc4J7bY7lhYa2LNdKLIApwn8T4bjdy9O469riy8c2KL7Y7zZRq61okiujDWmduEruiIRfXuOPaRYgjEb8VMJ2rzwfoQ7GRL2lovoHfHTzoO/907nShiLX9HJL39FtYL6N1x7JuJuxAzJWtiOjr5m7P8/1FMsq0vQQVqUIcqlGEUukxHJ8EPyeEKDPe5ibUAAAAASUVORK5CYII=') !important;
	}
/* Return button */
	html body span[style='left: 5px; position: absolute;'] a::after {  
		content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAUNJREFUOE+tkz9Lw1AUR1tqlYJItSLo6kcoLlZ0c/A7KA4uDiKCgyI4dBEcundy6TdwEJ0cBEHBSVdFIohQFIdaiv3j+ckNPCUmjWQ4uU1y73n33bymPM9LJUEiEjUSJcqQNNxPx2GiPIIl2PyvaIjCIpThFp7iitIUTMIanME79KAeR6Qu5uEIHuHTJBI1YMfYJW7BIoyDFv8ejy452IA7+HAEkoguvBpv1uE9sQZFyLiiPW78rfiCqNii5gSmfZG6ysIcHINW7TidNfl9YBxaJw+W0yZquzn382u/U7ANN6DZaFsSu3mD3K/Dsy12ShwNOkdKLEEVNIuXXyLVLMC1ia6IhbADWSBhFSoBolmeXZpIwlCRFhmAkQDRDM/OQQO/gLGo/9pf7ycoXoZ9WIEfw44j1YfR+VO3iuk4xaG5iYm+APYeqMCIGhT5AAAAAElFTkSuQmCC') !important;
	}
/* Watcher */
	#watcher::before {  
		content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAZVJREFUOE+10z1IW1EYh/Fo1FEttrSjoGhKJklbWnRxd1UHu5T61aEV6mDBqlVB0OJXIKs6KdKCXURQBBed3ILYInbJIu1anfs84QSCxiGQDD/Ozcm5//ue99wbyWQykVIoSYiFlD0oylMeoBltgdfO+d+dAvInKllQG256w/gV33AYfGdcxFskwlrvyWbkgqr50Yp+zGMDZ7jGX/zBDX5jCwsYQAw1uSBDfMIUJtGLFfzEQZgfY9zBBdbxGp/xBS8Ms6IWWPLHcN3BuI8jpDAHe/MKbvUYXbBnI1hCzCBDZvEE7rkHp0hiE26xAvbvA9J4F9Y+ZrSqpEFuYxpO5ge5oBF1cF2hoEfMTyDlAhtmeZZpue1wa3vohNsy7CW2cQK31oT3WEXcILtuw6zKBnZjGefYxSeMwuP/BZvdh3HMwN5lm50Le8r1EDzaNaTxDx79FXwVLmHffMeGETfEjNsvpFt4Bt8nD8Ej9/T0A/ZzEM9Rj2go5N5vzQUNsH+JEO71Q1Tlbs4fy/7RFv2Aom8otC3n/gPCXqf605SZUwAAAABJRU5ErkJggg==') !important;
	}
/* Announcement */
	font[color="red"]::before {  
		content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAk1JREFUOE91lE1IVFEUx984HzWCTikTtlCEFiJuGhcxKbioIApaNUkg4iaIGJBqERQkjVS6VDRahCL2uWlVtDFRCFwouDCYGjCKefOIEKvxA8ew9PePO/J4josf575z7vnfc8+991m2bVtFcnauzLGdMNQ6WecUthO6GV+Di4xjUAVB8Llzd0UIlMNxuA0fwIF1+Adb8Asy8AIScBRxf1HMogofRAi0wxSswjJ8MoLvsZMwC9+MeBY7oIXJDUpMQgdxXIYFWIMZSME5YvVMasI2mmq7sCPwVQvif6aYWiKhZrNyHvsazkIFAupBCLKQhjLmBojVwXX4CNruA+3IYnDfVDKNo4WEgLuJjGdgwu1jfhVzb2JzkGEct2iYevEDbmibHhEdxhgMe/w+5h8j9516JlFV9AfSONtKiEjoFiS9MZLD8JDcPHZAQjreeYjtI3QB/5kSsRACd8j7iR2W0G/QsSbU0BIJ5fjCXj87iMIr8goIpST0BlbgEUS9veB73Nsj5h0A3fTP8B3OS6jDNHsRe9WIuSs7jVCr59T0VN6q0VT1HHtEQjXwBHSj03AXTlButWurlYwjxS0S1yv4ov6YyoIS8oNWeApLpjo9lcfQC/dgEIagD5Is0mMW1eJ62KH/j5bydGObTDVzWN3yTdCJ/jXjDWNVhQ5Hh6T4OBxyv35VVg1xuAL9MAajphJVoRboAWtbBdgG9Ta+K1RsJtXp1uqfpP+O+leD7zA2gtV3A/Yk9hKony/ZavseoX0upbtyH0J6wPq5acGIbvkOvv3TB67ihoUAAAAASUVORK5CYII=') !important;
	}
/* Slideout nav */
	#navbot::after {  
		content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAgBJREFUOE91k71LlWEcho8eCQctlNAGUTFoMCXID1JaFBRzcdJ0cVMRqsWpqUkcRBexwD9AJw3aclCnphCHchPR42QhgoKiCV7X4ffKq9iBi+fjd9/3+5znI5PL5TJ3eMC4AjrgIywE9p2zpuaWLz0ooPgYhmADzuACTgL7zllTo1ZPPiMJcqIKJuEQjuEnLMJ8YN85a2rU6smHJUFlDD7BEezCNLRAcbSt0be1pkatHr35oCLohQPYgwlw2clHntNviHEhbWVo1OrRW6T4ESzBKXwGNzO9dxrF1b2ExtCo1aP3oYZn8Be2oedOiPUX0AWe2izUhkatnj9mKOyDK/h+z2qsD4fhF+0gZCPIla+Gt0/hOFzCV2iDV/AUOuEdeNQTsAlvoqZGrR694waNxmCZ1r/hHpSCf/kHfIEPYXSvrLn5alfCO2JQN/yDNfBeOOfNfQ9bsA737Z1aPXq7NdWAvx3oB4/Y1UzBAHhS9fGB5DTVWNOzb4aFEpiDc/Ao6yKomjYLT4L0lVCjVo/eEoumt8Nv8OrPRFjyjpoYN8eK1BqiRq0evYXJV1zVGHhbvRd+7S24KoPEvnPW1KjVo/fmrRlYHgUvma/c/+9GfwvsO2dNjSF6br3+9MpeU/TIfUeeSBrnfBpq8iv5X5CFLHhXfAoeu/dM7DtngJr05meuAVTZz/ls1cUBAAAAAElFTkSuQmCC') !important;
	}
/* 4sight */
	body > a[style='cursor: pointer; float: right;']::after { 
		content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAWVJREFUOE+tlE0rhFEUx8frLCYWYjGYWGMhSlEWysbeYlKirH0BSwvlC0ixkIVkoSys5G0hRUTJy/r5In5/nZmu63ketzuz+HWae8/5zblzz51CkiSFZtJUmRrLEhbZnIM1WIFxaAk5SZpwlsJb+PI44nPlP6kvnKHgDd5Bgk3YhnOT3xD78qSusJ3EC/iAdei1wlbiMOyYdCtUOGUFB8TOlKIya/fwnLH/05zbYdWEyzkd7FrOYFaOK1y05NUc4T57n6BuUyfEXRyz5FNiW0rBAGuvcAcdIUIlHVuXutkup0iXcmZ7G6GXom41wBoNzeAj6IL0JRql2lxqEvpDOqwdf4LkPXgAjZBmUoOuri9N/EI8gSFfnPX0ukmUeAHmYQT0HCfhyelWp9HPUffE/DkcOkL9DJLWO40Rqkv/rV+xVlKnMULV6M37Ul1otFDSabi24+uyehoVSjoKSxb/vOXY4/+q+wY/0mz6DPACvwAAAABJRU5ErkJggg==') !important;
	}
