/* Zenburned */
/*[[CustomScrollbars]]*/
	::-webkit-scrollbar-thumb { border: 1px solid #4f4f4f !important; background: #3f3f3f; }
	::-webkit-scrollbar-thumb:hover { background: #4f4f4f; }
	::-webkit-scrollbar-thumb:active { background: #111; }
	::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner, ::-webkit-scrollbar-resizer { background: #313c36; }
	scrollbar, scrollcorner { background: #313c36 !important; }
	thumb { border-color: #4f4f4f !important; background: #3f3f3f; }
	thumb:hover { background: #4f4f4f; }
	thumb:active { background: #111 !important; }
/**/
	::-webkit-selection {
		background: #dcdccc;
		color: #313c36;
	}

	::-moz-selection {
		background: #dcdccc;
		color: #313c36;
	}

	::selection {
		background: #dcdccc;
		color: #313c36;
	}
	body {
background-image: none !important;
	}
	body,
	body > form,
	html body span[style='left: 5px; position: absolute;'] a,
	input,
	div.postarea,
	form[name^='post']::before,
	select,
	td.deletebuttons,
	textarea,
	.abbr,
	.boxbar,
	.boxcontent,
	.logo,
	.omittedposts,
	.pages b,
	.postblock,
	.reply,
	.replyhl,
	#backwash_tooltip,
	#header .title,
	#imgControls label::after,
	#navbot::after,
	#qp,
	#twi_table_div,
	#updater #count:not(.new)::after,
	font[color="red"] {
		color: #dcdccc !important;
	}

/*[[TransparentReplies]]*/	.op > blockquote,
	.thread > blockquote,
	form[name='delform'] > blockquote, /**/
	div.logo font {
		text-shadow: #3f3f3f 1px 0 2px, #3f3f3f -1px 0 2px, #3f3f3f 0 -1px 2px, #3f3f3f 0 1px 2px;
	}

	div.postarea > form td:nth-of-type(3) > label,
	#qr > form tr:nth-of-type(3) > td:nth-of-type(3) > label,
	#quickrep > form tr:nth-of-type(3) > td:nth-of-type(3) > label,
	#autonoko {
		color: #dcdccc;
	}

	input[type='file']::-webkit-file-upload-button {
		color: #efdcbc !important;
	}

	.replyhider a {
		color: #93b3a3 !important;
	}

	.replyhider a:hover {
		color: #dcdccc !important;
	}

	a {
		color: #efdcbc !important;
	}

	a:hover {
		color: #f8f893 !important;
	}

	.postername,
	.commentpostername {
		color: #c0bed1 !important;
	}

	.postertrip,
	.trip {
		color: #8cd0d3 !important;
	}


	.postername a:hover,
	.commentpostername a:hover,
	a:hover .postertrip {
		color: #444 !important;
	}

	a.backlink,
	a.forwardlink {
		color: #dca3a3 !important;
	}

	a.forwardlink {
		font-weight: 800 !important;
	}

	.filetitle,
	.replytitle {
		color: #aaa !important;
		font-weight: 700 !important;
	}

	.unkfunc {
		color: #7f9f7f !important;
	}

	a.quotelink {
		color: #efdcbc !important;
	}

	#boards h3,
	#boardsMenu,
	#filter.autohide:hover,
	#filter:not(.autohide),
	#ft li,
	#ft ul,
	#navbar,
	#popup,
	#threadwatcher,
	#threadwatcher .postblock,
	#watcher,
	#thread_filter.autohide:hover,
	#thread_filter:not(.autohide),
	.box-outer,
	.boxbar,
	.deletebuttons input[value=Delete],
	.recaptchatable #recaptcha_response_field,
	.top-box,
	.yuimenuitem-selected,
	h2,
	input,
	input[type='file'] > input[type='button'],
	input[type='submit'],
	select,
	td.postblock,
	td.reply,
	textarea,
	#main,
	#optionsbar,
	#options .dialog {
		background-color: #575757 !important;
	}

	div[id^='4chan_ext_iqr'],
	div[id^='4chan_ext_iqr'] > *,
	input[type='submit']:hover,
	input[type='file'] > input[type='button']:hover,
	#filter input,
	#filter textarea,
	#header,
	#navbot,
	#navbot::after,
	#options input,
	#options textarea,
	#qr,
	#qr > form tr:nth-of-type(3) > td:nth-of-type(3) > label input,
	#quickrep,
	#quickrep > form tr:nth-of-type(3) > td:nth-of-type(3) > label input,
	#qr label input,
	#thread_filter input,
	#thread_filter textarea,
	#updater input:not([type='checkbox']),
	.bd,
	.boxcontent > hr,
	.boxcontent input,
	.boxcontent textarea,
	.pages,
	html,
	body,
	#qr a#attach::after,
	div.postarea > form td:nth-of-type(3) > label input,
	div[id^=qr],
	table.reply[style^='clear: both'] {
		background-color: #3f3f3f !important;
	}

	html body span[style='left: 5px; position: absolute;'] a:hover,
	#com_submit:hover,
	#cc-showpostarea,
	#twi_table_div,
	#twi_table_div *,
	input[type='submit']:hover,
	input[type='file'] > input[type='button']:hover,
	#backwash_tooltip,
	#qp,
	#qr::before,
	#updater:hover,
	#popup,
	.chanchimp,
	.chanchimp > div,
	.deletebuttons input[type='password']:hover,
	.recaptchatable #recaptcha_response_field:hover,
	div[id^=ref],
	form[name^='post']::before,
	input:hover,
	input[type='file'] > input[type='button']
	input[type='submit']:hover,
	td.replyhl,
	tr.replyhl,
	textarea:hover {
		background-color: #262626 !important;
	}

	#qr::before,
	form[name^='post']::before {
		background-color: #3f3f3f !important;
		border: #888 solid;
		border-width: 1px 1px 0 1px;
		border-radius: 6px 6px 0 0;
	}

/*[[TransparentReplies]]*/	td.reply,
		background-color: rgba(55,55,55,0.5) !important;
		text-shadow: #313c36 1px 0 2px, #313c36 -1px 0 2px, #313c36 0 -1px 2px, #313c36 0 1px 2px;
	}

	td.replyhl {
		background-color: rgba(25,25,25,0.5) !important;
		text-shadow: #262626 1px 0 2px, #262626 -1px 0 2px, #262626 0 -1px 2px, #262626 0 1px 2px;
	}/**/

	.qphl {
		outline-color: #627c8d !important;
	}

	html body span[style='left: 5px; position: absolute;'] a,
	input[type='submit'],
	#com_submit,
	input[type='file'] > input[type='button'] {
		background-color: #313c36 !important;
	}

	.recaptchatable #recaptcha_response_field:focus,
	.deletebuttons input[type='password']:focus,
	input:focus,
	input.inputtext:focus,
	input[type='submit']:focus,
	textarea:focus {
		border: 1px solid #98e !important;
	}

	input[type='checkbox'],
	#options input[type='checkbox'],
	form[name^='post'] td:nth-of-type(3) > label input[type='checkbox'],
	#qr label input[type='checkbox'] {
		background-color: #3f3f3f !important;
		color: #efefef !important;
		border: 1px solid #888 !important;
	}

	input[type=checkbox]:active,
	#options input[type=checkbox]:active,
	form[name^='post'] td:nth-of-type(3) > label input[type='checkbox']:active,
	#qr label input[type='checkbox']:active {
		background: #000 !important;
	}

	input[type=checkbox]:checked,
	#options input[type=checkbox]:checked,
	form[name^='post'] td:nth-of-type(3) > label input[type='checkbox']:checked,
	#qr label input[type='checkbox']:checked {
		background: #111 !important;
	}

	#crntBoard {
		border-right-color: #3f3f3f !important;
	}

	td[style='border: 1px dashed;'],
	td.reply > tr > td.reply,
	.inline td.reply {
		/* Inline Quotes */
		background-color: rgba(0,0,0,0.1) !important;
		border: 1px dotted #9988ee !important;
	}

	.pages b {
		background: rgba(0,0,0,0.3) !important;
	}

	#header a:hover,
	.pages input:hover,
	a:hover {
	/* URL bubbles */
		background: rgba(0,0,0,.2) !important;
	}

	.new {
		background-color: rgba(255,255,255,.5) !important;
		color: #000 !important;
	}

	form[name^='post'] .postblock b,
	form[name^='post']::before,
	.postarea tr:nth-child(4) .postblock b,
	#maxchars,
	#qr::before {
		color: rgba(255,255,255,0.5) !important;
	}

	#qr input:-moz-placeholder,
	#qr textarea:-moz-placeholder {
		color: rgba(255,255,255,0.3) !important;
	}

	#qr input::-webkit-input-placeholder,
	#qr textarea::-webkit-input-placeholder {
		color: rgba(255,255,255,0.3) !important;
	}

	#qr input:placeholder,
	#qr textarea:placeholder {
		color: rgba(255,255,255,0.3) !important;
	}

	#cc-showpostarea,
	#ft li,
	#ft ul,
	#options input:not([type='checkbox']),
	#updater input:not([type='checkbox']),
	#twi_table_div,
	#twi_table_div *,
	.box-outer,
	.boxbar,
	.chanchimp,
	.chanchimp > div,
	.inputtext,
	.deletebuttons input[value=Delete],
	.recaptchatable #recaptcha_response_field,
	.top-box,
	h2,
	html body span[style='left: 5px; position: absolute;'] a,
	input:not([type='checkbox']),
	#qr_captcha input,
	input[type='file'] > input[type='button'],
	input[type='submit'],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		border: 1px solid #888 !important;
	}

	html body span[style='left: 5px; position: absolute;'] a {
		height: 14px !important;
		padding-top: 3px !important;
		width: 56px !important;
	}

	.fake input[type='file']::-webkit-file-upload-button,
	form[name^='post'] input[type='file'][name='upfile'],
	#qr input[type='file'][name='upfile'] {
		margin: 1px 0 0 !important;
		height: 19px !important;
	}

	#recaptcha_image img,
	#quick_recaptcha_image img,
	#qr img {
		opacity: 1 !important;
	}

	.boxcontent dd,
	#options ul,
	#threadwatcher .postblock,
	.chanchimp * {
		border-color: #464646 !important;
	}

	#watcher .move,
	#twi_table_div .postblock {
		border-bottom: 1px #464646 solid !important;
	}

	hr {
		border-top: 1px solid #313c36 !important;
/*[[PostSeparationHR]]*/
	}

	#filter input,
	#filter textarea,
	#thread_filter input,
	#thread_filter textarea,
	#updater input,
	#options input,
	#qr,
	#quickrep,
	div[id^=qr],
	table.reply[style^='clear: both'] {
		border: none !important;
	}

	form[name='delform'] > div:not(.thread) select,
	.pages input[type='submit'] {
		margin: 0 !important;
		height: 17px !important;
	}
