/*[[background]]*/

/* Furudo Erika: */
    content: url('http://i.imgur.com/zLsPY.png');
/* Shinonome Hakase */
    content: url('http://i.imgur.com/TBHI6.png');
/* Hatsune Miku: */
    content: url('http://i.imgur.com/lKQHW.png');
/* Koiwai Yotsuba: */
    content: url('http://i.imgur.com/1MyDM.png');
/* Patchouli Knowledge: */
    content: url('http://i.imgur.com/QoKJb.png');
/* Asuka Langley Soryu: */
    content: url('http://i.imgur.com/Wj7s7.png');
/* Nakano Azusa */
    content: url('http://i.imgur.com/6c3p3.png');
/* Seraphim */
    content: url('http://i.imgur.com/PA7pJ.png');
/* Ika Musume */
    content: url('http://i.imgur.com/rKT7L.png');
/* Nagato Yuki */
    content: url('http://i.imgur.com/ucnzg.png');
/* BLACK★ROCK SHOOTER */
    content: url('http://i.imgur.com/VidKo.png');
/* Shana */
    content: url('http://i.imgur.com/JNS1z.png');
/* Kagamine Rin */
    content: url('http://i.imgur.com/fXXd2.png');
/* Iwakura Lain */
    content: url('http://i.imgur.com/AfjG9.png');
/* Gasai Yuno */
    content: url('http://i.imgur.com/iG1F2.png');
/* None */
/* End */