/*[[background]]*/

/* Akamiya Mio */
    content: url('http://i.imgur.com/MdE9K.png');
/* Akamiya Mio 2 */
    content: url('http://i.imgur.com/pBuG2.png');
/* Akamiya Mio sitting */
    content: url('http://i.imgur.com/0x4Rr.png');
/* Asuka Langley Soryu: */
    content: url('http://i.imgur.com/Wj7s7.png');
/* BLACK★ROCK SHOOTER */
    content: url('http://i.imgur.com/VidKo.png');
/* CC */
    content: url('http://i.imgur.com/Ir1v3.png'); 
/* Furudo Erika: */
    content: url('http://i.imgur.com/zLsPY.png');
/* Gasai Yuno */
    content: url('http://i.imgur.com/iG1F2.png');
/* Hasekura Youko: */
    content: url('http://i.imgur.com/qTQqY.png');
/* Hatsune Miku: */
    content: url('http://i.imgur.com/lKQHW.png');
/* Hatsune Miku 2: */
    content: url('http://i.imgur.com/ULksz.png');
/* Hatsune Miku (big): */
    content: url('http://i.imgur.com/H1pgZ.png');
/* Hirasawa Yui: */
    content: url('http://i.imgur.com/sL1Uo.png');
/* Horo sil (light color schemes): */
    content: url('http://i.imgur.com/HMpug.png');
/* Horo sil (dark color schemes): */
    content: url('http://i.imgur.com/PKfl4.png');
/* Horo sil 2 (light color schemes): */
    content: url('http://i.imgur.com/BjV3U.png');
/* Horo sil 2 (dark color schemes): */
    content: url('http://i.imgur.com/8fcrD.png');
/* Ika Musume */
    content: url('http://i.imgur.com/rKT7L.png');
/* Ika Musume 2: */
    content: url('http://i.imgur.com/uUhGG.png');
/* Iwakura Lain */
    content: url('http://i.imgur.com/AfjG9.png');
/* Iwakura Lain 2: */
    content: url('http://i.imgur.com/hIBLa.png');
/* Kagamine Rin */
    content: url('http://i.imgur.com/fXXd2.png');
/* Kaname Madoka: */
    content: url('http://i.imgur.com/4PHsl.png');
/* Koiwai Yotsuba: */
    content: url('http://i.imgur.com/1MyDM.png');
/* Nagato Yuki */
    content: url('http://i.imgur.com/ucnzg.png');
/* Nagato Yuki sil (light color schemes) */
    content: url('http://i.imgur.com/uR35P.png');
/* Nagato Yuki sil (dark color schemes) */
    content: url('http://i.imgur.com/aGFCl.png');
/* Nagato Yuki + Pantsu (light color schemes): */
    content: url('http://i.imgur.com/L9ZAT.png');
/* Nagato Yuki + Pantsu (dark color schemes): */
    content: url('http://i.imgur.com/MwoI9.png');
/* Nakano Azusa */
    content: url('http://i.imgur.com/6c3p3.png');
/* Patchouli Knowledge: */
    content: url('http://i.imgur.com/QoKJb.png');
/* Seraphim */
    content: url('http://i.imgur.com/PA7pJ.png');
/* Shana */
    content: url('http://i.imgur.com/JNS1z.png');
/* Shinonome Hakase */
    content: url('http://i.imgur.com/TBHI6.png');
/* Suzumiya Haruhi: */
    content: url('http://i.imgur.com/iVl5d.png');
/* Suzumiya Haruhi 2: */
    content: url('http://i.imgur.com/rW9Q6.png');
/* None */