/*[[QuickReply]]*/

/* Fixed: */
  @-moz-document domain('4chan.org') {
  #qr input.inputtext,
  #qr input[type='file'][name='upfile'] > input[type='text'],
  #qr textarea {
    width: 300px !important;
  }
  .postForm input[type="password"] {
    text-align: right !important;
    border: none !important;
  }
  .postForm {
    right: auto !important;
    left: 1px !important;
    /*[[ChangeAlign]]*/
    right: 1px !important;
    left: auto !important;/**/
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) { 
    .postForm {
      right: auto !important;
      left: 4px !important;
      /*[[ChangeAlign]]*/
      right: 4px !important;
      left: auto !important;/**/
    }
  }
  .postForm textarea {
    height: 72px !important;
  }
  .postForm input[type='file'][name='upfile'] {
    margin: 0 0px -1px 0px !important;
  }
  /* Remove vanilla post form and remove #qr UI to make it look more like the original post form */
  #qr > input,
  #qr > a:not(.error):not(.warning) {
    display: none;
  }
  /* .move contains the name field of the #qr. Here we're making it behave like no more than a container. We also hide the "Quick Reply" text with a hack. */
  #qr .move {
    color: transparent !important;
    font-size: 0 !important;
    height: 20px !important;
    cursor: default !important;
  }
  /* Disable the behavior of #autohide */
  #qr:not(:hover) > #autohide:checked ~ .autohide,
  #qr > #autohide:checked ~ .autohide,
  #qr > #autohide ~ .autohide {
    overflow: visible !important;
    height: auto !important;
  }
  /* Position and Dimensions of the #qr */
  #qr {
    overflow: visible !important;
    position: fixed;
    top: auto !important;
    left: 3px !important;
    right: auto !important;
    /*[[ChangeAlign]]*/
    left: auto !important;
    right: 3px !important;/**/
    bottom: 3px !important;
    width: 248px !important;
    margin: 0 !important;
    padding: 0 !important;
    z-index: 5 !important;
  }

  #qr_form {
    height: auto !important;
    position: static !important;
  }

  #qr .move .inputtext,
  #qr .inputtext[type='password'] {
    width: 248px !important;
  }
  /* Width and height of all #qr elements (excluding some captcha elements) */
  #qr textarea {
    min-height: 0 !important;
    resize: none !important;
  }

    body > .postingMode ~ form[name='delform'] .reply a > img[src^="//images"] {
    position: relative !important;
    /*[[ChangeAlign]]*/
    z-index: 96 !important;/**/
  }

  #qr img {
    height: 47px !important;
    width: 248px !important;
  }

  /* Errors */
  [id^='q'] .error, [id^='q'] .warning {
    visibility: visible !important;
    position: fixed !important;
    bottom: 250px !important;
    height: 19px !important;
    width: 248px !important;
    right: auto !important;
    left: 2px !important;
    /*[[ChangeAlign]]*/
    right: 2px !important;
    left: auto !important;/**/
    top: auto !important;
    font-size: 10px !important;
    z-index: 1;
  }
  /* Webkit Hax */
  .fake input[type='file']::-webkit-file-upload-button,
  * > #qr form[name^='post'] input[type='file'][name='upfile'] {
    width: 248px !important;
  }
  #dump {
    background: none !important;
    border: none !important;
    width: 20px !important;
    height: 17px !important;
    margin: 0 !important;
    position: absolute !important;
    bottom: 2px !important;
    right: 0px !important;
    font-size: 14px !important;
    vertical-align: center !important;
    outline: none !important;
  }
  #dump:hover {
    background: none !important;
  }
  #autohide {
    display: none !important;
  }
  #qr .move {
    height: 0px !important;
  }
  #qr select {
    position: absolute !important;
    bottom: -1px !important;
    right: 65px !important;
    background: none !important;
    border: none !important;
    font-size: 12px !important;
    width: 128px !important;
  }
  #qr > form > label {
    font-size: 0px !important;
    color: transparent !important;
  }
  #qr > form > label::after {
    content: "Spoiler?";
    font-size: 12px !important;
  }
  .dump > form > label {
    display: block !important;
    visibility: hidden !important;
  }
  #qr [type="file"] input[type='text'] {
    width: 104px !important;
    position: relative !important;
    right: 1px !important;
  }
  #qr {
    padding-bottom: 16px !important;
  }
  #spoilerLabel {
    position: absolute !important;
    bottom: 0px !important;
    right: 20px !important;
  }
  #spoilerLabel input {
    position: relative !important;
    top: 1px !important;    
    left: 2px !important;
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) { 
    #spoilerLabel input {
      position: relative !important;
      top: 5px !important;
    }
  }
  #qr [type="file"] {
    margin-top: 0px !important;
  }
  input[title="Verification"], .captcha {
    margin-top: 1px !important;
  }
  [id^='q'] .warning {
    position: absolute !important;
    bottom: -2px !important;
    left: 0px !important;
    /*[[ChangeAlign]]*/
    left: auto !important;
    right: 0px !important;/**/
    height: 20px !important;
  }
  .gecko #qr input[type="submit"] {
    height: 19px !important;
    position: relative !important;
    bottom: 1px !important;
  }
  .webkit #qr input[type="submit"] {
    height: 23px !important;
  }
  .webkit #qr [type="file"] {
    margin-top: 1px !important;
  }
  .webkit #qr > form input[type="file"]::-webkit-file-upload-button {
    height: 21px !important;
    min-height: 21px !important;
    max-height: 21px !important;
    font-size: 12px !important;
    width: 57px !important;
    word-spacing: 5px !important;
  }
  .webkit #qr > form input[type="file"] {
    margin-right: 1px !important;
  }
  .dump #replies {
    position: relative !important;
    top: 175px !important;
    height: 90px !important;
  }
  .dump textarea {
    position: relative !important;
    bottom: 100px !important;
  }
  .dump .captcha {
    position: relative !important;
    bottom: 100px !important;
  }
  .dump input[title="Verification"] {
    position: relative !important;
    bottom: 100px !important;
  }
  .dump .preview {
    height: 80px !important;
    width: 80px !important;
  }
  .gecko #qr > form input[type="file"] > input[type="button"] {
    float: left !important;
    width: 68px !important;
    margin-left: -1px !important;
  }
  .gecko #qr > form [type="file"] input[type='text'] {
    float: right !important;
    margin-right: -1px !important;
  }
  .dump input[name="name"], .dump input[name="sub"], .dump input[name="email"] { 
    position: relative !important;
    bottom: 10px !important;
  }
  .warning:empty {
    position: fixed !important;
    bottom: -20px !important;
  }
  .warning {
    text-align: right !important;
    vertical-align: middle !important;
    padding-top: 2px !important;
    max-height: 16px !important;
  }
  .warning {
    text-align: right !important;
    vertical-align: middle !important;
    padding-top: 2px !important;
    max-height: 16px !important;
  }
  div[class="navLinks"] a:first-of-type::after {
    bottom: 1px !important;
    top: auto !important;
  }
  .deleteform::before {
    top: auto !important;
    bottom: 1px !important;
  }
  .deleteform:hover {
    top: auto !important;
    bottom: 0px !important;
  }
  .deleteform:hover input[type='checkbox'] {
    top: auto !important;
    bottom: 2px !important;
  }
  .deleteform:hover::after {
    top: auto !important;
    bottom: 2px !important;
  }
  ..deleteform:hover input[name="pwd"] {
    top: auto !important;
    bottom: 0px !important;
  }
  #qr.autohide .move {
    display: inline-block !important;
    font-size: 12px !important;
    visibility: visible !important;
    height: 21px !important;
    bottom: 20px !important;
    text-align: center !important;
    overflow: visible !important;
    padding-top: 3px !important;
    -webkit-transition: opacity .3s ease-in-out 3s;
    -moz-transition: opacity .3s ease-in-out 3s;
    -o-transition: opacity .3s ease-in-out 3s;
    max-width: 248px !important;
    min-width: 248px !important;
    width: 248px !important;
  }
  #qr.autohide:not(:hover) .move {
    position: fixed !important;
    bottom: 0px !important;
  }
  #qr.autohide {
    padding-bottom: 0px !important;
    bottom:-250px!important;
    -webkit-transition: bottom .3s ease-in-out 3s, top .3s ease-in-out 3s;
    -moz-transition: bottom .3s ease-in-out 3s, top .3s ease-in-out 3s !important;
    -o-transition: bottom .3s ease-in-out 3s, top .3s ease-in-out 3s;
  }
  #qr.autohide:hover {
    padding-bottom: 16px !important;
    -webkit-transition: bottom .3s linear, top .3s linear;
    -moz-transition: bottom .3s linear, top .3s linear !important;
    -o-transition: bottom .3s linear, top .3s linear;
    bottom: 0px !important;
  }
  #qr.autohide:hover .move {
    padding-bottom: 5px !important;
  }
  #qr.autohide:hover .move input {
    display: inline-block !important;
  }
  #qr.autohide select {
    display: none !important;
  }
  #qr.autohide:hover select {
    display: inline-block !important;
  }
  #qr.autohide .close {
    display: none !important;
  }
  #qr.autohide:hover .move {
    padding-top: 1px !important;
  }
  #qr textarea.field, #qr input[title="Verification"], #qr div {
    min-width: 248px !important;
    max-width: 248px !important;
    width: 248px !important;
  }
  /*[[TextareaExpand]]*/
  @media screen and (-webkit-min-device-pixel-ratio:0) { 
    #qr > form {
      padding-bottom: 20px !important;
    }
    #qr [type="file"] {
      width: 71% !important;
    }
  }
  /*[[FieldStyle]]*/
  }
/* Slideout: */
  @-moz-document domain('4chan.org') {
  #qr input.inputtext,
  #qr input[type='file'][name='upfile'] > input[type='text'],
  #qr textarea {
    width: 300px !important;
  }
  .postForm {
    right: auto !important;
    left: -233px !important;
  /*[[ChangeAlign]]*/
    right: -233px !important;
    left: auto !important;/**/
    -webkit-transition: right .3s ease-in-out 3s, left .3s ease-in-out 3s;
    -moz-transition: right .3s ease-in-out 3s, left .3s ease-in-out 3s;
    -o-transition: right .3s ease-in-out 3s, left .3s ease-in-out 3s;
  }
  .postForm:hover {
    right: auto !important;
    left: 2px !important;
    /*[[ChangeAlign]]*/
    right: 2px !important;
    left: auto !important;/**/
    -webkit-transition: right .3s linear, left .3s linear;
    -moz-transition: right .3s linear, left .3s linear;
    -o-transition: right .3s linear, left .3s linear;
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) { 
    .postForm:hover {
      right: auto !important;
      left: 4px !important;
      /*[[ChangeAlign]]*/
      right: 4px !important;
      left: auto !important;/**/
    }
  }
  .postForm tr:nth-child(4) {
    height: 79px !important;
  }
  .postForm textarea {
    height: 72px !important;
  }
  .postForm input[type="password"] {
    text-align: right !important;
    border: none !important;
  }
  /* Remove vanilla post form and remove #qr UI to make it look more like the original post form */
  #qr > input,
  #qr > a:not(.error):not(.warning) {
    display: none;
  }
  /* .move contains the name field of the #qr. Here we're making it behave like no more than a container. We also hide the "Quick Reply" text with a hack. */
  #qr .move {
    cursor: default !important;
    color: transparent !important;
    font-size: 0 !important;
    height: 20px !important;
  }

  /* Disable the behavior of #autohide */
  #qr:not(:hover) > #autohide:checked ~ .autohide,
  #qr > #autohide:checked ~ .autohide,
  #qr > #autohide ~ .autohide {
    overflow: visible !important;
    height: auto !important;
  }
  /* Position and Dimensions of the #qr */
  #qr {
    overflow: visible !important;
    position: fixed;
    left: -233px !important;
    right: auto !important;
    /*[[ChangeAlign]]*/
    left: auto !important;
    right: -233px !important;/**/
    top: auto !important;
    bottom: 3px !important;
    width: 248px !important;
    margin: 0 !important;
    padding: 0;
    -webkit-transition: right .3s ease-in-out 3s, left .3s ease-in-out 3s;
    -moz-transition: right .3s ease-in-out 3s, left .3s ease-in-out 3s;
    -o-transition: right .3s ease-in-out 3s, left .3s ease-in-out 3s;
    z-index: 5 !important;
  }

  #qr:hover {
    left: 2px !important;
    right: auto !important;
    /*[[ChangeAlign]]*/
    left: auto !important;
    right: 2px !important;/**/
    -webkit-transition: right .3s linear, left .3s linear;
    -moz-transition: right .3s linear, left .3s linear;
    -o-transition: right .3s linear, left .3s linear;
  }

  #qr_form {
    height: auto !important;
    position: static !important;
  }

  #qr .move .inputtext,
  #qr .inputtext[type='password'] {
    width: 248px !important;
  }
  /* Width and height of all #qr elements (excluding some captcha elements) */
  #qr textarea {
    min-height: 0 !important;
    resize: none !important;
  }

  #qr form[name^='post'] .inputtext,
  #qr #files input[type=file][name='upfile'] {
    width: 248px !important;
  }

  #qr form[name^='post'] .inputtext[name='sub'],
  #qr form[name^='post'] input[name='upfile'] > input[type='text'],
  #files input[type='file'][name='upfile'] > input[type='text'] {
    width: 185px !important;
  }

  body > .postingMode ~ form[name='delform'] .reply a > img[src^="//images"] {
    position: relative !important;
    /*[[ChangeAlign]]*/
    z-index: 96 !important;/**/
  }

  #qr img {
    height: 47px !important;
    width: 248px !important;
  }

  /* Errors */
  [id^='q'] .error, [id^='q'] .warning {
    visibility: visible !important;
    position: fixed !important;
    bottom: 250px !important;
    height: 19px !important;
    width: 248px !important;
    right: auto !important;
    left: 2px !important;
    /*[[ChangeAlign]]*/
    right: 2px !important;
    left: auto !important;/**/
    top: auto !important;
    font-size: 10px !important;
    z-index: 1;
  }
  /* Webkit Hax */
  .fake input[type='file']::-webkit-file-upload-button,
  * > #qr form[name^='post'] input[type='file'][name='upfile'] {
    width: 248px !important;
  }
  #dump {
    background: none !important;
    border: none !important;
    width: 20px !important;
    height: 17px !important;
    margin: 0 !important;
    position: absolute !important;
    bottom: 2px !important;
    right: 0px !important;
    font-size: 14px !important;
    vertical-align: center !important;
    outline: none !important;
  }
  #dump:hover {
    background: none !important;
  }
  #autohide {
    display: none !important;
  }
  #qr .move {
    height: 0px !important;
  }
  #qr select {
    position: absolute !important;
    bottom: -1px !important;
    right: 65px !important;
    background: none !important;
    border: none !important;
    font-size: 12px !important;
    width: 128px !important;
  }
  #qr > form > label {
    font-size: 0px !important;
    color: transparent !important;
  }
  #qr > form > label::after {
    content: "Spoiler?";
    font-size: 12px !important;
  }
  .dump > form > label {
    display: block !important;
    visibility: hidden !important;
  }
  #qr [type="file"] input[type='text'] {
    width: 104px !important;
    position: relative !important;
    right: 1px !important;
  }
  #qr {
    padding-bottom: 16px !important;
  }
  #spoilerLabel {
    position: absolute !important;
    bottom: 0px !important;
    right: 20px !important;
  }
  #spoilerLabel input {
    position: relative !important;
    top: 1px !important;    
    left: 2px !important;
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) { 
    #spoilerLabel input {
      position: relative !important;
      top: 5px !important;
    }
  }
  #qr [type="file"] {
    margin-top: 0px !important;
  }
  input[title="Verification"], .captcha {
    margin-top: 1px !important;
  }
  [id^='q'] .warning {
    position: absolute !important;
    bottom: -2px !important;
    left: 0px !important;
    /*[[ChangeAlign]]*/
    left: auto !important;
    right: 0px !important;/**/
    height: 20px !important;
  }
  .gecko #qr input[type="submit"] {
    height: 19px !important;
    position: relative !important;
    bottom: 1px !important;
  }
  .webkit #qr input[type="submit"] {
    height: 23px !important;
  }
  .webkit #qr [type="file"] {
    margin-top: 1px !important;
  }
  .webkit #qr > form input[type="file"]::-webkit-file-upload-button {
    height: 21px !important;
    min-height: 21px !important;
    max-height: 21px !important;
    font-size: 12px !important;
    width: 57px !important;
    word-spacing: 5px !important;
  }
  .webkit #qr > form input[type="file"] {
    margin-right: 1px !important;
  }
  .dump #replies {
    position: relative !important;
    top: 175px !important;
    height: 90px !important;
  }
  .dump textarea {
    position: relative !important;
    bottom: 100px !important;
  }
  .dump .captcha {
    position: relative !important;
    bottom: 100px !important;
  }
  .dump input[title="Verification"] {
    position: relative !important;
    bottom: 100px !important;
  }
  .dump .preview {
    height: 80px !important;
    width: 80px !important;
  }
  .gecko #qr > form input[type="file"] > input[type="button"] {
    float: left !important;
    width: 68px !important;
    margin-left: -1px !important;
  }
  .gecko #qr > form [type="file"] input[type='text'] {
    float: right !important;
    margin-right: -1px !important;
  }
  .dump input[name="name"], .dump input[name="sub"], .dump input[name="email"] { 
    position: relative !important;
    bottom: 10px !important;
  }
  .warning:empty {
    position: fixed !important;
    bottom: -20px !important;
  }
  .warning {
    text-align: right !important;
    vertical-align: middle !important;
    padding-top: 2px !important;
    max-height: 16px !important;
  }
  body::after {
    bottom: 0px !important; 
  }
  #qr.autohide::after {
    width: 250px !important;
    color: red !important;
    position: fixed !important;
    bottom: 20px !important;
    left: 0px !important;
    /*[[ChangeAlign]]*/
    left: auto !important;
    right: 0px !important;/**/
    content: "Disable autohide and enable persistent QR in your 4chan X settings!";
    text-align: center !important;
  }
  #qr textarea.field, #qr input[title="Verification"], #qr div {
    min-width: 248px !important;
    max-width: 248px !important;
    width: 248px !important;
  }
  /*[[TextareaExpand]]*/
  @media screen and (-webkit-min-device-pixel-ratio:0) { 
    #qr > form {
      padding-bottom: 20px !important;
    }
    #qr [type="file"] {
      width: 71% !important;
    }
  }
  /*[[FieldStyle]]*/
  }
/* Tabbed Slideout: */
  @-moz-document domain('4chan.org') {
  #qr input.inputtext,
  #qr input[type='file'][name='upfile'] > input[type='text'],
  #qr textarea {
    width: 300px !important;
  }
  .postForm {
    right: auto !important;
    left: -263px !important;
    /*[[ChangeAlign]]*/
    right: -263px !important;
    left: auto !important;/**/
    -webkit-transition: right .3s ease-in-out 3s, left .3s ease-in-out 3s;
    -moz-transition: right .3s ease-in-out 3s, left .3s ease-in-out 3s;
    -o-transition: right .3s ease-in-out 3s, left .3s ease-in-out 3s;
  }
  .postForm:hover {
    right: auto !important;
    left: 1px !important;
    /*[[ChangeAlign]]*/
    right: -12px !important;
    left: auto !important;/**/
    -webkit-transition: right .3s linear, left .3s linear;
    -moz-transition: right .3s linear, left .3s linear;
    -o-transition: right .3s linear, left .3s linear;
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) { 
    .postForm:hover {
      right: auto !important;
      left: 4px !important;
      /*[[ChangeAlign]]*/
      right: -8px !important;
      left: auto !important;/**/
    }
  }
  .postForm::before {
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: bottom left;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: bottom left;
    -o-transform: rotate(90deg);
    -o-transform-origin: bottom left;
    margin-left: 250px;
    margin-right: 264px;
    margin-bottom: -20px;
    /*[[ChangeAlign]]*/
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: bottom right;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: bottom right;
    -o-transform: rotate(-90deg);
    -o-transform-origin: bottom right;
    margin-left: -212px;
    margin-right: 264px;/**/
    margin-bottom: -20px;
    width: 210px;
    display: inline-block;
    font-size: 12px !important;
    opacity: 1;
    height: 18px !important;
    text-align: center;
    content: 'Post Form';
    padding-top: 3px !important;
    vertical-align: middle !important;
    -webkit-transition: opacity .3s ease-in-out 3s;
    -moz-transition: opacity .3s ease-in-out 3s;
    -o-transition: opacity .3s ease-in-out 3s;
  }
  .postForm:hover::before {
    opacity: 0;
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
  }
  [id^="q"] .error, [id^="q"] .warning {
    bottom: 250px !important;
  }
  .postForm textarea {
    height: 68px !important;
  }
  .postForm input[type="password"] {
    text-align: right !important;
    border: none !important;
  }
  /* Remove vanilla post form and remove #qr UI to make it look more like the original post form */
  #qr > input,
  #qr > a:not(.error):not(.warning) {
    display: none;
  }
  /* .move contains the name field of the #qr. Here we're making it behave like no more than a container. We also hide the "Quick Reply" text with a hack. */
  #qr .move {
    cursor: default !important;
    color: transparent !important;
    font-size: 0 !important;
    height: 20px !important;
  }
  /* Disable the behavior of #autohide */
  #qr:not(:hover) > #autohide:checked ~ .autohide,
  #qr > #autohide:checked ~ .autohide,
  #qr > #autohide ~ .autohide {
    overflow: visible !important;
    height: auto !important;
  }
  /* Position and Dimensions of the #qr */
  #qr {
    overflow: visible !important;
    position: fixed;
    left: -252px !important;
    right: auto !important;
    /*[[ChangeAlign]]*/
    left: auto !important;
    right: -265px !important;/**/
    top: auto !important;
    bottom: 3px !important;
    width: 248px !important;
    margin: 0 !important;
    padding: 0 !important;
    -webkit-transition: right .3s ease-in-out 3s, left .3s ease-in-out 3s;
    -moz-transition: right .3s ease-in-out 3s, left .3s ease-in-out 3s;
    -o-transition: right .3s ease-in-out 3s, left .3s ease-in-out 3s;
    z-index: 5 !important;
  }

  #qr:hover {
    left: 2px !important;
    right: auto !important;
    /*[[ChangeAlign]]*/
    left: auto !important;
    right: -11px !important;/**/
    -webkit-transition: right .3s linear, left .3s linear;
    -moz-transition: right .3s linear, left .3s linear;
    -o-transition: right .3s linear, left .3s linear;
  }
  /* Tabbed Text. I'm not exactly sure about the mechanics behind how this works. */
  #qr::before {
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: bottom left;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: bottom left;
    -o-transform: rotate(90deg);
    -o-transform-origin: bottom left;
    margin-left: 250px;
    margin-right: -232px;
    /*[[ChangeAlign]]*/
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: bottom right;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: bottom right;
    -o-transform: rotate(-90deg);
    -o-transform-origin: bottom right;
    margin-left: -212px;
    margin-right: 264px;/**/
    margin-bottom: -20px;
    width: 210px;
    display: block;
    font-size: 12px !important;
    opacity: 1;
    height: 18px !important;
    text-align: center;
    content: 'Quick Reply';
    padding-top: 3px !important;
    vertical-align: middle !important;
    -webkit-transition: opacity .3s ease-in-out 3s;
    -moz-transition: opacity .3s ease-in-out 3s;
    -o-transition: opacity .3s ease-in-out 3s;
  }

  #qr:hover::before {
    opacity: 0;
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
  }

  #qr_form {
    height: auto !important;
    position: static !important;
  }

  #qr .move .inputtext,
  #qr .inputtext[type='password'] {
    width: 248px !important;
  }
  /* Width and height of all #qr elements (excluding some captcha elements) */
  #qr textarea {
    min-height: 0 !important;
    resize: none !important;
  }

    body > .postingMode ~ form[name='delform'] .reply a > img[src^="//images"] {
    position: relative !important;
    /*[[ChangeAlign]]*/
    z-index: 96 !important;/**/
  }

  #qr img {
    height: 47px !important;
    width: 248px !important;
  }

  /* Errors */
  [id^='q'] .error, [id^='q'] .warning {
    visibility: visible !important;
    position: fixed !important;
    bottom: 250px !important;
    height: 19px !important;
    width: 248px !important;
    right: auto !important;
    left: 2px !important;
    /*[[ChangeAlign]]*/
    right: 2px !important;
    left: auto !important;/**/
    top: auto !important;
    font-size: 10px !important;
    z-index: 1;
  }
  /* Webkit Hax */
  .fake input[type='file']::-webkit-file-upload-button,
  * > #qr form[name^='post'] input[type='file'][name='upfile'] {
    width: 248px !important;
  }
  #dump {
    background: none !important;
    border: none !important;
    width: 20px !important;
    height: 17px !important;
    margin: 0 !important;
    position: absolute !important;
    bottom: 2px !important;
    right: 10px !important;
    font-size: 14px !important;
    vertical-align: center !important;
    outline: none !important;
  }
  #dump:hover {
    background: none !important;
  }
  #autohide {
    display: none !important;
  }
  #qr .move {
    height: 0px !important;
  }
  #qr select {
    position: absolute !important;
    bottom: -1px !important;
    right: 65px !important;
    background: none !important;
    border: none !important;
    font-size: 12px !important;
    width: 128px !important;
  }
  #qr > form > label {
    font-size: 0px !important;
    color: transparent !important;
  }
  #qr > form > label::after {
    content: "Spoiler?";
    font-size: 12px !important;
  }
  .dump > form > label {
    display: block !important;
    visibility: hidden !important;
  }
  #qr [type="file"] input[type='text'] {
    width: 104px !important;
    position: relative !important;
    right: 1px !important;
  }
  #qr {
    padding-bottom: 16px !important;
  }
  #spoilerLabel {
    position: absolute !important;
    bottom: 0px !important;
    right: 20px !important;
  }
  #spoilerLabel input {
    position: relative !important;
    top: 1px !important;    
    left: 2px !important;
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) { 
    #spoilerLabel input {
      position: relative !important;
      top: 5px !important;
    }
  }
  #qr [type="file"] {
    margin-top: 0px !important;
  }
  input[title="Verification"], .captcha {
    margin-top: 1px !important;
  }
  [id^='q'] .warning {
    position: absolute !important;
    bottom: -2px !important;
    left: 0px !important;
    /*[[ChangeAlign]]*/
    left: auto !important;
    right: 0px !important;/**/
    height: 20px !important;
  }
  .gecko #qr input[type="submit"] {
    height: 19px !important;
    position: relative !important;
    bottom: 1px !important;
  }
  .webkit #qr input[type="submit"] {
    height: 23px !important;
  }
  .webkit #qr [type="file"] {
    margin-top: 1px !important;
  }
  .webkit #qr > form input[type="file"]::-webkit-file-upload-button {
    height: 21px !important;
    min-height: 21px !important;
    max-height: 21px !important;
    font-size: 12px !important;
    width: 57px !important;
    word-spacing: 5px !important;
  }
  .webkit #qr > form input[type="file"] {
    margin-right: 1px !important;
  }
  .dump #replies {
    position: relative !important;
    top: 175px !important;
    height: 90px !important;
  }
  .dump textarea {
    position: relative !important;
    bottom: 100px !important;
  }
  .dump .captcha {
    position: relative !important;
    bottom: 100px !important;
  }
  .dump input[title="Verification"] {
    position: relative !important;
    bottom: 100px !important;
  }
  .dump .preview {
    height: 80px !important;
    width: 80px !important;
  }
  .gecko #qr > form input[type="file"] > input[type="button"] {
    float: left !important;
    width: 68px !important;
    margin-left: -1px !important;
  }
  .gecko #qr > form [type="file"] input[type='text'] {
    float: right !important;
    margin-right: -1px !important;
  }
  .dump input[name="name"], .dump input[name="sub"], .dump input[name="email"] { 
    position: relative !important;
    bottom: 10px !important;
  }
  .warning:empty {
    position: fixed !important;
    bottom: -20px !important;
  }
  .warning {
    text-align: right !important;
    vertical-align: middle !important;
    padding-top: 2px !important;
    max-height: 16px !important;
  }
  body::after {
    bottom: 0px !important; 
  }
  #qr.autohide::after {
    width: 250px !important;
    color: red !important;
    position: fixed !important;
    bottom: 20px !important;
    left: 0px !important;
    /*[[ChangeAlign]]*/
    left: auto !important;
    right: 0px !important;/**/
    content: "Disable autohide and enable persistent QR in your 4chan X settings!";
    text-align: center !important;
  }
  #qr textarea.field, #qr input[title="Verification"], #qr div {
    min-width: 248px !important;
    max-width: 248px !important;
    width: 248px !important;
  }
  /*[[TextareaExpand]]*/
  @media screen and (-webkit-min-device-pixel-ratio:0) { 
    #qr > form {
      padding-bottom: 20px !important;
    }
    #qr [type="file"] {
      width: 71% !important;
    }
  }
  /*[[FieldStyle]]*/
  .postForm #recaptcha_reload_btn {
    position: absolute !important;
    bottom: 75px !important;
    left: 230px !important;
    /*[[ChangeAlign]]*/
    left: auto !important;
    right: 2px !important;/**/
  }
  }
  .postForm textarea {
    margin-top: 1px !important;
  }
  #postFile {
    margin-top: 2px !important;
    margin-left: 0px !important;
  }
  }
/* Fade: */
  @-moz-document domain('4chan.org') {
  #qr input.inputtext,
  #qr input[type='file'][name='upfile'] > input[type='text'],
  #qr textarea {
    width: 300px !important;
  }
  .postForm {
    right: auto !important;
    left: 1px !important;
    /*[[ChangeAlign]]*/
    right: 1px !important;
    left: auto !important;/**/
    opacity: 0.2;
    -webkit-transition: opacity .3s ease-in-out 3s;
    -moz-transition: opacity .3s ease-in-out 3s;
    -o-transition: opacity .3s ease-in-out 3s;
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) { 
    .postForm {
      right: auto !important;
      left: 4px !important;
      /*[[ChangeAlign]]*/
      right: 4px !important;
      left: auto !important;/**/
    }
  }
  .postForm:hover {
    opacity: 1;
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
  }
  .postForm textarea {
    height: 72px !important;
  }
  .postForm input[type="password"] {
    text-align: right !important;
    border: none !important;
  }
  #qr > input,
  #qr > a:not(.error):not(.warning) {
    display: none;
  }

  #qr .move {
    cursor: default !important;
    color: transparent !important;
    font-size: 0 !important;
    height: 20px !important;
  }

  #qr:not(:hover) > #autohide:checked ~ .autohide,
  #qr > #autohide:checked ~ .autohide,
  #qr > #autohide ~ .autohide {
    overflow: visible !important;
    height: auto !important;
  }

  #qr {
    overflow: visible !important;
    position: fixed;
    top: auto !important;
    left: 3px !important;
    right: auto !important;
    /*[[ChangeAlign]]*/
    left: auto !important;
    right: 3px !important;/**/
    bottom: 3px !important;
    width: 248px !important;
    margin: 0 !important;
    padding: 0 !important;
    opacity: 0.2;
    -webkit-transition: opacity .3s ease-in-out 3s;
    -moz-transition: opacity .3s ease-in-out 3s;
    -o-transition: opacity .3s ease-in-out 3s;
    z-index: 5 !important;
  }

  #qr:hover {
    opacity: 1;
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
  }

  #qr_form {
    height: auto !important;
    position: static !important;
  }

  #qr .move .inputtext,
  #qr .inputtext[type='password'] {
    width: 248px !important;
  }
  /* Width and height of all #qr elements (excluding some captcha elements) */
  #qr textarea {
    min-height: 0 !important;
    resize: none !important;
  }

    body > .postingMode ~ form[name='delform'] .reply a > img[src^="//images"] {
    position: relative !important;
    /*[[ChangeAlign]]*/
    z-index: 96 !important;/**/
  }

  #qr img {
    height: 47px !important;
    width: 248px !important;
  }

  /* Errors */
  [id^='q'] .error, [id^='q'] .warning {
    visibility: visible !important;
    position: fixed !important;
    bottom: 250px !important;
    height: 19px !important;
    width: 248px !important;
    right: auto !important;
    left: 2px !important;
    /*[[ChangeAlign]]*/
    right: 2px !important;
    left: auto !important;/**/
    top: auto !important;
    font-size: 10px !important;
    z-index: 1;
  }
  /* Webkit Hax */
  .fake input[type='file']::-webkit-file-upload-button,
  * > #qr form[name^='post'] input[type='file'][name='upfile'] {
    width: 248px !important;
  }
  #dump {
    background: none !important;
    border: none !important;
    width: 20px !important;
    height: 17px !important;
    margin: 0 !important;
    position: absolute !important;
    bottom: 2px !important;
    right: 0px !important;
    font-size: 14px !important;
    vertical-align: center !important;
    outline: none !important;
  }
  #dump:hover {
    background: none !important;
  }
  #autohide {
    display: none !important;
  }
  #qr .move {
    height: 0px !important;
  }
  #qr select {
    position: absolute !important;
    bottom: -1px !important;
    right: 65px !important;
    background: none !important;
    border: none !important;
    font-size: 12px !important;
    width: 128px !important;
  }
  #qr > form > label {
    font-size: 0px !important;
    color: transparent !important;
  }
  #qr > form > label::after {
    content: "Spoiler?";
    font-size: 12px !important;
  }
  .dump > form > label {
    display: block !important;
    visibility: hidden !important;
  }
  #qr [type="file"] input[type='text'] {
    width: 104px !important;
    position: relative !important;
    right: 1px !important;
  }
  #qr {
    padding-bottom: 16px !important;
  }
  #spoilerLabel {
    position: absolute !important;
    bottom: 0px !important;
    right: 20px !important;
  }
  #spoilerLabel input {
    position: relative !important;
    top: 1px !important;    
    left: 2px !important;
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) { 
    #spoilerLabel input {
      position: relative !important;
      top: 5px !important;
    }
  }
  #qr [type="file"] {
    margin-top: 0px !important;
  }
  input[title="Verification"], .captcha {
    margin-top: 1px !important;
  }
  [id^='q'] .warning {
    position: absolute !important;
    bottom: -2px !important;
    left: 0px !important;
    /*[[ChangeAlign]]*/
    left: auto !important;
    right: 0px !important;/**/
    height: 20px !important;
  }
  .gecko #qr input[type="submit"] {
    height: 19px !important;
    position: relative !important;
    bottom: 1px !important;
  }
  .webkit #qr input[type="submit"] {
    height: 23px !important;
  }
  .webkit #qr [type="file"] {
    margin-top: 1px !important;
  }
  .webkit #qr > form input[type="file"]::-webkit-file-upload-button {
    height: 21px !important;
    min-height: 21px !important;
    max-height: 21px !important;
    font-size: 12px !important;
    width: 57px !important;
    word-spacing: 5px !important;
  }
  .webkit #qr > form input[type="file"] {
    margin-right: 1px !important;
  }
  .dump #replies {
    position: relative !important;
    top: 175px !important;
    height: 90px !important;
  }
  .dump textarea {
    position: relative !important;
    bottom: 100px !important;
  }
  .dump .captcha {
    position: relative !important;
    bottom: 100px !important;
  }
  .dump input[title="Verification"] {
    position: relative !important;
    bottom: 100px !important;
  }
  .dump .preview {
    height: 80px !important;
    width: 80px !important;
  }
  .gecko #qr > form input[type="file"] > input[type="button"] {
    float: left !important;
    width: 68px !important;
    margin-left: -1px !important;
  }
  .gecko #qr > form [type="file"] input[type='text'] {
    float: right !important;
    margin-right: -1px !important;
  }
  .dump input[name="name"], .dump input[name="sub"], .dump input[name="email"] { 
    position: relative !important;
    bottom: 10px !important;
  }
  .warning:empty {
    position: fixed !important;
    bottom: -20px !important;
  }
  .warning {
    text-align: right !important;
    vertical-align: middle !important;
    padding-top: 2px !important;
    max-height: 16px !important;
  }
  div[class="navLinks"] a:first-of-type::after {
    bottom: 1px !important;
    top: auto !important;
  }
  .deleteform::before {
    top: auto !important;
    bottom: 1px !important;
  }
  .deleteform:hover {
    top: auto !important;
    bottom: 0px !important;
  }
  .deleteform:hover input[type='checkbox'] {
    top: auto !important;
    bottom: 2px !important;
  }
  .deleteform:hover::after {
    top: auto !important;
    bottom: 2px !important;
  }
  ..deleteform:hover input[name="pwd"] {
    top: auto !important;
    bottom: 0px !important;
  }
  #qr.autohide .move {
    display: inline-block !important;
    font-size: 12px !important;
    visibility: visible !important;
    height: 21px !important;
    bottom: 20px !important;
    text-align: center !important;
    overflow: visible !important;
    padding-top: 3px !important;
    -webkit-transition: opacity .3s ease-in-out 3s;
    -moz-transition: opacity .3s ease-in-out 3s;
    -o-transition: opacity .3s ease-in-out 3s;
    max-width: 248px !important;
    min-width: 248px !important;
    width: 248px !important;
  }
  #qr.autohide:not(:hover) .move {
    position: fixed !important;
    bottom: 0px !important;
  }
  #qr.autohide {
    padding-bottom: 0px !important;
    bottom:-250px!important;
    -webkit-transition: bottom .3s ease-in-out 3s, top .3s ease-in-out 3s;
    -moz-transition: bottom .3s ease-in-out 3s, top .3s ease-in-out 3s !important;
    -o-transition: bottom .3s ease-in-out 3s, top .3s ease-in-out 3s;
  }
  #qr.autohide:hover {
    padding-bottom: 16px !important;
    -webkit-transition: bottom .3s linear, top .3s linear;
    -moz-transition: bottom .3s linear, top .3s linear !important;
    -o-transition: bottom .3s linear, top .3s linear;
    bottom: 0px !important;
  }
  #qr.autohide:hover .move {
    padding-bottom: 5px !important;
  }
  #qr.autohide:hover .move input {
    display: inline-block !important;
  }
  #qr.autohide select {
    display: none !important;
  }
  #qr.autohide:hover select {
    display: inline-block !important;
  }
  #qr.autohide .close {
    display: none !important;
  }
  #qr.autohide:hover .move {
    padding-top: 1px !important;
  }
  #qr textarea.field, #qr input[title="Verification"], #qr div {
    min-width: 248px !important;
    max-width: 248px !important;
    width: 248px !important;
  }
  /*[[TextareaExpand]]*/
  @media screen and (-webkit-min-device-pixel-ratio:0) { 
    #qr > form {
      padding-bottom: 20px !important;
    }
    #qr [type="file"] {
      width: 71% !important;
    }
  }
  /*[[FieldStyle]]*/
  }
/* Floating QR ONLY */
  @-moz-document domain('4chan.org') {
  /* Remove vanilla post form and remove #qr UI to make it look more like the original post form */
  .postForm,
  #qr > input,
  #qr > a:not(.error):not(.warning) {
    display: none;
  }
  /* Disable the behavior of #autohide */
  #qr:not(:hover) > #autohide:checked ~ .autohide,
  #qr > #autohide:checked ~ .autohide,
  #qr > #autohide ~ .autohide {
    overflow: visible !important;
    height: auto !important;
  }
  /* Position and Dimensions of the #qr */
  #qr {
    width: 248px !important;
    margin: 0 !important;
    padding: 0 !important;
    z-index: 5 !important;
  }

  #qr_form {
    height: auto !important;
    position: static !important;
  }

  #qr .move .inputtext,
  #qr .inputtext[type='password'] {
    width: 248px !important;
  }
  /* Width and height of all #qr elements (excluding some captcha elements) */

  #qr .close {
    position: absolute !important;
    right: 0px !important;
  }

  #qr img {
    height: 47px !important;
    width: 248px !important;
  }

  /* Errors */
  [id^='q'] .error, [id^='q'] .warning {
    visibility: visible !important;
    bottom: 250px !important;
    height: 19px !important;
    width: 248px !important;
    top: auto !important;
    font-size: 10px !important;
    z-index: 1;
  }
  /* Webkit Hax */
  .fake input[type='file']::-webkit-file-upload-button,
  * > #qr form[name^='post'] input[type='file'][name='upfile'] {
    width: 248px !important;
  }
  #dump {
    background: none !important;
    border: none !important;
    width: 20px !important;
    height: 17px !important;
    margin: 0 !important;
    font-size: 14px !important;
    vertical-align: center !important;
    outline: none !important;
  }
  #dump:hover {
    background: none !important;
  }
  #autohide {
    display: none !important;
  }
  #qr select {
    position: relative !important;
    right: 25px !important;
    font-size: 12px !important;
    width: 128px !important;
  }
  #qr > form > label {
    font-size: 0px !important;
    color: transparent !important;
  }
  #qr > form > label::after {
    content: "Spoiler?";
    font-size: 12px !important;
  }
  .dump > form > label {
    display: block !important;
    visibility: hidden !important;
  }
  #qr [type="file"] input[type='text'] {
    width: 104px !important;
    position: relative !important;
    right: 1px !important;
  }
  #qr [type="file"] {
    margin-top: 0px !important;
  }
  input[title="Verification"], .captcha {
    margin-top: 1px !important;
  }
  [id^='q'] .warning {
    height: 20px !important;
  }
  .gecko #qr input[type="submit"] {
    height: 19px !important;
    position: relative !important;
    bottom: 1px !important;
  }
  .webkit #qr input[type="submit"] {
    height: 23px !important;
  }
  .webkit #qr [type="file"] {
    margin-top: 1px !important;
  }
  .warning:empty {
    position: fixed !important;
    bottom: -20px !important;
  }
  .warning {
    text-align: right !important;
    vertical-align: middle !important;
    padding-top: 2px !important;
    max-height: 16px !important;
  }
  body::after {
    bottom: 0px !important; 
  }
  #qr.autohide .move {
    display: inline-block !important;
    font-size: 12px !important;
    visibility: visible !important;
    height: 19px !important;
    text-align: center !important;
    padding-top: 3px !important;
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) { 
    #qr > form {
      padding-bottom: 20px !important;
    }
    #qr [type="file"] {
      width: 71% !important;
    }
  }
  .postForm input[type="password"] {
    text-align: right !important;
    border: none !important;
  }
  #qr {
    z-index: 999 !important;
  }
  }
/* End */