/*[[TextareaExpand]]*/

/* Yes */
  .postForm textarea:focus, #qr textarea:focus {
    min-height: 200px !important;
    max-height: 200px !important;
    height: 200px !important;
    min-width: 400px !important;
    width: 400px !important;
    max-width: 400px !important;
    position: relative !important;
    /*[[ChangeAlign]]*/
    right: 152px !important;/**/
    z-index: 99 !important;
  }
/* No */
