/*[[TextareaExpand]]*/

/* Yes */
  .postForm textarea:focus, #qr textarea:focus {
    display: block !important;
    min-height: 200px !important;
    max-height: 200px !important;
    height: 150px !important;
    min-width: 400px !important;
    width: 400px !important;
    max-width: 400px !important;
    position: absolute !important;
    bottom: 60px !important;
    left: 0px !important;
    /*[[ChangeAlign]]*/
    left: auto !important;
    right: 0px !important;
    z-index: 99 !important;
  }
  #qr input[name="name"]:focus, #qr input[name="email"]:focus, #qr input[name="sub"]:focus {
      width: 248px !important;
      position: absolute !important;
      top: 0px !important;
      left: 0px !important;
  }
/* No */
