/*[[CaptchaOpacity]]*/

/* 0.1 */
#recaptcha_image img,
#qr img,
.captcha img {
  opacity: 0.1 !important;
}
.captcha {
  background: none !important;
  outline: none !important;
}
/* 0.2 */
#recaptcha_image img,
#qr img,
.captcha img {
  opacity: 0.2 !important;
}
.captcha {
  background: none !important;
  outline: none !important;
}
/* 0.3 */
#recaptcha_image img,
#qr img,
.captcha img {
  opacity: 0.3 !important;
}
.captcha {
  background: none !important;
  outline: none !important;
}
/* 0.4 */
#recaptcha_image img,
#qr img,
.captcha img {
  opacity: 0.4 !important;
}
.captcha {
  background: none !important;
  outline: none !important;
}
/* 0.5 */
#recaptcha_image img,
#qr img,
.captcha img {
  opacity: 0.5 !important;
}
.captcha {
  background: none !important;
  outline: none !important;
}
/* 0.6 */
#recaptcha_image img,
#qr img,
.captcha img {
  opacity: 0.6 !important;
}
.captcha {
  background: none !important;
  outline: none !important;
}
/* 0.7 */
#recaptcha_image img,
#qr img,
.captcha img {
  opacity: 0.7 !important;
}
.captcha {
  background: none !important;
  outline: none !important;
}
/* 0.8 */
#recaptcha_image img,
#qr img,
.captcha img {
  opacity: 0.8 !important;
}
.captcha {
  background: none !important;
  outline: none !important;
}
/* 0.9 */
#recaptcha_image img,
#qr img,
.captcha img {
  opacity: 0.9 !important;
}
.captcha {
  background: none !important;
  outline: none !important;
}
/* 1.0 */
#recaptcha_image img,
#qr img,
.captcha img {
  opacity: 1.0 !important;
}
