/*[[ReplyWidth]]*/

/* Fit Width: */
  .summary /* X posts and Y image replies omitted. Click Reply to view. */ {
    clear: both;
    padding-left: 20px;
    display: block !important;
  }
  .sideArrows {
    z-index: 1;
    position: absolute;
    right: 0px;
    height: 10px !important;
  }
  .postInfo {
    margin: 1px 0 0 !important;
    position: relative !important;
    width: 100% !important;
  }
  .sideArrows a, .sideArrows span {
    position: static !important;
    width: 20px !important;
    font-size: 9px !important;
    height: 10px !important;
  }
  .sideArrows {
    width: 20px !important;
    padding-top: 1px !important;
  }
  div.reply .report_button, .sideArrows, .postInfo input {
    opacity: 0 !important;
  }
  form .replyContainer:not(:hover) div.reply .report_button, form .replyContainer:not(:hover) .sideArrows, form .replyContainer:not(:hover) .postInfo input{
    -webkit-transition: opacity .3s ease-out 0s !important;
    -moz-transition: opacity .3s ease-out 0s !important;
    -o-transition: opacity .3s ease-out 0s !important;
  }
  form .replyContainer:hover div.reply .report_button, form .replyContainer:hover .sideArrows, .replyContainer:hover .postInfo input {
    opacity: 1 !important;
    -webkit-transition: opacity .3s ease-in .5s !important;
    -moz-transition: opacity .3s ease-in .5s !important;
    -o-transition: opacity .3s ease-in .5s !important;
  }
   div.reply input:checked {
    opacity: 1 !important;
  }
  form .postContainer blockquote {
    margin-left: 30px !important;
  }
  div.reply {
    padding-top: 6px !important;
    padding-left: 10px !important;
  }
  div.reply .postInfo input {
    position: absolute !important;
    top: -3px !important;
    right: 5px !important;
  }
  div.reply .report_button {
    position: absolute !important;
    right: 33px !important;
    top: -1px !important;
    font-size: 9px !important;
  }
  div.postContainer, div.replyContainer {
    position: relative !important;
  }
  .sideArrows a {
    position: absolute !important;
    right: 47px !important;
    top: 7px !important;
  }
  .sideArrows a {
    font-size: 9px !important;
  }
  div.reply {
    display: block !important;
  }
  div.sideArrows {
    float: none !important;
  }
  .hide_thread_button {
    position: relative !important;
    z-index: 2 !important;
    margin-right: 5px !important;
  }
  .opContainer input {
    opacity: 1 !important;
  }
/* Normal (4chan default) */
  .sideArrows a {
    font-size: 9px !important;
  }
  .sideArrows a {
    position: static;
  }
  div.reply {
    padding-right: 5px !important;
  }
  .sideArrows {
    margin-right: 5px !important;
    width: 20px !important;
  }
  .sideArrows a {
    width: 20px !important;
    font-size: 12px !important;
  }
  .hide_thread_button {
    position: relative !important;
    z-index: 2 !important;
    margin-right: 5px !important;
  }