/*[[ReplyWidth]]*/

/* Fit Width: */
  form[name='delform'] > table:not(.pages):not([align="right"]), /* Reply are tables. */
  div.thread > table, /* Replies are tables. A script like 4chan X is present */
  .insertedPosts > table, /* 4chanplus inserts new posts in a new div */
  td.reply, /* Reply cell */
  td.replyhl /* Highlighted Reply cell */ {
    width: 100% !important;
  }
  .omittedposts /* X posts and Y image replies omitted. Click Reply to view. */ {
    clear: both;
    padding-left: 20px;
    display: block !important;
  }
  .replyhider {
    z-index: 1;
    position: absolute;
    right: 0px;
  }
  form[name="delform"] > .thread > table, form[name="delform"] > table {
    margin: 1px 0 0;
    position: relative;
    width: 100%;
  }
  .replyhider a {
    position: static !important;
    width: 20px !important;
    font-size: 12px !important;
  }
  .replyhider {
    width: 20px !important;
    padding-top: 1px !important;
  }
  .reportbutton, .replyhider, td.reply input {
    opacity: 0 !important;
  }
  form tr:not(:hover) td.reply .reportbutton, form tr:not(:hover) .replyhider, form tr:not(:hover) td.reply input {
    -webkit-transition: opacity .3s ease-out 0s !important;
    -moz-transition: opacity .3s ease-out 0s !important;
    -o-transition: opacity .3s ease-out 0s !important;
  }
  form tr:hover td.reply .reportbutton, form tr:hover .replyhider, form tr:hover td.reply input {
    opacity: 1 !important;
    -webkit-transition: opacity .3s ease-in .5s !important;
    -moz-transition: opacity .3s ease-in .5s !important;
    -o-transition: opacity .3s ease-in .5s !important;
  }
  td.reply input:checked {
    opacity: 1 !important;
  }
  form tr blockquote {
    margin-left: 30px !important;
  }
  td.reply {
    padding-top: 6px !important;
    padding-left: 10px !important;
  }
  td.reply input {
    position: absolute !important;
    top: 6px !important;
    right: 5px !important;
  }
  td.reply .reportbutton {
    position: absolute !important;
    right: 33px !important;
    top: 8px !important;
    font-size: 9px !important;
  }
  .replyhider {
    right: 47px !important;
    top: 7px !important;
  }
  .replyhider a {
    font-size: 9px !important;
  }
/* Normal (4chan default) */
  .doubledash,
  .doubledash a,
  .replyhider a {
    position: static;
  }
  td.reply {
    padding-right: 5px !important;
  }
  .replyhider {
    margin-right: 5px !important;
    width: 20px !important;
  }
  .replyhider a {
    width: 20px !important;
    font-size: 12px !important;
  }