/*[[ReplyWidth]]*/

/* Fit Width: */
  .summary /* X posts and Y image replies omitted. Click Reply to view. */ {
    clear: both;
    padding-left: 20px;
    display: block !important;
  }
  .sideArrows {
    z-index: 1;
    position: absolute;
    right: 0px;
    height: 10px !important;
  }
  .postInfo {
    margin: 1px 0 0 !important;
    position: relative !important;
    width: 100% !important;
  }
  .sideArrows a, .sideArrows span {
    position: static !important;
    width: 20px !important;
    font-size: 9px !important;
    height: 10px !important;
  }
  .sideArrows {
    width: 20px !important;
    padding-top: 1px !important;
  }
  div.reply .report_button, .sideArrows, .postInfo input {
    opacity: 0 !important;
  }
  form .replyContainer:not(:hover) div.reply .report_button, form .replyContainer:not(:hover) .sideArrows, form .replyContainer:not(:hover) .postInfo input{
    -webkit-transition: opacity .3s ease-out 0s !important;
    -moz-transition: opacity .3s ease-out 0s !important;
    -o-transition: opacity .3s ease-out 0s !important;
  }
  form .replyContainer:hover div.reply .report_button, form .replyContainer:hover .sideArrows, .replyContainer:hover .postInfo input {
    opacity: 1 !important;
    -webkit-transition: opacity .3s ease-in .5s !important;
    -moz-transition: opacity .3s ease-in .5s !important;
    -o-transition: opacity .3s ease-in .5s !important;
  }
   div.reply input:checked {
    opacity: 1 !important;
  }
  form .postContainer blockquote {
    margin-left: 30px !important;
  }
  div.reply {
    padding-top: 6px !important;
    padding-left: 10px !important;
  }
  div.reply .postInfo input {
    position: absolute !important;
    top: -3px !important;
    right: 5px !important;
  }
  div.reply .report_button {
    position: absolute !important;
    right: 33px !important;
    top: -1px !important;
    font-size: 9px !important;
  }
  div.postContainer, div.replyContainer {
    position: relative !important;
  }
  .sideArrows a {
    position: absolute !important;
    right: 47px !important;
    top: 7px !important;
  }
  .sideArrows a {
    font-size: 9px !important;
  }
  form[name="delform"] {
    position: relative !important;
  }
  div.thread {
    overflow: visible!important;
    padding: 0!important;
    padding-right: 2px!important;
    position: relative;
  }
  div.post:not(#qp):not([hidden]) {
    margin: 0!important;
    width: 100%;
  }
  body, body > a[style="cursor: pointer; float: right;"] + div, input, select, textarea, .replyContainer > .reply, .hidden_thread, .stub > a, .thread.stub, .boardBanner .boardTitle, #qr, #qr > form > .captcha > img {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  form[name="delform"] .op::after, #addMascot > label::after, #qr > form > div::after, #updater div > label::after, .thread::after, .reply::after {
    clear: both;
    content: '';
    display: block;
  }
  .thread > div > .post {
    overflow: visible !important;
  }
  div.reply {
    display: table !important;
  }
  div.sideArrows {
    float: none !important;
  }
  .hide_thread_button {
    position: relative !important;
    z-index: 2 !important;
    margin-right: 10px !important;
    margin-left: 5px !important;
    font-size: 9px !important;
  }
  .opContainer input {
    opacity: 1 !important;
  }
  #options.reply {
    display: inline-block !important;
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) { 
    div.op {
      display: table !important;
    }
  }
/* Normal (4chan default) */
   #updater {
    top: -3px !important;
  }
  .sideArrows a {
    font-size: 9px !important;
  }
  .sideArrows a {
    position: static;
  }
  div.reply {
    padding-right: 5px !important;
  }
  .sideArrows {
    margin-right: 5px !important;
    width: 20px !important;
  }
  .sideArrows a {
    width: 20px !important;
    font-size: 12px !important;
  }
  .hide_thread_button {
    position: relative !important;
    z-index: 2 !important;
    margin-right: 5px !important;
  }
  div.reply {
    padding-top: 5px !important;
    padding-left: 2px !important;
    display: table !important;
  }
   form[name="delform"] {
    position: relative !important;
  }
  div.thread {
    overflow: visible!important;
    padding: 0!important;
    padding-right: 2px!important;
    position: relative;
  }
  div.post:not(#qp):not([hidden]) {
    margin: 0!important;
  }
  body, body > a[style="cursor: pointer; float: right;"] + div, input, select, textarea, .replyContainer > .reply, .hidden_thread, .stub > a, .thread.stub, .boardBanner .boardTitle, #qr, #qr > form > .captcha > img {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  form[name="delform"] .op::after, #addMascot > label::after, #qr > form > div::after, #updater div > label::after, .thread::after, .reply::after {
    clear: both;
    content: '';
    display: block;
  }
  .thread > div > .post {
    overflow: visible !important;
  }
  .sideArrows span {
  font-size: 9px !important;
  }
  .sideArrows {
  width: 20px !important;
  }
  #options.reply {
    display: inline-block !important;
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) {  
    input[value="delete"] {
      position: relative !important;
      top: 4px !important;
    }
    body > .postingMode ~ form[name='delform'] input[value="delete"] {
      position: relative !important;
      top: -1px !important;
    }
  }