/*[[ReplyWidth]]*/

/* Fit Width: */
  form[name='delform'] > table:not(.pages):not([align="right"]), /* Reply are tables. */
  div.thread > table, /* Replies are tables. A script like 4chan X is present */
  .insertedPosts > table, /* 4chanplus inserts new posts in a new div */
  td.reply, /* Reply cell */
  td.replyhl /* Highlighted Reply cell */ {
    width: 100% !important;
  }
  .omittedposts /* X posts and Y image replies omitted. Click Reply to view. */ {
    clear: both;
    padding-left: 20px;
    display: block !important;
  }
  .replyhider {
    z-index: 1;
    position: absolute;
    right: 0px;
  }
  form[name="delform"] > .thread > table, form[name="delform"] > table {
    margin: 1px 0 0;
    position: relative;
    width: 100%;
  }
  .replyhider a {
    position: static !important;
    width: 20px !important;
    font-size: 12px !important;
  }
  .replyhider {
    width: 20px !important;
    padding-top: 1px !important;
  }
/* Normal (4chan default) */
  .doubledash,
  .doubledash a,
  .replyhider a {
    position: static;
  }
  td.reply {
    padding-right: 5px !important;
  }
  .replyhider {
    margin-right: 5px !important;
    width: 20px !important;
  }
  .replyhider a {
    width: 20px !important;
    font-size: 12px !important;
  }