/*[[ReplyWidth]]*/

/* Fit Width: */
  form[name='delform'] > .board,
  form[name='delform'], 
  .board, /* Reply are tables. */
  div.thread, /* Replies are tables. A script like 4chan X is present */
  div.reply,
  .replyContainer,
  .opContainer,
  .postContainer, /* Reply cell */
  div.reply.highlight,
  div.post,
  div.post.reply /* Highlighted Reply cell */ {
    width: 100% !important;
  }
  .summary /* X posts and Y image replies omitted. Click Reply to view. */ {
    clear: both;
    padding-left: 20px;
    display: block !important;
  }
  .replyhider {
    z-index: 1;
    position: absolute;
    right: 0px;
  }
  .postInfo {
    margin: 1px 0 0 !important;
    position: relative !important;
    width: 100% !important;
  }
  .replyhider a {
    position: static !important;
    width: 20px !important;
    font-size: 12px !important;
  }
  .replyhider {
    width: 20px !important;
    padding-top: 1px !important;
  }
  div.reply .reportbutton, .replyhider, .postInfo input {
    opacity: 0 !important;
  }
  form .replyContainer:not(:hover) div.reply .reportbutton, form .replyContainer:not(:hover) .replyhider, form .replyContainer:not(:hover) .postInfo input{
    -webkit-transition: opacity .3s ease-out 0s !important;
    -moz-transition: opacity .3s ease-out 0s !important;
    -o-transition: opacity .3s ease-out 0s !important;
  }
  form .replyContainer:hover div.reply .reportbutton, form .replyContainer:hover .replyhider, .replyContainer:hover .postInfo input {
    opacity: 1 !important;
    -webkit-transition: opacity .3s ease-in .5s !important;
    -moz-transition: opacity .3s ease-in .5s !important;
    -o-transition: opacity .3s ease-in .5s !important;
  }
   div.reply input:checked {
    opacity: 1 !important;
  }
  form .postContainer blockquote {
    margin-left: 30px !important;
  }
  div.reply {
    padding-top: 6px !important;
    padding-left: 10px !important;
  }

  div.reply .postInfo input {
    position: absolute !important;
    top: -3px !important;
    right: 5px !important;
  } 

  div.reply .reportbutton {
    position: absolute !important;
    right: 33px !important;
    top: 8px !important;
    font-size: 9px !important;
  }
  .replyhider {
    right: 47px !important;
    top: 7px !important;
  }
  .replyhider a {
    font-size: 9px !important;
  }
  div.replyContainer {
    display: table-row !important;
  }
  div.reply {
    width: 100% !important;
    display: table-cell !important;
  }
  div.sideArrows {
    display: table-cell !important;
  }
/* Normal (4chan default) */
  .replyhider a {
    font-size: 9px !important;
  }
  .replyhider a {
    position: static;
  }
  div.reply {
    padding-right: 5px !important;
  }
  .replyhider {
    margin-right: 5px !important;
    width: 20px !important;
  }
  .replyhider a {
    width: 20px !important;
    font-size: 12px !important;
  }