/*[[RoundedCorners]]*/

/* Enabled */
  input[type='checkbox'],
  form[name^='post'] td:nth-of-type(3) > label input[type='checkbox'],
  #qr label input[type='checkbox'] {
    border-radius: 2px !important;
  }

  td.reply,
  td.replyhl,
  #filter,
  #options,
  #watcher,
  #thread_filter,
  #qp,
  #backwash_tooltip,
  #twi_table_div
  td[style='border: 1px dashed;'],
  td.reply > tr > td.reply,
  .inline td.reply,
  h2,
  .deletebuttons,
  #navbot,
  font[color="red"] {
    border-radius: 3px !important;
  }

  body::before {
          border-radius: 0px 0px 3px 3px !important;
        }

  .pages b,
  .pages input,
  a,
  .new,
  #qr a#attach::after {
    border-radius: 9px;
  }

  form[name^='post']::after {
    border-radius: 6px 6px 0 0;
  }

  .qphl {
    -moz-outline-radius: 3px;
  }
/* Enabled, with Circle Checkboxes */
  input[type='checkbox'],
  #options input[type='checkbox'],
  form[name^='post'] td:nth-of-type(3) > label input[type='checkbox'],
  #qr label input[type='checkbox'] {
    border-radius: 6px !important;
  }

  td.reply,
  td.replyhl,
  #filter,
  #options,
  #watcher,
  #thread_filter,
  #qp,
  #backwash_tooltip,
  #twi_table_div
  td[style='border: 1px dashed;'],
  td.reply > tr > td.reply,
  .inline td.reply,
  h2,
  .deletebuttons,
  #navbot,
  font[color="red"] {
    border-radius: 3px !important;
  }

  body::before {
          border-radius: 0px 0px 3px 3px !important;
        }

  .pages b,
  .pages input,
  a,
  .new {
    border-radius: 9px;
  }

  form[name^='post']::after {
    border-radius: 6px 6px 0 0;
  }

  .qphl {
    -moz-outline-radius: 3px;
  }
/* Disabled */
