/*[[FieldStyle]]*/

/* Compact (New 4chan X default) */
  #qr textarea {
    height: 111px !important;
    width: 248px !important;
  }
  .field[name="email"], .field[name="sub"] {
    width: 81px !important;
  }
  .field[name="name"], .field[name="email"] {
    margin-right: 1px !important;
  }
  .field[name="name"] {
    width: 84px !important;
  }
/* Non-Compact (Old 4chan X default) */
  #qr textarea {
    height: 68px !important;
    width: 248px !important;
  }
  .field[name="name"], .field[name="email"], .field[name="sub"] {
    width: 248px !important;
  }
  .field[name="email"], .field[name="sub"] {
    margin-top: 1px !important;
  }
  .dump #replies {
    top: 130px !important;
  }
