/*[[helpertext]]*/

/* Yes: */
/* No: */
  #qr div input:-moz-placeholder,
  #qr form input:-moz-placeholder,
  #qr form textarea:-moz-placeholder {
    color: transparent !important;
  }

  #qr div input::-webkit-input-placeholder,
  #qr form input::-webkit-input-placeholder,
  #qr form textarea::-webkit-input-placeholder {
    color: transparent !important;
  }

  #qr div input:placeholder,
  #qr form input:placeholder,
  #qr form textarea:placeholder {
    color: transparent !important;
  }

  .field {
    -moz-transition: 0s !important;
    -webkit-transition: 0s !important;
    -o-transition: 0s !important;
  }

  .postblock,
