/*[[BetweenReply]]*/

/* Large */
.replyContainer {
  margin-bottom: 6px !important;
}
form[name="delform"] {
  margin-bottom: 6px !important;
}
body > .postingMode ~ form[name="delform"] {
  margin-bottom: 12px !important;
}
/* Normal (4chan default) */
.replyContainer {
  margin-bottom: 4px !important;
}
form[name="delform"] {
  margin-bottom: 8px !important;
}
body > .postingMode ~ form[name="delform"] {
  margin-bottom: 14px !important;
}
/* Minimal */
.replyContainer {
  margin-bottom: 2px !important;
}
form[name="delform"] {
  margin-bottom: 10px !important;
}
body > .postingMode ~ form[name="delform"] {
  margin-bottom: 16px !important;
}
/* None */
.replyContainer {
  margin-bottom: 0px !important;
}
form[name="delform"] {
  margin-bottom: 12px !important;
}
body > .postingMode ~ form[name="delform"] {
  margin-bottom: 18px !important;
}