/*[[CaptchaReload]]*/

/* Custom Captcha Reload Image: */
  #quickrep .refreshBtn,
  #recaptcha_reload_btn,
  .refreshBtn {
    position: absolute !important;
    height: 0 !important;
    width: 0 !important;
    padding: 12px 0 0 12px !important;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAZ0lEQVR4XgXAsQ0BUQCA4c8kSrOo70KntAgxgkl05CV2sMOVEo2ofgEAYAIAdp6SRQBwkSQJgL3kbJYEwPC1BgArIFcAwAvIFgAcBQwAQAawQZK7g0UmAJKPt+QEAPlJHmYA4AYA8AeJKy3vtXoiawAAAABJRU5ErkJggg==') no-repeat !important;
    overflow: hidden;
    z-index: 1 !important;
  }
/* None: */
  #quickrep .refreshBtn,
  #recaptcha_reload_btn,
  .refreshBtn {
    display: none;
  }
