/*[[FilteredBacklinks]]*/

/* Show: */
/* Hide Backlinks Only */
  .filtered.backlink { 
    display: none !important;
  }
/* Hide Quotelinks and Backlinks */
  .filtered.backlink { 
    display: none !important;
  }
  .quotelink.filtered {
    display: inline-block !important;
    visibility: hidden !important;
    font-size: 0px !important;
  }