/*[[FilteredBacklinks]]*/

/* Show: */
/* Hide: */
	.quotelink.filtered {
		display: block;
		visibility: hidden;
		margin-bottom: -29px !important;
	}

	.filtered.backlink {
        display: none !important
    }