/*[[StickyNavigation]]*/

/* Stickied Header / Pages */
   #boardNavDesktop,
  #boardNavMobile,
  .pages {
    position: fixed !important;
  }

  .pages {
    margin: 0 0 0 250px !important;
    /*[[ChangeAlign]]*/margin: 0 250px 0 0 !important;/**/
  }

  .navlinks {
    padding-top: 14px
  }

  #boardNavDesktop,
  #boardNavMobile {
    top: 0 !important;
  }

  .pages {
    top: auto !important;
    bottom: 0px !important;
    padding-bottom: 1px !important;
  }

  #navbar {
    margin-left: auto !important;
    margin-right: -265px !important;
    /*[[ChangeAlign]]*/
    margin-right: auto !important;
    margin-left: -265px !important;/**/
    bottom: 16px !important;
    height: 26px !important;
  }

  #navbar {
    bottom: 1px !important;
  }

  #boardsMenu {
    bottom: 46px !important;
  }

  #navbar #boardsMenu {
    bottom: 26px !important;
  }
  .pages {
    width: auto !important;
    text-align: center !important;
    border-spacing: 0 !important;
    left: 0px !important;
    right: 0px !important;
    z-index: 1;
  }
  form[name='delform'] {
    padding: 11px 0 2px 0 !important;
    margin: 0 0 0px !important;
  }
  body > .postingMode ~ form[name='delform'] {
    padding-top: 4px !important;
  }
  #boardNavDesktop,
  #boardNavMobile {
    top: 0px !important;
  }
/* Normal (4chan default) */
  #boardNavDesktop {
    position: absolute !important;
  }

  .pages {
    padding: 0 !important;
  }
  form[name='delform'] {
    padding: 11px 0 2px 0 !important;
    margin: 0 0 0px !important;
  }
  body > .postingMode ~ form[name='delform'] {
    padding-top: 4px !important;
  }
  #boardNavDesktop {
    top: 0px !important;
  }
  .pages {
    width: auto !important;
    text-align: center !important;
    border-spacing: 0 !important;
    left: 0px !important;
    right: 0px !important;
    padding-right: 0 !important;
    z-index: 1;
  }
/* Inverted Stickied Header / Pages */
  #boardNavDesktop,
  #boardNavMobile,
  .pages {
    position: fixed !important;
  }


  .navlinks {
    padding-top: 14px;
  }

  .navlinks {
    padding-top: 0;
  }

  #boardNavDesktop,
  #boardNavMobile {
    top: auto !important;
    bottom: 0px !important;
  }

  .pages {
    bottom: auto !important;
    top: 0 !important;
  }

  #navbar {
    margin-left: auto !important;
    margin-right: -265px !important;
    /*[[ChangeAlign]]*/
    margin-right: auto !important;
    margin-left: -265px !important;/**/
    bottom: 16px !important;
    height: 26px !important;
  }

  #boardsMenu {
    bottom: 46px !important;
  }
  .pages {
    width: auto !important;
    text-align: center !important;
    border-spacing: 0 !important;
    left: 0px !important;
    right: 0px !important;
    z-index: 1;
  }
  body::before {
    z-index: 2 !important;
  }
  #watcher::before, font[color="red"]::before, .deleteform::before, div[class="navLinks"] a:first-of-type::after {
    z-index: 3 !important;
  }
  body {
    padding-top: 5px !important;
  }
  form[name='delform'] {
    padding: 11px 0 2px 0 !important;
    margin: 0 0 0px !important;
  }
  body > .postingMode ~ form[name='delform'] {
    padding-top: 2px !important;
  }
  body > .postingMode ~ form[name='delform'] {
    padding-top: 4px !important;
  }
/* Removed regular header */
  .pages {
    padding: 0 !important;
  }
  .pages {
    width: auto !important;
    text-align: center !important;
    border-spacing: 0 !important;
    left: 2px !important;
    right: auto !important;
    /*[[ChangeAlign]]*/
    left: auto !important;
    right: 0px !important;/**/
    z-index: 1;
  }
  form[name='delform'] {
    padding: 0px 0 2px 0 !important;
    margin: 0px 0 0px !important;
  }
  body > .postingMode ~ form[name='delform'] {
    margin: -11px 0 0px !important;
  }
   #boardNavDesktop,
  #boardNavMobile {
    position: absolute !important;
    top: -150px !important;
  }
/* Bottom Stickied Header (non-stickied pages) */
  #boardNavDesktop,
  #boardNavMobile {
    position: fixed !important;
  }

  .navlinks {
    padding-top: 14px;
  }

  .navlinks {
    padding-top: 0;
  }

  #boardNavDesktop,
  #boardNavMobile {
    top: auto !important;
    bottom: 0px !important;
  }

  #navbar {
    margin-left: auto !important;
    margin-right: -265px !important;
    /*[[ChangeAlign]]*/
    margin-right: auto !important;
    margin-left: -265px !important;/**/
    bottom: 16px !important;
    height: 26px !important;
  }

  #boardsMenu {
    bottom: 46px !important;
  }
  .pages {
    width: auto !important;
    text-align: center !important;
    border-spacing: 0 !important;
    left: 0px !important;
    right: auto !important;
    /*[[ChangeAlign]]*/
    left: auto !important;
    right: 0px !important;/**/
    margin-bottom: 20px !important;
    margin-top: 0px !important;
    z-index: 1;
  }

  form[name='delform'] {
    padding: 0px 0 2px 0 !important;
    margin: 0px 0 0px !important;
  }
  body > .postingMode ~ form[name='delform'] {
    margin: -11px 0 0px !important;
  }
/* Top Stickied Pages */
  .pages {
    position: fixed !important;
    bottom: auto !important;
    top: 0 !important;
  }

  #boardNavDesktop,
  #boardNavMobile {
    display: none !important;
  }

  .pages {
    width: auto !important;
    text-align: center !important;
    border-spacing: 0 !important;
    left: 0px !important;
    right: 0px !important;
    z-index: 1;
  }
  body::before {
    z-index: 2 !important;
  }
  #watcher::before, .globalMessage::before, .deleteform::before, div[class="navLinks"] a:first-of-type::after {
    z-index: 3 !important;
  }
  body {
    padding-top: 5px !important;
  }
  form[name='delform'] {
    padding: 0px 0 2px 0 !important;
    margin: 11px 0 0px !important;
  }
  body > .postingMode ~ form[name='delform'] {
    margin: -11px 0 0px !important;
  }
  #boardNavDesktop,
  #boardNavMobile {
    top: -150px !important;
  }
/* Top Stickied Header / Non-Stickied Pages */
  #boardNavDesktop,
  #boardNavMobile {
    position: fixed !important;
  }

  .navlinks {
    padding-top: 14px;
  }

  .navlinks {
    padding-top: 0;
  }

  #boardNavDesktop,
  #boardNavMobile {
    top: 0px !important;
  }

  #navbar {
    margin-left: auto !important;
    margin-right: -265px !important;
    /*[[ChangeAlign]]*/
    margin-right: auto !important;
    margin-left: -265px !important;/**/
    bottom: 16px !important;
    height: 26px !important;
  }

  #boardsMenu {
    bottom: 46px !important;
  }
  .pages {
    width: auto !important;
    text-align: center !important;
    border-spacing: 0 !important;
    left: 0px !important;
    right: auto !important;
    /*[[ChangeAlign]]*/
    left: auto !important;
    right: 0px !important;/**/
    z-index: 1;
  }
  body {
    padding-top: 5px !important;
  }
  form[name='delform'] {
    padding: 0px 0 2px 0 !important;
    margin: 0 0 0px !important;
  }
  body > .postingMode ~ form[name='delform'] {
    padding-top: 4px !important;
  }