/*[[PagesPosition]]*/

/* Side */
  .pages {
    padding: 0 !important;
    visibility: hidden;
    top: auto !important;
    bottom: 311px !important;
    width: auto !important;
    left: -1px !important;
    right: auto !important;
    /*[[ChangeAlign]]*/   left: auto !important;
    right: 251px !important;/**/
    position: fixed;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: bottom right;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: bottom right;
    -o-transform: rotate(90deg);
    -o-transform-origin: bottom right;
    letter-spacing: -1px;
    word-spacing: -6px;
    z-index: 6 !important;
    margin: 0 !important;
  }

  .pages a, .pages b, .pages input {
    visibility: visible;
    min-width: 0;
  }
/* Normal: */
