/*[[SlideoutNav]]*/

/* List */
#boardNavDesktopFoot a {
	position: relative;
	z-index: 1;
	display: block !important;
	margin-bottom: -15px !important;
}
#boardNavDesktopFoot {
	height: 300px !important;
	overflow-y: scroll !important;
	padding-bottom: 0px !important;
	padding-top: 0px !important;
	word-spacing: 0px !important;
	text-rendering: geometricPrecision !important;
}
#boardNavDesktopFoot a[href*="/a/"] {
	margin-top: -12px !important;
}
#boardNavDesktopFoot a::after{
	content: " - " attr(title) !important;
	font-size: 12px !important;
}
#boardNavDesktopFoot a[href*="//boards.4chan.org/"]::after,
#boardNavDesktopFoot a[href*="//rs.4chan.org/"]::after{
	content: "/ - " attr(title) !important;
	font-size: 12px !important;
}
#boardNavDesktopFoot a[href*="//boards.4chan.org/"]::before,
#boardNavDesktopFoot a[href*="//rs.4chan.org/"]::before {
	content: "/" !important;
	font-size: 12px !important;
}
#navbotr {
	display: none;
}
/* Compact */
/* No */
  #boardNavDesktopFoot::after {
    display: none !important;
  }
