/*[[expandfile]]*/

/* Enabled */
  .filesize span:not([class]) {
    font-size: 0 !important;
    visibility: hidden;
  }

  .filesize span:not([class])::after {
    content: attr(title);
    visibility: visible;
  }
/* Disabled */
