/*[[redtext]]*/

/* Normal (4chan default) */
  .globalMessage {
    position: static !important;
    background: none !important;
    border: none !important;
    margin-top: 20px !important;
  }
  .globalMessage, h2, h3, h1 {
    position: relative !important;
    top: 20px !important;
  }
  .globalMessage::before {
    display: none !important;
  }
  .globalMessage:hover {
    top: 20px !important;
  }
/* Button only */
  .globalMessage:hover {
    position: fixed !important;
    z-index: 99 !important;
  }
/* Disable entirely */
  .globalMessage {
    display: none !important;
  }
  .globalMessage::before {
    display: none !important;
  }
