/*[[CenteredImages]]*/

/* Yes: */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	img {
		display: block !important;
	}

	#ft ul {
		text-align: center !important;
	}

	#ft li {
		float: none !important;
		display: inline-block !important;
	}

	b {
		font-weight: 800 !important;
	}
  html {
    display: table !important;
  }

  body {
    display: table-cell !important;
    vertical-align: middle !important;
  }

  html,
  body {
    height: 100% !important;
    min-width: 101% !important;
    width: 101% !important;
    overflow-y:scroll;
  }


  img {
    margin: auto !important;
    overflow: auto !important;
  }
}
/* No: */
