/*[[ihover]]*/

/* Fit to Screen Width */
  #iHover {
    max-width:85% !important;
    max-height:85% !important;
  }
/* Keep Above URL bar */
  #iHover {
    padding-bottom: 20px !important;
  }
/* Both */
  #iHover {
    max-width:85% !important;
    max-height:85% !important;
    padding-bottom: 20px !important;
  }
/* None */
