/*[[watcherslideout]]*/

/* Enabled */
  #watcher  {
    position: fixed !important;
    top: -1000px !important;
    right: auto !important;
    left: 2px !important;
    /*[[ChangeAlign]]*/
    right: 2px !important;
    left: auto !important; /**/
    bottom: auto !important;
    width: 246px !important;
    padding-bottom: 4px !important;
  }
  #watcher:hover {
    position: fixed !important;
    z-index: 99 !important;
  }
/* Disabled */
  #watcher::before {
    display: none !important;
  }
  #watcher  {
    right: auto !important;
    left: 2px !important;
    /*[[ChangeAlign]]*/
    right: 2px !important;
    left: auto !important; /**/
    width: 246px !important;
    padding-bottom: 4px !important;
    z-index: 96 !important;
  }
