/*[[BackLinks]]*/

/* Normal (4chan default): */
/* Move to Bottom Right: */
  form[name='delform'] td.reply,
  form[name='delform'] td.replyhl {
    display: inline-block;
    position: relative !important;
  }

  td .container,
  #qp .container {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

  .op .container {
    display: block;
  }

  .container::before {
    content: "Quoted by: ";
    font-size: inherit;
  }

  .op .container::before {
    margin-left: 50px;
  }

  .reply .container ~ blockquote,
  .replyhl .container ~ blockquote {
    margin: 12px 40px 20px;
  }
/* Move to Bottom Left: */
  form[name='delform'] td.reply,
  form[name='delform'] td.replyhl {
    display: inline-block;
    position: relative !important;
  }

  td .container,
  #qp .container {
    position: absolute;
    bottom: 5px;
    left: 5px;
  }

  .op .container {
    display: block;
  }

  .container::before {
    content: "Quoted by: ";
    font-size: inherit;
  }

  .op .container::before {
    margin-left: 50px;
  }

  .reply .container ~ blockquote,
  .replyhl .container ~ blockquote {
    margin: 12px 40px 20px;
  }
