/*[[Margin]]*/

/* Enabled: */
  /*[[MarginStyle]]*/
  .replyhider a {
    z-index: 1;
    position: absolute;
    right: 5px;
    /*[[ChangeAlign]]*/ right: 255px;/**/
  }
  .replyhider {
    width: 0 !important;
    padding: 0 !important;
/* Disabled: */
    margin: 0 2px 0 2px !important;
  }
  .replyhider a {
    z-index: 1;
    position: absolute;
    right: 5px;
  }
  .replyhider {
    width: 0 !important;
    padding: 0 !important;
