/*[[boardlogo]]*/

/* Board Name in Sidebar*/
  .boardBanner {
    position: fixed !important;
    right: auto !important;
    left: 2px !important;
    /*[[ChangeAlign]]*/
    right: 2px !important;
    left: auto !important;/**/
    top: auto !important;
    bottom: 327px !important;
    width: 248px !important;
    z-index: 4;
    text-align: center;
  }
  .boardBanner img {
    display: none;
  }
  #watcher::before {
    top: 20px !important;
  }
  #watcher:hover {
    top: 34px !important; 
  }
  #watcher {
    position: fixed !important;
    top: 34px !important;
  }
  #boardNavDesktopFoot::after {
    top: 19px !important;
  }
  #boardNavDesktopFoot:hover {
    top: 34px !important; 
  }
  #navtopr a::after {
    top: 19px !important;
  }
  body > a[style='cursor: pointer; float: right;']::after {
    top: 17px !important;
  }
  .globalMessage::before {
    top: 19px !important;
  }
  .globalMessage:hover {
    top: 34px !important; 
  }
  div[class="navLinks"] a:first-of-type::after {
    top: 17px !important;
  }
  .deleteform::before {
    top: 17px !important;
  }
  .deleteform:hover {
    top: 18px !important;
  }
  .deleteform:hover .inputtext {
    top: 18px !important;
  }
  .deleteform:hover input[type='checkbox'] {
    top: 22px !important;
  }
  .deleteform:hover::after {
    top: 22px !important;
  }
/* Board Name at Top */
  .boardTitle {
    position: fixed !important;
    right: auto !important;
    left: 2px !important;
    /*[[ChangeAlign]]*/
    right: 2px !important;
    left: auto !important;/**/
    bottom: 327px !important;
    width: 248px !important;
    z-index: 4;
    text-align: center;
  }
  .boardBanner img {
    display: none;
  }
  #watcher::before {
    top: 20px !important;
  }
  #watcher:hover {
    top: 34px !important; 
  }
  #watcher {
    position: fixed !important;
    top: 34px !important;
  }
  #boardNavDesktopFoot::after {
    top: 19px !important;
  }
  #boardNavDesktopFoot:hover {
    top: 34px !important; 
  }
  #navtopr a::after {
    top: 19px !important;
  }
  body > a[style='cursor: pointer; float: right;']::after {
    top: 17px !important;
  }
  .globalMessage::before {
    top: 19px !important;
  }
  .globalMessage:hover {
    top: 34px !important; 
  }
  div[class="navLinks"] a:first-of-type::after {
    top: 17px !important;
  }
  .deleteform::before {
    top: 17px !important;
  }
  .deleteform:hover {
    top: 18px !important;
  }
  .deleteform:hover .inputtext {
    top: 18px !important;
  }
  .deleteform:hover input[type='checkbox'] {
    top: 22px !important;
  }
  .deleteform:hover::after {
    top: 22px !important;
  }
  .boardTitle, .boardBanner {
    position: static !important;
    margin: auto !important;
    margin-top: 10px !important;
  }
/* Banner in Sidebar*/
  .boardTitle, .boardSubtitle {
    display: none;
  }
  #watcher::before {
    top: 105px !important;
  }
  #watcher:hover {
    top: 119px !important;
  }
  #watcher {
    position: fixed !important;
    top: 119px !important;
  }
  #boardNavDesktopFoot::after {
    top: 104px !important;
  }
  #boardNavDesktopFoot:hover {
    top: 119px !important;
  }
  #navtopr a::after {
    top: 104px !important;
  }
  body > a[style='cursor: pointer; float: right;']::after {
    top: 102px !important;
  }
  .globalMessage::before {
    top: 104px !important;
  }
  .globalMessage:hover {
    top: 119px !important;
  }
  div[class="navLinks"] a:first-of-type::after {
    top: 102px !important;
  }
  .deleteform::before {
    top: 102px !important;
  }
  .deleteform:hover {
    top: 103px !important;
  }
  .deleteform:hover .inputtext {
    top: 103px !important;
  }
  .deleteform:hover input[type='checkbox'] {
    top: 107px !important;
  }
  .deleteform:hover::after {
    top: 107px !important;
  }
/* Banner at Top */
  .boardTitle, .boardSubtitle {
    display: none;
  }
  #watcher::before {
    top: 20px !important;
  }
  #watcher:hover {
    top: 34px !important; 
  }
  #watcher {
    position: fixed !important;
    top: 34px !important;
  }
  #boardNavDesktopFoot::after {
    top: 19px !important;
  }
  #boardNavDesktopFoot:hover {
    top: 34px !important; 
  }
  #navtopr a::after {
    top: 19px !important;
  }
  body > a[style='cursor: pointer; float: right;']::after {
    top: 17px !important;
  }
  .globalMessage::before {
    top: 19px !important;
  }
  .globalMessage:hover {
    top: 34px !important; 
  }
  div[class="navLinks"] a:first-of-type::after {
    top: 17px !important;
  }
  .deleteform::before {
    top: 17px !important;
  }
  .deleteform:hover {
    top: 18px !important;
  }
  .deleteform:hover .inputtext {
    top: 18px !important;
  }
  .deleteform:hover input[type='checkbox'] {
    top: 22px !important;
  }
  .deleteform:hover::after {
    top: 22px !important;
  }
  .boardTitle, .boardBanner {
    position: static !important;
    margin: auto !important;
    margin-top: 10px !important;
  }
/* Both in Sidebar*/
  .boardBanner {
    position: fixed !important;
    left: 2px !important;
    right: auto !important;
    /*[[ChangeAlign]]*/
    left: auto !important;
    right: 2px !important;/**/
    top: 19px !important;
    padding-top: 0px !important;
    margin: 0 !important;
    margin-top: -6px !important;
    z-index: 1;
  }
  .boardBanner img {
    width: 248px !important;
    height: 83px !important;
    -webkit-box-reflect: below 0px -webkit-gradient( linear, left top, left bottom, from(transparent), color-stop(91%, rgba(255, 255, 255, .1)), color-stop(21.01%, transparent) );
  }
  .boardTitle {
    margin-top: 20px !important;
  }
  #watcher::before {
    top: 105px !important;
  }
  #watcher:hover {
    top: 119px !important;
  }
  #watcher {
    position: fixed !important;
    top: 119px !important;
  }
  #boardNavDesktopFoot::after {
    top: 104px !important;
  }
  #boardNavDesktopFoot:hover {
    top: 119px !important;
  }
  #navtopr a::after {
    top: 104px !important;
  }
  body > a[style='cursor: pointer; float: right;']::after {
    top: 102px !important;
  }
  .globalMessage::before {
    top: 104px !important;
  }
  .globalMessage:hover {
    top: 119px !important;
  }
  div[class="navLinks"] a:first-of-type::after {
    top: 102px !important;
  }
  .deleteform::before {
    top: 102px !important;
  }
  .deleteform:hover {
    top: 103px !important;
  }
  .deleteform:hover .inputtext {
    top: 103px !important;
  }
  .deleteform:hover input[type='checkbox'] {
    top: 107px !important;
  }
  .deleteform:hover::after {
    top: 107px !important;
  }
  .boardTitle {
    margin-top: 20px !important;
  }
/* Both at Top */
  .boardTitle {
    position: fixed !important;
    right: auto !important;
    left: 2px !important;
    /*[[ChangeAlign]]*/
    right: 2px !important;
    left: auto !important;/**/
    top: 120px !important;
    width: 248px !important;
    z-index: 1;
    text-align: center;
  }
  #watcher::before {
    top: 20px !important;
  }
  #watcher:hover {
    top: 34px !important; 
  }
  #watcher {
    position: fixed !important;
    top: 34px !important;
  }
  #boardNavDesktopFoot::after {
    top: 19px !important;
  }
  #boardNavDesktopFoot:hover {
    top: 34px !important; 
  }
  #navtopr a::after {
    top: 19px !important;
  }
  body > a[style='cursor: pointer; float: right;']::after {
    top: 17px !important;
  }
  .globalMessage::before {
    top: 19px !important;
  }
  .globalMessage:hover {
    top: 34px !important; 
  }
  div[class="navLinks"] a:first-of-type::after {
    top: 17px !important;
  }
  .deleteform::before {
    top: 17px !important;
  }
  .deleteform:hover {
    top: 18px !important;
  }
  .deleteform:hover .inputtext {
    top: 18px !important;
  }
  .deleteform:hover input[type='checkbox'] {
    top: 22px !important;
  }
  .deleteform:hover::after {
    top: 22px !important;
  }
  .boardBanner, .boardTitle {
    position: static !important;
    margin: auto !important;
    margin-top: 10px !important;
  }
  .boardTitle {
    margin-top: 0px !important;
  }
/* Hide Both */
  .boardBanner {
    display: none;
  }
  #watcher::before {
    top: 20px !important;
  }
  #watcher:hover {
    top: 34px !important; 
  }
  #watcher {
    position: fixed !important;
    top: 34px !important;
  }
  #boardNavDesktopFoot::after {
    top: 19px !important;
  }
  #boardNavDesktopFoot:hover {
    top: 34px !important; 
  }
  #navtopr a::after {
    top: 19px !important;
  }
  body > a[style='cursor: pointer; float: right;']::after {
    top: 17px !important;
  }
  .globalMessage::before {
    top: 19px !important;
  }
  .globalMessage:hover {
    top: 34px !important; 
  }
  div[class="navLinks"] a:first-of-type::after {
    top: 17px !important;
  }
  .deleteform::before {
    top: 17px !important;
  }
  .deleteform:hover {
    top: 18px !important;
  }
  .deleteform:hover .inputtext {
    top: 18px !important;
  }
  .deleteform:hover input[type='checkbox'] {
    top: 22px !important;
  }
  .deleteform:hover::after {
    top: 22px !important;
  }
  