/*[[boardlogo]]*/

/* Board Name in Sidebar*/
  div.logo {
    position: fixed !important;
    right: auto !important;
    left: 2px !important;
    /*[[ChangeAlign]]*/
    right: 2px !important;
    left: auto !important;/**/
    bottom: 327px !important;
    width: 248px !important;
    z-index: 4;
    text-align: center;
  }
  div.logo img {
    display: none;
  }
  #watcher::before {
    top: 20px !important;
  }
  #watcher:hover {
    top: 34px !important; 
  }
  #watcher {
    position: fixed !important;
    top: 34px !important;
  }
  #navbot::after {
    top: 19px !important;
  }
  #navbot:hover {
    top: 34px !important; 
  }
  #navtopr a::after {
    top: 19px !important;
  }
  body > a[style='cursor: pointer; float: right;']::after {
    top: 17px !important;
  }
  font[color="red"]::before {
    top: 19px !important;
  }
  font[color="red"]:hover {
    top: 34px !important; 
  }
  html body span[style='left: 5px; position: absolute;'] a:first-of-type::after {
    top: 19px !important;
  }
  table[align=right]::before {
    top: 19px !important;
  }
  table[align=right]:hover {
    top: 14px !important;
  }
  table[align=right]:hover .inputtext {
    top: 18px !important;
  }
  table[align=right]:hover input[type='checkbox'] {
    top: 20px !important;
  }
  table[align=right]:hover::after {
    top: 20px !important;
  }
/* Board Name at Top */
  div.logo {
    position: fixed !important;
    right: auto !important;
    left: 2px !important;
    /*[[ChangeAlign]]*/
    right: 2px !important;
    left: auto !important;/**/
    bottom: 327px !important;
    width: 248px !important;
    z-index: 4;
    text-align: center;
  }
  div.logo img {
    display: none;
  }
  #watcher::before {
    top: 20px !important;
  }
  #watcher:hover {
    top: 34px !important; 
  }
  #watcher {
    position: fixed !important;
    top: 34px !important;
  }
  #navbot::after {
    top: 19px !important;
  }
  #navbot:hover {
    top: 34px !important; 
  }
  #navtopr a::after {
    top: 19px !important;
  }
  body > a[style='cursor: pointer; float: right;']::after {
    top: 17px !important;
  }
  font[color="red"]::before {
    top: 19px !important;
  }
  font[color="red"]:hover {
    top: 34px !important; 
  }
  html body span[style='left: 5px; position: absolute;'] a:first-of-type::after {
    top: 19px !important;
  }
  table[align=right]::before {
    top: 19px !important;
  }
  table[align=right]:hover {
    top: 14px !important;
  }
  table[align=right]:hover .inputtext {
    top: 18px !important;
  }
  table[align=right]:hover input[type='checkbox'] {
    top: 20px !important;
  }
  table[align=right]:hover::after {
    top: 20px !important;
  }
  div.logo, div.logo img {
    position: static !important;
    margin: auto !important;
    margin-top: 10px !important;
  }
/* Banner in Sidebar*/
  div.logo > *:not(img) {
    display: none;
  }
  #watcher::before {
    top: 105px !important;
  }
  #watcher:hover {
    top: 119px !important;
  }
  #watcher {
    position: fixed !important;
    top: 119px !important;
  }
  #navbot::after {
    top: 104px !important;
  }
  #navbot:hover {
    top: 119px !important;
  }
  #navtopr a::after {
    top: 104px !important;
  }
  body > a[style='cursor: pointer; float: right;']::after {
    top: 102px !important;
  }
  font[color="red"]::before {
    top: 104px !important;
  }
  font[color="red"]:hover {
    top: 119px !important;
  }
  html body span[style='left: 5px; position: absolute;'] a:first-of-type::after {
    top: 104px !important;
  }
  table[align=right]::before {
    top: 104px !important;
  }
  table[align=right]:hover {
    top: 99px !important;
  }
  table[align=right]:hover .inputtext {
    top: 103px !important;
  }
  table[align=right]:hover input[type='checkbox'] {
    top: 105px !important;
  }
  table[align=right]:hover::after {
    top: 105px !important;
  }
/* Banner at Top */
  div.logo > *:not(img) {
    display: none;
  }
  #watcher::before {
    top: 20px !important;
  }
  #watcher:hover {
    top: 34px !important; 
  }
  #watcher {
    position: fixed !important;
    top: 34px !important;
  }
  #navbot::after {
    top: 19px !important;
  }
  #navbot:hover {
    top: 34px !important; 
  }
  #navtopr a::after {
    top: 19px !important;
  }
  body > a[style='cursor: pointer; float: right;']::after {
    top: 17px !important;
  }
  font[color="red"]::before {
    top: 19px !important;
  }
  font[color="red"]:hover {
    top: 34px !important; 
  }
  html body span[style='left: 5px; position: absolute;'] a:first-of-type::after {
    top: 19px !important;
  }
  table[align=right]::before {
    top: 19px !important;
  }
  table[align=right]:hover {
    top: 14px !important;
  }
  table[align=right]:hover .inputtext {
    top: 18px !important;
  }
  table[align=right]:hover input[type='checkbox'] {
    top: 20px !important;
  }
  table[align=right]:hover::after {
    top: 20px !important;
  }
  div.logo, div.logo img {
    position: static !important;
    margin: auto !important;
    margin-top: 10px !important;
  }
/* Both in Sidebar*/
  div.logo {
    position: fixed !important;
    right: auto !important;
    left: 2px !important;
    /*[[ChangeAlign]]*/
    right: 2px !important;
    left: auto !important;/**/
    top: 120px !important;
    width: 248px !important;
    z-index: 1;
    text-align: center;
  }
  #watcher::before {
    top: 105px !important;
  }
  #watcher:hover {
    top: 119px !important;
  }
  #watcher {
    position: fixed !important;
    top: 119px !important;
  }
  #navbot::after {
    top: 104px !important;
  }
  #navbot:hover {
    top: 119px !important;
  }
  #navtopr a::after {
    top: 104px !important;
  }
  body > a[style='cursor: pointer; float: right;']::after {
    top: 102px !important;
  }
  font[color="red"]::before {
    top: 104px !important;
  }
  font[color="red"]:hover {
    top: 119px !important;
  }
  html body span[style='left: 5px; position: absolute;'] a:first-of-type::after {
    top: 104px !important;
  }
  table[align=right]::before {
    top: 104px !important;
  }
  table[align=right]:hover {
    top: 99px !important;
  }
  table[align=right]:hover .inputtext {
    top: 103px !important;
  }
  table[align=right]:hover input[type='checkbox'] {
    top: 105px !important;
  }
  table[align=right]:hover::after {
    top: 105px !important;
  }
/* Both at Top */
  div.logo {
    position: fixed !important;
    right: auto !important;
    left: 2px !important;
    /*[[ChangeAlign]]*/
    right: 2px !important;
    left: auto !important;/**/
    top: 120px !important;
    width: 248px !important;
    z-index: 1;
    text-align: center;
  }
  #watcher::before {
    top: 20px !important;
  }
  #watcher:hover {
    top: 34px !important; 
  }
  #watcher {
    position: fixed !important;
    top: 34px !important;
  }
  #navbot::after {
    top: 19px !important;
  }
  #navbot:hover {
    top: 34px !important; 
  }
  #navtopr a::after {
    top: 19px !important;
  }
  body > a[style='cursor: pointer; float: right;']::after {
    top: 17px !important;
  }
  font[color="red"]::before {
    top: 19px !important;
  }
  font[color="red"]:hover {
    top: 34px !important; 
  }
  html body span[style='left: 5px; position: absolute;'] a:first-of-type::after {
    top: 19px !important;
  }
  table[align=right]::before {
    top: 19px !important;
  }
  table[align=right]:hover {
    top: 14px !important;
  }
  table[align=right]:hover .inputtext {
    top: 18px !important;
  }
  table[align=right]:hover input[type='checkbox'] {
    top: 20px !important;
  }
  table[align=right]:hover::after {
    top: 20px !important;
  }
  div.logo, div.logo img {
    position: static !important;
    margin: auto !important;
    margin-top: 10px !important;
  }
/* Hide Both */
  div.logo {
    display: none;
  }
  #watcher::before {
    top: 20px !important;
  }
  #watcher:hover {
    top: 34px !important; 
  }
  #watcher {
    position: fixed !important;
    top: 34px !important;
  }
  #navbot::after {
    top: 19px !important;
  }
  #navbot:hover {
    top: 34px !important; 
  }
  #navtopr a::after {
    top: 19px !important;
  }
  body > a[style='cursor: pointer; float: right;']::after {
    top: 17px !important;
  }
  font[color="red"]::before {
    top: 19px !important;
  }
  font[color="red"]:hover {
    top: 34px !important; 
  }
  html body span[style='left: 5px; position: absolute;'] a:first-of-type::after {
    top: 19px !important;
  }
  table[align=right]::before {
    top: 19px !important;
  }
  table[align=right]:hover {
    top: 14px !important;
  }
  table[align=right]:hover .inputtext {
    top: 18px !important;
  }
  table[align=right]:hover input[type='checkbox'] {
    top: 20px !important;
  }
  table[align=right]:hover::after {
    top: 20px !important;
  }
  