/*[[MarginStyle]]*/

/* No Left Margin */
    margin: 1px 2px 0 252px !important;
    /*[[ChangeAlign]]*/margin: 1px 252px 0 2px !important;/**/
  }
/* Small Left Margin (4chan default) */
    margin: 1px 25px 0 252px !important;
    /*[[ChangeAlign]]*/margin: 1px 252px 0 25px !important;/**/
  }
/* Medium Left Margin */
    margin: 1px 50px 0 252px !important;
    /*[[ChangeAlign]]*/margin: 1px 252px 0 50px !important;/**/
  }
/* Large Left Margin */
    margin: 1px 150px 0 252px !important;
    /*[[ChangeAlign]]*/margin: 1px 252px 0 150px !important;/**/
  }
/* Completely Centered */
    margin: 1px 25% 0 25% !important;
  }
/* Match Sidebar */
    margin: 1px 252px 0 252px !important;
    /*[[ChangeAlign]]*/margin: 1px 252px 0 252px !important;/**/
  }
