/*[[expandfile]]*/

/* Enabled */
  .filesize span {
    font-size: 0 !important;
    visibility: hidden;
  }

  .filesize span::after {
    content: attr(title);
    visibility: visible;
  }
/* Disabled */
