/*[[ReplyWidth]]*/

/* Fit Width: */
  form[name='delform'] > table:not(.pages):not([align="right"]), /* Reply are tables. */
  div.thread > table, /* Replies are tables. A script like 4chan X is present */
  .insertedPosts > table, /* 4chanplus inserts new posts in a new div */
  td.reply, /* Reply cell */
  td.replyhl /* Highlighted Reply cell */ {
    width: 100% !important;
  }
  .omittedposts /* X posts and Y image replies omitted. Click Reply to view. */ {
    clear: both;
    padding-left: 20px;
    display: block !important;
  }
/* Normal (4chan default) */
  .doubledash,
  .doubledash a,
  .replyhider a {
    position: static;
  }
