/* BlackberryJam: */
/*[[CustomScrollbars]]*/
::-webkit-scrollbar-thumb:hover { background: #373b41; }
::-webkit-scrollbar-thumb:active { background: #1d1f21; }
::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner, ::-webkit-scrollbar-resizer { background: #282a2e; }
::-webkit-scrollbar-thumb { background: #282a2e; border: #373b41 !important; }
scrollbar, scrollcorner { background: #373b41 !important; }
thumb { border-color: #373b41 !important; background: #282a2e; }
thumb:active { background: #1d1f21 !important; }
thumb:hover { background: #373b41; }
/**/
  ::-webkit-selection {
    background: #5BB3CC;
    color: #000;
  }

  ::-moz-selection {
    background: #008DAD;
    color: #000;
  }

  ::selection {
    background: #5BB3CC;
    color: #000;
  }

body {
 background-image: none !important;
}

body,
body > form,
html body span[style='left: 5px; position: absolute;'] a,
.postForm,
input,
select,
.deleteform::after,
textarea,
.abbr,
.boxbar,
.boxcontent,
.subject,
.boardBanner,
.summary,
.pages strong,
.postblock,
.name,
.postertrip,
.reply,
.reply.highlight,
.trip
#boardNavDesktop .title,
#imgControls label::after,
#boardNavDesktopFoot::after,
#qp div.post,
#updater #count:not(.new)::after,
#qr_form input[name="email"] + label::after,
.postForm #com_submit + label::after,
.globalMessage,
#qr > form > label::after,
#qr.autohide .move,
input[type="checkbox"],
span.pln {
  color: #f1f1f1 !important;
}
.webkit #qr > form input[type="file"]::-webkit-file-upload-button {
  color: #f1f1f1 !important;
}

.name {
  color: #67cce8 !important;
  }


#options ul { 
  border-bottom: 1px solid #c5c8c6 !important;
  border-radius: 0px !important;
}

#options ul:last-of-type {
  border: none !important;
}

.boardTitle {
  text-shadow: #1d1f21 1px 0 2px, #1d1f21 -1px 0 2px, #1d1f21 0 -1px 2px, #1d1f21 0 1px 2px;
}

.postForm > form td:nth-of-type(3) > label,
#qr > form tr:nth-of-type(3) > td:nth-of-type(3) > label {
  color: #969896;
}

input[type='file']::-webkit-file-upload-button {
  color: #969896 !important;
}

a,
.nameBlock > .useremail > .name,
.nameBlock > .useremail > .postertrip,
span.quote > a.quotelink,
#dump,
div.post > blockquote a[href^="//"],
 div.postContainer span.postNum > .replylink,
 .entry {
  color: #DA69E0 !important;
}

a:hover,
.nameBlock > .useremail > .name:hover,
.nameBlock > .useremail > .postertrip:hover,
span.quote > a.quotelink:hover,
#dump:hover,
div.post > blockquote a[href^="//"]:hover,
div.postContainer > div.post div.postInfo span.postNum a:hover,
 div.postContainer span.postNum > .replylink:hover,
 .entry:hover {
  color: #FF00FF !important;
}

.sideArrows a,
.report_button {
  color: #666 !important;
  margin-top: 2px !important;
}

.sideArrows a:hover,
.report_button:hover {
  color: #67cce8 !important;
}

.boardTitle {
color: #67cce8 !important;
text-shadow: #000 4px 4px 5px !important;
}


a.backlink,
a.forwardlink {
  color: #DF99F7 !important;
}

a.backlink:hover,
a.forwardlink:hover {
  color: #FF00FF !important;
}

a.forwardlink {
  font-weight: 100 !important;
  text-decoration: underline !important;
}

.subject {
  color: #f1f1f1 !important;
  font-weight: 600 !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .subject {
    font-weight: 800 !important;
  }
}
/* 73CE75 */
.quote {
  color: #6CCC66 !important;
}

#boards h3,
#ft li,
#ft ul,
#options .dialog,
#watcher,
.box-outer,
.boxbar,
.deleteform input[value=Delete],
.recaptchatable #recaptcha_response_field,
.top-box,
.yuimenuitem-selected,
input,
select,
td.postblock,
div.reply,
textarea,
#options.reply.dialog,
.deleteform input[value=Delete],
input[value="Report"],
body::before,
#qr.autohide .move {
  background-color: #1B1B1B !important;
}
.webkit #qr > form input[type="file"]::-webkit-file-upload-button {
  background-color: #282a2e !important;
}

div.reply,
#qr.autohide .move {
border: 1px solid #262626 !important;
}

div.reply {
box-shadow: inset 0px 1px 2px 1px #111 !important;
}

#qr textarea, #qr input[name="name"], #qr input[name="email"], #qr input[name="sub"], #qr input[title="Verification"] {
box-shadow: inset 0px 1px 2px 0px #111 !important;
}

#options input,
#options textarea,
#qr,
#qr > form tr:nth-of-type(3) > td:nth-of-type(3) > label input,
#qr label input,
#updater input:not([type='checkbox']),
.bd,
.boxcontent > hr,
.boxcontent input,
.boxcontent textarea,
html,
body,
.postForm > form td:nth-of-type(3) > label input,
div[id^=qr],
input[type='file'] > input[type='button'],
input[type='submit'],
table.reply[style^='clear: both'] {
  background-color: #2D2D2D !important;
}

#boardNavDesktop, .pages {
  background-color: rgba(45,45,45,0.9) !important;
}

#boardNavDesktopFoot, #watcher, #watcher:hover, .globalMessage, .deleteform {
  background-color: rgba(29,31,33,1) !important;
}

#updater:hover,
.recaptchatable #recaptcha_response_field:hover,
.deleteform input[type='password']:hover,
input:hover,
input[type='file'] > input[type='button']
input[type='submit']:hover,
.reply.highlight,
textarea:hover {
  background-color: #111 !important;
}

#qp div.post {
  background-color: rgba(29,29,33,1) !important; 
  border: 1px solid rgba(95,137,172,0.4) !important;
}

.qphl {
  outline-color: #67cce8 !important;
}

.recaptchatable #recaptcha_response_field:focus,
.deleteform input[type='password']:focus,
input:focus,
input[type='submit']:focus,
textarea:focus {
  background-color: #1B1B1B !important;
}

input[type=checkbox],
#options input[type=checkbox],
form[name^='post'] td:nth-of-type(3) > label input[type='checkbox'],
#qr label input {
  border-radius: 2px !important;
  background: #333 !important;
}

input[type=checkbox]:active,
#options input[type=checkbox]:active,
form[name^='post'] td:nth-of-type(3) > label input[type='checkbox']:active,
#qr label input:active {
  background-color: #000 !important;
  border: 0px solid #333 !important;
  color: #333 !important;
}

input[type=checkbox]:checked,
#options input[type=checkbox]:checked,
form[name^='post'] td:nth-of-type(3) > label input[type='checkbox']:checked,
#qr label input:checked {
  background-color: #333 !important;
  color: #f1f1f1 !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input:checked,
  #options input:checked,
  form[name^='post'] td:nth-of-type(3) > label input:checked,
  #qr label input:checked {
    content: url('http://i.imgur.com/CAewG.png') !important;
  }
}

html body span[style='left: 5px; position: absolute;'] a,
input[type='submit'],
#com_submit,
input[type='file'] > input[type='button'] {
  background-color: #1b1b1b !important;
}

div[class="navLinks"] a:first-of-type:hover,
#com_submit:hover,
input[type='submit']:hover,
input[type='file'] > input[type='button']:hover {
  background-color: #111 !important;
}

.webkit #qr > form input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #373b41 !important;
}

td[style='border: 1px dashed;'],
div.reply > tr > div.reply,
.inline div.reply {
  /* Inline Quotes */
  background-color: rgba(0,0,0,0.1) !important;
  border: none !important;
}

.pages strong, .current {
  color: #c5c8c6 !important;
}

form[name^='post'] .postblock b,
.postForm tr:nth-child(4) .postblock b::after,
.postForm form[name^='post']::before,
#maxchars {
  color: rgba(255,255,255,0.2) !important;
}

#qr input:-moz-placeholder,
#qr textarea:-moz-placeholder {
  color: rgba(255,255,255,0.1) !important;
}

#qr input::-webkit-input-placeholder,
#qr textarea::-webkit-input-placeholder {
  color: rgba(255,255,255,0.1) !important;
}

#qr input:placeholder,
#qr textarea:placeholder {
  color: rgba(255,255,255,0.1) !important;
}

#ft li,
#ft ul,
#options input:not([type='checkbox']),
#updater input:not([type='checkbox']),
.box-outer,
.boxbar,
.inputtext,
.deleteform input[value=Delete],
.recaptchatable #recaptcha_response_field,
.top-box,
input:not([type='checkbox']),
#qr_captcha input,
input[type='file'] > input[type='button'],
input[type='submit'],
select,
textarea {
  border: none !important;
}

.webkit #qr > form input[type="file"]::-webkit-file-upload-button {
    border: none !important;
}

#qr input[type='checkbox'],
input[type='checkbox'] {
  border: none !important;
}

.boxcontent dd,
#options ul {
  border-color: #1d1f21 !important;
}

hr {
  position: relative !important;
  top: 2px !important;
  border-top: 1px solid #222 !important;
}

form[name^='post']::before,
#qr::before {
  background-color: #282a2e !important;
  border-radius: 6px 6px 0 0;
}

#updater input,
#options input,
#qr,
table.reply[style^='clear: both'] {
  border: none !important;
}

form[name='delform'] > div:not(.thread) select {
  margin: 1px 0 0 0 !important;
}

form[name='delform'] > div:not(.thread) select,
.pages input[type='submit'] {
  height: 15px !important;
}
/* Toolbox images */
/* 4chan X options */
#navtopr a[href="javascript:;"]::after, body:not([class]) a[href="javascript:void(0);"]::after {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIVJREFUGNOFkVENwCAMRE8CUiYBCZOAM6Rg4CWTMAlIuH0AG9mS0f7Q67W9FmkyMoWstxGIEgljTJKIhCd59IQp9+voBHaMOUmdnqgYs41qcxLYKZhCJFCxbrZJvUfz2LCm1liappoiYUxu8AiHVw2cPIXf6sXsl/L6Vb7c++9qi5v//dgFtjLxtKnNCFwAAAAASUVORK5CYII=') !important;
}
/* Delete buttons */
.deleteform::before { 
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAeRJREFUOE9tlM0rRFEYh0dMPiKxkWxsyEpWshCpURbWNPkvlCwYe6VJWU+zkmytZIOttZJsaHZioQkhH8+j++p0M/U0Z8597+/83o8zhUajUcjRwu8OGIAJmIFZmIJh6IHW/Ht5kXYCxmAVzuABvuAbXuAS9mAOesFDfzVSoW42FuEYXrOXFcjzyd41rMFQiIWQThS5AAP/E8jv3RO3Bf3hSHumo5MQeWZ9CjfJ3mO2d8d3pMuysQxFHVlYaxLpKLIP07ACV/AE2zAJ63CbuVbwBAYVsjsWNqzrRJE26ART3jAYdG/8bnJwk3VJIVtsd0LIdHSiiM+LYIdcKzQOR5DWsuJD5yRyVswA09GJItEQRUbgIHETh9cMctjyHbEmphNOjGuF+eyQfGfrBjixDluI2R0La00iHUVcm+4SOJipWNWHjr0P0mLbHVOJdHQSNetjvQNv2TvvfJcV8u7sJSc4J7bY7lhYa2LNdKLIApwn8T4bjdy9O469riy8c2KL7Y7zZRq61okiujDWmduEruiIRfXuOPaRYgjEb8VMJ2rzwfoQ7GRL2lovoHfHTzoO/907nShiLX9HJL39FtYL6N1x7JuJuxAzJWtiOjr5m7P8/1FMsq0vQQVqUIcqlGEUukxHJ8EPyeEKDPe5ibUAAAAASUVORK5CYII=') !important;
}
/* Return button */
div[class="navLinks"] a:first-of-type::after {  
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAC1QTFRFAAAA5OHk5OHk5OHk5OHk5OHk5OHk5OHk5OHk5OHk5OHk5OHk5OHk5OHk5OHkJaAqNQAAAA50Uk5TABAgQFBgcICPn6+/3+9ACPafAAAASElEQVQI15XMyxKAIAxD0eCr1ZT8/+eKDCOw07O700mBT45rrDXEXgul3sn0yCwsAaGBv/cw86xc92fbl0v7z7mBzeeudhJ/3aoUA1Vr0uhDAAAAAElFTkSuQmCC') !important;
}
/* Watcher */
#watcher::before {  
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACpQTFRFAAAA0dLU0dLU0dLU0dLU0dLU0dLU0dLU0dLU0dLU0dLU0dLU0dLU0dLUmYS1qAAAAA10Uk5TABAgQFBggI+fv8/f74aeqbgAAABVSURBVAjXnY0xDsMwEMNo+5TYPen/3+2SpUCXlhvBgfAH2uecrcdWt5O4ewHIdVtTvmXB9BoRoIzy5DqsDIAszvXRlyfItS3kXRZA9StJ0l1f/z/xBlXVAtkqW+Q3AAAAAElFTkSuQmCC') !important;
}
/* Announcement */
.globalMessage::before {  
   content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAK5JREFUGNN1kF0RxCAMhCMBCZVQCUhAwkmohDhAAhKQEAPfDBKQUAm5B3qU3s3t425mfyJygUTBMIzMLivYaTiGoigNpxJu8aSxLeeRTiOICIGOXfQLH8aT5eD8GKE4cTo4UTDKND1uWYRGFpzXkrnKGROc9JDnKBQTjDyJjbr0b+RnteO3WpgbhYSN/QQabX1L/HqLzyA2DKdTUCodx/E7dHgoFaOgJMo4kP8gEt+mlap7ZbvCVgAAAABJRU5ErkJggg==') !important;
}
/* Slideout nav */
#boardNavDesktopFoot::after {  
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAC1QTFRFAAAAzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMdShx9gAAAA50Uk5TABAgMEBggI+fr7/P3+82uMT1AAAAb0lEQVQIHQXBiQHDIAwEMOE8gGlu/3ErgWt297wAYyenT7IGjJNVqJUzsPMAniyuLODedspMQe3cKq8+8HxZOK0b9eUb6NYHO98Dv/am3FkDKq/Ktm9gp1h5AE8mxsku1M4ZMGby618yB6De7n4L/v79BDw2df22AAAAAElFTkSuQmCC') !important;
}
/* 4sight */
body > a[style='cursor: pointer; float: right;']::after { 
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADBQTFRFAAAAzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMIXMlggAAAA90Uk5TABAgMEBQYICPn6+/z9/vD6iGsgAAAFRJREFUCB0FwYcBwyAMADAZCCN2y//fRgIAAG0MAMSba/8eAO9EVAe0BOMAxgISMDaIBKgGewKMesS+C0A7mXPdCgCQtwIAou6/A0DUPQCgnw4A4APNOQHMJOa9jgAAAABJRU5ErkJggg==') !important;
}
/* Expand */
#imgControls label:first-of-type::after {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAALlJREFUKFOFkT0KwlAQhANWaUSb+AciVmLlSZLcVhttBH9QjyIIHiDOF2ZhOxeGebM7b3dfUnRdVwmN0Aq1UAqFGU2eekWSQ8RTh6HNMDqiwczNiJsnkR8Jx1RrSTKKDlE467wR9jY+XK9jN0bSKQwfGy/iqVcrMWespd82fsW7XP/XmZUmuXPsfHLHq3grHKzveef8NXjozKPH4mjAvf5rZPNLGtPAjI7ozUtfiD+1kp4LPLZxDV78APzYoty/jZXwAAAAAElFTkSuQmCC') !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #imgControls label:first-of-type {
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAALlJREFUKFOFkT0KwlAQhANWaUSb+AciVmLlSZLcVhttBH9QjyIIHiDOF2ZhOxeGebM7b3dfUnRdVwmN0Aq1UAqFGU2eekWSQ8RTh6HNMDqiwczNiJsnkR8Jx1RrSTKKDlE467wR9jY+XK9jN0bSKQwfGy/iqVcrMWespd82fsW7XP/XmZUmuXPsfHLHq3grHKzveef8NXjozKPH4mjAvf5rZPNLGtPAjI7ozUtfiD+1kp4LPLZxDV78APzYoty/jZXwAAAAAElFTkSuQmCC') !important;
  }
  #imgControls label:first-of-type::after {
    display: none !important;
  }
  #imgControls label:first-of-type::after {
    display: none !important;
  }
}
input:not([type='checkbox']) {
  border: 1px solid transparent !important;
}

.webkit #qr > form input[type="file"]:hover {
background-color: #282a2e !important;
}

.webkit #qr > form input[type="file"]::-webkit-file-upload-button {
  border-right: 1px solid #1d1f21 !important;
}

.gecko input[type="file"] > input[type="button"] {
padding-bottom: 2px !important;
}

[id^='q'] .warning {
  background: #2d2d2d !important;
  color: #67cce8 !important;
}

.opContainer input[type="checkbox"], #imgControls input[type="checkbox"], #spoilerlabel input[type="checkbox"] {
background: #1b1b1b !important;
}

#qr.autohide .move {
  border-bottom: none !important;
}
#imageType {
  top: 0px !important;
}
span.tag {
  color: #67cce8 !important;
}
span.pun {
  color: #90B05E !important;
}
span.com {
  color: #DF99F7 !important;
}
span.str, span.atv {
  color: #65FF65 !important;
}
span.kwd {
  color: #00FFFF !important;
}
span.typ, span.atn {
  color: #DA69E0 !important;
}
span.lit {
  color: #30C288 !important;
}
