body, h1, h2, h3, h4, header, html, div, br, .unloaded, .logo::after {
  background-color: #191919;
  color: #BBB;
}

input, textarea {
  color: #BBB;
}

::-webkit-selection {
  background-color: rgba(198, 23, 230, .15) !important;
}

::-moz-selection {
  background-color: rgba(198, 23, 230, .15) !important;
}

::selection {
  background-color: rgba(198, 23, 230, .15) !important;
}

a {
  color: #897399 !important;
}

a:hover {
  color: #C617E6 !important;
}
.logo {
  visibility: hidden;
}

.logo::after {
  position: fixed;
  top: -8px;
  content: "OneeChan";
  position: relative;
  right: 308px;
  visibility: visible;
  text-shadow: 1px 1px 1px #000;
  font-size: 90px;
}

.logo::after, h3 {
  color: #909090 !important;
}

b {
  color: #A34443 !important;
}

.postertrip {
  color: #96562C !important;
}

.greentext {
  color: #8ba446 !important;
}

pre {
  color: #000 !important;
}

input, textarea, #para, .reply, .comment {
  background-color: #222 !important;
}

.reply, #para, .comment {
  border: 1px solid #292929 !important;
}

input,
textarea {
  border: 1px solid #151515 !important;
}

input:hover, textarea:hover {
  background-color: #181818 !important;
}

input:focus,
textarea:focus {
  background-color: #202020 !important;
  border: 1px solid #666 !important;
}

input[type="submit"] {
  color: #AAA !important;
  text-shadow: none !important;
  font-weight: 100 !important;
}

input[type="checkbox"] {
  background-color: #393939 !important;
  border: 1px solid #191919 !important;
}

input[type="checkbox"]:checked {
  background: #393939 !important;
  border: 1px solid #151515 !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input:checked {
    content: url('http://i.imgur.com/CAewG.png') !important;
  }
}

#mascotsp::before {
  background-color: #222 !important;
  min-width: 248px !important;
  min-height: 248px !important;
  content: "" !important;
  position: fixed !important;
  right: 3px !important;
  bottom: 2px !important;
  z-index: 1;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #mascotsp::before {
    right: 6px !important;
  }
}

.postarea {
  z-index: 2;
}
