/* Obsidian Chan: */
/*[[CustomScrollbars]]*/
scrollbarbutton {
  display: none !important;
}
::-webkit-scrollbar {
  width: 12px !important;
  height: 10px !important;
}
::-webkit-scrollbar-thumb {
  border: 1px solid;
}
::-webkit-scrollbar-track-piece:vertical {
  border-left: 0;
}
::-webkit-scrollbar-track-piece:horizontal {
  border-top: 0;
}
scrollbar, scrollcorner {
  -moz-appearance: none !important;
  width: 12px !important;
  height: 10px !important;
}
scrollbar[orient='vertical'] { border-left: 0; }
scrollbar[orient='horizontal'] { border-top: 0; }
thumb {
  -moz-appearance: none !important;
  border: 1px solid;
}
::-webkit-scrollbar-thumb {
  border: 1px solid #333 !important;
  background: #000;
  border-radius: 2px !important;
}
::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner, ::-webkit-scrollbar-resizer {
  background: #111;
}
scrollbar, scrollcorner {
  background: #111 !important;
}
thumb {
  border: 1px solid #333 !important;
  background: #000; border-radius: 2px !important;
}
/**/
::-webkit-selection {
  background: #fff;
  color: #000;
}

::-moz-selection {
  background: #fff;
  color: #000;
}

::selection {
  background: #fff;
  color: #000;
}
body {
  background: url("http://i.imgur.com/sbi8u.png") !important;
  background-attachment: fixed !important;
}
body,
body > form,
html body span[style='left: 5px; position: absolute;'] a,
.postForm,
input,
select,
.deleteform::after,
textarea,
.abbr,
.boxbar,
.boxcontent,
.subject,
.boardBanner,
.summary,
.pages strong,
.postblock,
.name,
.pages td,
.reply,
.reply.highlight,
.trip
#boardNavDesktop .title,
#imgControls label::after,
#boardNavDesktopFoot::after,
#qp,
#updater #count:not(.new)::after,
.globalMessage,
#qr_form input[name="email"] + label::after,
.postForm #com_submit + label::after,
#qr > form > label::after,
#qr.autohide .move,
span.pln {
  color: #FDFEFF !important;
}

#options ul {	
  border-bottom: 1px solid #FDFEFF !important;
  border-radius: 0px !important;
}

#options ul:last-of-type {
  border: none !important;
}

.boardTitle {
  text-shadow: #2c2c2c 1px 0 2px, #2c2c2c -1px 0 2px, #2c2c2c 0 -1px 2px, #2c2c2c 0 1px 2px;
}

.postForm > form td:nth-of-type(3) > label,
#qr > form tr:nth-of-type(3) > td:nth-of-type(3) > label {
  color: #888;
}

input[type='file']::-webkit-file-upload-button {
  color: #666 !important;
}

.sideArrows a,
.report_button {
  color: #222 !important;
}

.sideArrows a:hover,
.report_button:hover {
  color: #555 !important;
}

a,
.nameBlock > .useremail > .name,
.nameBlock > .useremail > .postertrip,
#dump,
.entry,
div.post > blockquote a[href^="//"],
span.quote > a.quotelink,
 div.postContainer span.postNum > .replylink {
  color: #00FFFF !important;
}

a:hover,
.nameBlock > .useremail > .name:hover,
.nameBlock > .useremail > .postertrip:hover,
span.quote > a.quotelink:hover,
#dump:hover,
.entry:hover,
div.post > blockquote a[href^="//"]:hover,
div.postContainer > div.post div.postInfo span.postNum a:hover,
 div.postContainer span.postNum > .replylink:hover {
  color: #00FFFF !important;
}

a.backlink,
a.forwardlink {
  color: #00FFFF !important;
}
.postertrip, .useremail .postertrip {
  color: #FF52CB !important;
}
body > form {
  padding-bottom: 10px !important;
  border: 1px solid #333 !important;
  background: rgba(0, 0, 0, 0.3) none !important;
}

a.forwardlink {
  font-weight: 600 !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  a.forwardlink {
    font-weight: 800 !important;
  }
}
.subject {
  color: #909090 !important;
}

.quote {
  color: #43CC67 !important;
}

#boards h3,
#ft li,
#ft ul,
#options .dialog,
#watcher,
.box-outer,
.boxbar,
.deleteform input[value=Delete],
.top-box,
.yuimenuitem-selected,
#qr.autohide .move {
  background-color: rgba(0,0,0,0.4) !important;
}
.recaptchatable #recaptcha_response_field,
input,
input[type='file'] > input[type='button'],
input[type='submit'],
select,
div.reply,
textarea,
#qr.autohide .move {
  background-color: rgba(0,0,0,0.6) !important;
}

#boardNavDesktop,
#boardNavDesktopFoot,
#boardNavDesktopFoot::after,
#options input,
#options textarea,
#qr > form tr:nth-of-type(3) > td:nth-of-type(3) > label input,
#qr label input,
#updater input:not([type='checkbox']),
.bd,
.boxcontent > hr,
.boxcontent input,
.boxcontent textarea,
.pages,
.postForm > form td:nth-of-type(3) > label input,
div[id^=qr],
table.reply[style^='clear: both'],
#options.reply.dialog,
.deleteform input[value=Delete],
input[value="Report"],
body::before,
#watcher:hover, 
#watcher,
.globalMessage, 
.deleteform  {
  background-color: rgba(0,0,0,0.7) !important;
}

#updater:hover,
.recaptchatable #recaptcha_response_field:hover,
.deleteform input[type='password']:hover,
input:hover,
input[type='file'] > input[type='button']
input[type='submit']:hover,
.reply.highlight,
textarea:hover {
  background-color: rgba(0,0,0,0.4) !important;
}

.qphl {
  outline-color: #627c8d !important;
}
#qp {
 background-color: rgba(0,0,0,0.8) !important;
 border-radius: 4px !important;
 border: 1px solid #333 !important;
}
.inline {
 border: 1px solid #333 !important;
 border-radius: 4px !important;
}

.recaptchatable #recaptcha_response_field:focus,
.deleteform input[type='password']:focus,
input:focus,
input[type='submit']:focus,
textarea:focus {
  background-color: rgba(0,0,0,0.4) !important;
}

input[type=checkbox],
#options input[type=checkbox],
form[name^='post'] td:nth-of-type(3) > label input[type='checkbox'],
#qr label input {
  border-radius: 2px !important;
  background: #444 !important;
}

input[type=checkbox]:active,
#options input[type=checkbox]:active,
form[name^='post'] td:nth-of-type(3) > label input[type='checkbox']:active,
#qr label input:active {
  background: #aaa !important;
}

input[type=checkbox]:checked,
#options input[type=checkbox]:checked,
form[name^='post'] td:nth-of-type(3) > label input[type='checkbox']:checked,
#qr label input:checked {
  background-color: #FF007F !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	input:checked,
	#options input:checked,
	form[name^='post'] td:nth-of-type(3) > label input:checked,
	#qr label input:checked {
		content: url('http://i.imgur.com/TyFWy.png') !important;
	}
}

html body span[style='left: 5px; position: absolute;'] a,
input[type='submit'],
#com_submit,
input[type='file'] > input[type='button'] {
  background: rgba(0, 0, 0) !important;
}

div[class="navLinks"] a:first-of-type:hover,
#com_submit:hover,
input[type='submit']:hover,
input[type='file'] > input[type='button']:hover {
  background-color: #363636 !important;
}

td[style='border: 1px dashed;'],
td.reply > tr > td.reply,
.inline td.reply {
  /* Inline Quotes */
  background-color: rgba(0,0,0,0.1) !important;
  border: none !important;
}

.pages strong, .current {
  color: #ccc !important;
}

form[name^='post'] .postblock b,
.postForm tr:nth-child(4) .postblock b::after,
.postForm form[name^='post']::before {
  color: rgba(255,255,255,0.2) !important;
}

#qr input:-moz-placeholder,
#qr textarea:-moz-placeholder {
  color: rgba(255,255,255,0.1) !important;
}

#qr input::-webkit-input-placeholder,
#qr textarea::-webkit-input-placeholder {
  color: rgba(255,255,255,0.1) !important;
}

#qr input:placeholder,
#qr textarea:placeholder {
  color: rgba(255,255,255,0.1) !important;
}

#ft li,
#ft ul,
#options input:not([type='checkbox']),
#updater input:not([type='checkbox']),
.box-outer,
.boxbar,
.inputtext,
.deleteform input[value=Delete],
.recaptchatable #recaptcha_response_field,
.top-box,
input:not([type='checkbox']),
#qr_captcha input,
input[type='file'] > input[type='button'],
input[type='submit'],
select,
textarea {
  border: none !important;
}

#qr input[type='checkbox'],
input[type='checkbox'] {
  border: none !important;
}

.boxcontent dd,
#options ul {
  border-color: #2c2c2c !important;
}

hr {
  position: relative !important;
  top: 2px !important;
  border-top: 1px solid #333 !important;
}

form[name^='post']::before,
#qr::before {
  background-color: #000 !important;
  border-radius: 6px 6px 0 0;
}

#updater input,
#options input,
#qr,
div[id^=qr],
table.reply[style^='clear: both'] {
  border: none !important;
}

form[name='delform'] > div:not(.thread) select {
  margin: 1px 0 0 0 !important;
}

form[name='delform'] > div:not(.thread) select,
.pages input[type='submit'] {
  height: 15px !important;
}
#qr {
  background-color: rgba(0,0,0,0.7) !important;
  border: 1px solid #333 !important;
}
.postForm form[name^='post'] {
  width: 252px !important;
  right: 1px !important;
  padding-top: 1px !important;
  border-top: 1px solid #333 !important;
}
/* Toolbox images */
/* 4chan X options */
#navtopr a[href="javascript:;"]::after, #settingsWindowLink::after, body:not([class]) a[href="javascript:void(0);"]::after {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIVJREFUGNOFkVENwCAMRE8CUiYBCZOAM6Rg4CWTMAlIuH0AG9mS0f7Q67W9FmkyMoWstxGIEgljTJKIhCd59IQp9+voBHaMOUmdnqgYs41qcxLYKZhCJFCxbrZJvUfz2LCm1liappoiYUxu8AiHVw2cPIXf6sXsl/L6Vb7c++9qi5v//dgFtjLxtKnNCFwAAAAASUVORK5CYII=') !important;
}
/* Delete buttons */
.deleteform::before { 
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAeRJREFUOE9tlM0rRFEYh0dMPiKxkWxsyEpWshCpURbWNPkvlCwYe6VJWU+zkmytZIOttZJsaHZioQkhH8+j++p0M/U0Z8597+/83o8zhUajUcjRwu8OGIAJmIFZmIJh6IHW/Ht5kXYCxmAVzuABvuAbXuAS9mAOesFDfzVSoW42FuEYXrOXFcjzyd41rMFQiIWQThS5AAP/E8jv3RO3Bf3hSHumo5MQeWZ9CjfJ3mO2d8d3pMuysQxFHVlYaxLpKLIP07ACV/AE2zAJ63CbuVbwBAYVsjsWNqzrRJE26ART3jAYdG/8bnJwk3VJIVtsd0LIdHSiiM+LYIdcKzQOR5DWsuJD5yRyVswA09GJItEQRUbgIHETh9cMctjyHbEmphNOjGuF+eyQfGfrBjixDluI2R0La00iHUVcm+4SOJipWNWHjr0P0mLbHVOJdHQSNetjvQNv2TvvfJcV8u7sJSc4J7bY7lhYa2LNdKLIApwn8T4bjdy9O469riy8c2KL7Y7zZRq61okiujDWmduEruiIRfXuOPaRYgjEb8VMJ2rzwfoQ7GRL2lovoHfHTzoO/907nShiLX9HJL39FtYL6N1x7JuJuxAzJWtiOjr5m7P8/1FMsq0vQQVqUIcqlGEUukxHJ8EPyeEKDPe5ibUAAAAASUVORK5CYII=') !important;
}
/* Return button */
div[class="navLinks"] a:first-of-type::after {  
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAC1QTFRFAAAA5OHk5OHk5OHk5OHk5OHk5OHk5OHk5OHk5OHk5OHk5OHk5OHk5OHk5OHkJaAqNQAAAA50Uk5TABAgQFBgcICPn6+/3+9ACPafAAAASElEQVQI15XMyxKAIAxD0eCr1ZT8/+eKDCOw07O700mBT45rrDXEXgul3sn0yCwsAaGBv/cw86xc92fbl0v7z7mBzeeudhJ/3aoUA1Vr0uhDAAAAAElFTkSuQmCC') !important;
}
/* Watcher */
#watcher::before {  
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACpQTFRFAAAA0dLU0dLU0dLU0dLU0dLU0dLU0dLU0dLU0dLU0dLU0dLU0dLU0dLUmYS1qAAAAA10Uk5TABAgQFBggI+fv8/f74aeqbgAAABVSURBVAjXnY0xDsMwEMNo+5TYPen/3+2SpUCXlhvBgfAH2uecrcdWt5O4ewHIdVtTvmXB9BoRoIzy5DqsDIAszvXRlyfItS3kXRZA9StJ0l1f/z/xBlXVAtkqW+Q3AAAAAElFTkSuQmCC') !important;
}
/* Announcement */
.globalMessage::before {  
   content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAK5JREFUGNN1kF0RxCAMhCMBCZVQCUhAwkmohDhAAhKQEAPfDBKQUAm5B3qU3s3t425mfyJygUTBMIzMLivYaTiGoigNpxJu8aSxLeeRTiOICIGOXfQLH8aT5eD8GKE4cTo4UTDKND1uWYRGFpzXkrnKGROc9JDnKBQTjDyJjbr0b+RnteO3WpgbhYSN/QQabX1L/HqLzyA2DKdTUCodx/E7dHgoFaOgJMo4kP8gEt+mlap7ZbvCVgAAAABJRU5ErkJggg==') !important;
}
/* Slideout nav */
#boardNavDesktopFoot::after {  
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAC1QTFRFAAAAzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMdShx9gAAAA50Uk5TABAgMEBggI+fr7/P3+82uMT1AAAAb0lEQVQIHQXBiQHDIAwEMOE8gGlu/3ErgWt297wAYyenT7IGjJNVqJUzsPMAniyuLODedspMQe3cKq8+8HxZOK0b9eUb6NYHO98Dv/am3FkDKq/Ktm9gp1h5AE8mxsku1M4ZMGby618yB6De7n4L/v79BDw2df22AAAAAElFTkSuQmCC') !important;
}
/* 4sight */
body > a[style='cursor: pointer; float: right;']::after { 
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADBQTFRFAAAAzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMIXMlggAAAA90Uk5TABAgMEBQYICPn6+/z9/vD6iGsgAAAFRJREFUCB0FwYcBwyAMADAZCCN2y//fRgIAAG0MAMSba/8eAO9EVAe0BOMAxgISMDaIBKgGewKMesS+C0A7mXPdCgCQtwIAou6/A0DUPQCgnw4A4APNOQHMJOa9jgAAAABJRU5ErkJggg==') !important;
}
/* Expand */
#imgControls label:first-of-type::after {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAALlJREFUKFOFkT0KwlAQhANWaUSb+AciVmLlSZLcVhttBH9QjyIIHiDOF2ZhOxeGebM7b3dfUnRdVwmN0Aq1UAqFGU2eekWSQ8RTh6HNMDqiwczNiJsnkR8Jx1RrSTKKDlE467wR9jY+XK9jN0bSKQwfGy/iqVcrMWespd82fsW7XP/XmZUmuXPsfHLHq3grHKzveef8NXjozKPH4mjAvf5rZPNLGtPAjI7ozUtfiD+1kp4LPLZxDV78APzYoty/jZXwAAAAAElFTkSuQmCC') !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #imgControls label:first-of-type {
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAALlJREFUKFOFkT0KwlAQhANWaUSb+AciVmLlSZLcVhttBH9QjyIIHiDOF2ZhOxeGebM7b3dfUnRdVwmN0Aq1UAqFGU2eekWSQ8RTh6HNMDqiwczNiJsnkR8Jx1RrSTKKDlE467wR9jY+XK9jN0bSKQwfGy/iqVcrMWespd82fsW7XP/XmZUmuXPsfHLHq3grHKzveef8NXjozKPH4mjAvf5rZPNLGtPAjI7ozUtfiD+1kp4LPLZxDV78APzYoty/jZXwAAAAAElFTkSuQmCC') !important;
  }
  #imgControls label:first-of-type::after {
    display: none !important;
  }
  #imgControls label:first-of-type::after {
    display: none !important;
  }
}
input:not([type='checkbox']) {
  border: 1px solid transparent !important;
}

.webkit #qr > form input[type="file"]::-webkit-file-upload-button {
  background: rgba(0, 0, 0, 0.6) !important;
  border: none !important;
  color: #FDFEFF !important;
}

.webkit #qr > form input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #363636 !important;
}
.webkit #qr > form input[type="file"]:hover {
  background-color: rgba(0,0,0,0.6) !important;
}

.gecko input[type="file"] > input[type="button"] {
padding-bottom: 2px !important;
}

[id^='q'] .error, [id^='q'] .warning {
  background: #000 !important;
  color: #00FFFF !important;
}

#qr.autohide .move {
  border-bottom: none !important;
}
#imageType {
  top: 0px !important;
}
span.tag {
  color: #4BB0BD !important;
}
span.pun {
  color: #90B05E !important;
}
span.com {
  color: #FF52CB !important;
}
span.str, span.atv {
  color: #65FF65 !important;
}
span.kwd {
  color: #00FFFF !important;
}
span.typ, span.atn {
  color: #B96BDD !important;
}
span.lit {
  color: #30C288 !important;
}
