/* PaisleyChan Lite */
/*[[ChangeAlign]]*/
::-webkit-scrollbar-thumb { border: #101010 !important; background: #262626; }
::-webkit-scrollbar-thumb:hover { background: #3f3f3f; }
::-webkit-scrollbar-thumb:active { background: #111; }
::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner, ::-webkit-scrollbar-resizer { background: #1c1c1c; }
scrollbar, scrollcorner { background: #1c1c1c; }
thumb:active { background: -moz-linear-gradient(top, rgba(255,255,255,0.3), rgba(255,255,255,0.1)) !important; }
thumb { border-color: #101010 !important; background: #262626; }
thumb:hover { background: -moz-linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,0.2)) !important; }
/**/
::-webkit-selection {
  background: #aaa;
  color: #101010;
}

::-moz-selection {
  background: #aaa;
  color: #101010;
}

::selection {
  background: #aaa;
  color: #101010;
}
body, html {
  background-color: #000000 !important;
  background-image: url(http://i.imgur.com/DRaZf.jpg) !important;
  background-attachment: fixed !important;
  background-repeat: repeat !important;
}
body,
body > form,
html body span[style='left: 5px; position: absolute;'] a,
input,
.postForm,
form[name^='post']::before,
select,
.deleteform::after,
textarea,
.abbr,
.boxbar,
.boxcontent,
.boardBanner,
.summary,
.pages strong,
.current,
.postblock,
.reply,
.reply.highlight,
#backwash_tooltip,
#boardNavDesktop .title,
#imgControls label::after,
#boardNavDesktopFoot::after,
#qp,
#twi_table_div,
#updater #count:not(.new)::after,
.globalMessage,
#qr_form input[name="email"] + label::after,
.postForm #com_submit + label::after,
#qr > form > label::after,
#qr.autohide .move,
input[type="checkbox"],
span.pln {
  color: #999 !important;
}



blockquote {
color: #bbb !important;
}

#options ul { 
  border-bottom: 1px solid #909090 !important;
  border-radius: 0px !important;
}

#options ul:last-of-type {
  border: none !important;
}

.boardTitle {
  text-shadow: #101010 1px 0 2px, #101010 -1px 0 2px, #101010 0 -1px 2px, #101010 0 1px 2px;
}

.postForm > form td:nth-of-type(3) > label,
#qr > form tr:nth-of-type(3) > td:nth-of-type(3) > label,
#quickrep > form tr:nth-of-type(3) > td:nth-of-type(3) > label,
#autonoko {
  color: #888;
}

input[type='file']::-webkit-file-upload-button {
  color: #666 !important;
}




a,
#dump,
.sideArrows,
div.post > blockquote a[href^="//"],
.report_button a,
.nameBlock > .useremail > .name,
.nameBlock > .useremail > .postertrip,
 div.postContainer span.postNum > .replylink {
  color: #bbb !important;
}

a:hover,
#dump:hover, span.quote > a.quotelink:hover,
div.post > blockquote a[href^="//"]:hover,
.report_button:hover,
.sideArrows a:hover,
div.postContainer > div.post div.postInfo span.postNum a:hover,
 div.postContainer span.postNum > .replylink:hover {
  color: #00DFFC !important;
}

.name {
  color: #80accE !important;
  font-weight: 600 !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .name {
    font-weight: 800 !important;
  }
}
.postertrip,
.trip {
  color: #80accE !important;
}

.nameBlock > .useremail > .name:hover,
.nameBlock > .useremail > .postertrip:hover {
  color: #00DFFC !important;
}

a.backlink {
  color: #D4D4D4 !important;
}

a.forwardlink {
  color: #608CAE !important;
}

a.forwardlink {
  font-weight: 600 !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  a.forwardlink {
    font-weight: 800 !important;
  }
}
.subject {
  color: #aaa !important;
  font-weight: 700 !important;
}

.quote {
  color: #98b962 !important;
}

span.quote > a.quotelink {
  color: #999 !important;
}

#boards h3,
#boardsMenu,
#filter.autohide:hover,
#filter:not(.autohide),
#ft li,
#ft ul,
#navbar,
#options .dialog,
#popup,
#threadwatcher,
#threadwatcher .postblock,
#watcher,
#thread_filter.autohide:hover,
#thread_filter:not(.autohide),
.box-outer,
.boxbar,
.deleteform input[value=Delete],
.recaptcha_image_cell > center > #recaptcha_image,
.recaptchatable #recaptcha_response_field,
.top-box,
.yuimenuitem-selected,
input,
input[type='file'] > input[type='button'],
input[type='submit'],
select,
td.postblock,
textarea,
#options.reply.dialog,
.deleteform input[value=Delete],
input[value="Report"],
body::before,
#qr .warning {
  background-color: #1c1c1c !important;
}


div.reply,
#qr.autohide .move {
  background: rgba(52,56,56,0.8) !important;

}
blockquote {
border-radius: 3px !important;
}
.reply blockquote {
background-color: transparent !important;
}
div.reply, .reply.highlight {
padding: 0px !important;
}

div[id^='4chan_ext_iqr'],
div[id^='4chan_ext_iqr'] > *,
input[type='submit']:hover,
input[type='file'] > input[type='button']:hover,
#filter input,
#filter textarea,
#options input,
#options textarea,
#qr,
#qr > form tr:nth-of-type(3) > td:nth-of-type(3) > label input,
#quickrep,
#quickrep > form tr:nth-of-type(3) > td:nth-of-type(3) > label input,
#qr label input,
#thread_filter input,
#thread_filter textarea,
#updater input:not([type='checkbox']),
.bd,
.boxcontent > hr,
.boxcontent input,
.boxcontent textarea,
html,
body,
.postForm > form td:nth-of-type(3) > label input,
div[id^=qr],
table.reply[style^='clear: both'] {
  background-color: #101010 !important;
}

#boardNavDesktop, .pages {
  background-color: rgba(16,16,16,0.9) !important;
}

#boardNavDesktopFoot, #watcher, #watcher:hover, .globalMessage, .deleteform {
  background-color: rgba(16,16,16,1) !important;
}

div[class="navLinks"] a:first-of-type:hover,
#com_submit:hover,
#cc-showpostarea,
#twi_table_div,
#twi_table_div *,
input[type='submit']:hover,
input[type='file'] > input[type='button']:hover,
#backwash_tooltip,
#qr::before,
#updater:hover,
#popup,
.chanchimp,
.chanchimp > div,
.deleteform input[type='password']:hover,
.recaptchatable #recaptcha_response_field:hover,
div[id^=ref],
form[name^='post']::before,
input:hover,
input[type='file'] > input[type='button']
input[type='submit']:hover,
.reply.highlight,
textarea:hover {
  background-color: #181818 !important;
}

#qp {
border: 1px solid rgba(128,172,206,0.5) !important;
background-color: rgba(24,24,24,0.9) !important;
}

#qr::before,
form[name^='post']::before {
  border-radius: 6px 6px 0 0;
}

.qphl {
  outline-color: #627c8d !important;
}

html body span[style='left: 5px; position: absolute;'] a,
input[type='submit'],
#com_submit,
input[type='file'] > input[type='button'],
.recaptchatable #recaptcha_response_field:focus,
.deleteform input[type='password']:focus,
input:focus,
input[type='submit']:focus,
textarea:focus {
  background-color: #202020 !important;
}

input[type='checkbox'],
#options input[type='checkbox'],
form[name^='post'] td:nth-of-type(3) > label input[type='checkbox'],
#qr label input[type='checkbox'] {
  border: 1px solid #3c3c3c !important;
  background: #222 !important;
}

input[type=checkbox]:active,
#options input[type=checkbox]:active,
form[name^='post'] td:nth-of-type(3) > label input[type='checkbox']:active,
#qr label input[type='checkbox']:active {
  background: #222 !important;
}

input[type=checkbox]:checked,
#options input[type=checkbox]:checked,
form[name^='post'] td:nth-of-type(3) > label input[type='checkbox']:checked,
#qr label input[type='checkbox']:checked {
  background-color: #222 !important;
  color: #FFF !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input:checked,
  #options input:checked,
  form[name^='post'] td:nth-of-type(3) > label input:checked,
  #qr label input:checked {
    content: url('http://i.imgur.com/CAewG.png') !important;
  }
}

#crntBoard {
  border-right-color: #393939 !important;
}

td[style='border: 1px dashed;'],
div.reply > tr > div.reply,
.inline div.reply {
  /* Inline Quotes */
  background-color: rgba(0,0,0,0.1) !important;
  border: none !important;
}

form[name^='post'] .postblock b,
form[name^='post']::before,
.postForm tr:nth-child(4) .postblock b,
#maxchars,
#qr::before {
  color: rgba(255,255,255,0.3) !important;
}

#qr input:-moz-placeholder,
#qr textarea:-moz-placeholder {
  color: rgba(255,255,255,0.3) !important;
}

#qr input::-webkit-input-placeholder,
#qr textarea::-webkit-input-placeholder {
  color: rgba(255,255,255,0.3) !important;
}

#qr input:placeholder,
#qr textarea:placeholder {
  color: rgba(255,255,255,0.3) !important;
}

#cc-showpostarea,
#ft li,
#ft ul,
#options input:not([type='checkbox']),
#updater input:not([type='checkbox']),
#twi_table_div,
#twi_table_div *,
.box-outer,
.boxbar,
.chanchimp,
.chanchimp > div,
.inputtext,
.deleteform input[value=Delete],
.recaptcha_image_cell > center > #recaptcha_image,
.recaptchatable #recaptcha_response_field,
.top-box,
input:not([type='checkbox']),
#qr_captcha input,
input[type='file'] > input[type='button'],
input[type='submit'],
select,
textarea {
  border: none !important;
}

.boxcontent dd,
#options ul,
#threadwatcher .postblock,
.chanchimp * {
  border-color: #101010 !important;
}

hr {
  position: relative !important;
  top: 2px !important;
  border-top: 1px solid #1c1c1c !important;
  
}

#filter input,
#filter textarea,
#thread_filter input,
#thread_filter textarea,
#updater input,
#options input,
#qr,
#quickrep,
div[id^=qr],
table.reply[style^='clear: both'] {
  border: none !important;
}

form[name='delform'] > div:not(.thread) select {
  margin: 1px 0 0 0 !important;
}

form[name='delform'] > div:not(.thread) select,
.pages input[type='submit'] {
  height: 15px !important;
}
/* Toolbox images */
/* 4chan X options */
#navtopr a[href="javascript:;"]::after, body:not([class]) a[href="javascript:void(0);"]::after {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAYhJREFUGBlVwUtLG2EYBtB3nIlGjWKDUXCpmEVahAgu7QVcualoIWgFQQWJIIKlC8HiBSxYWqq1Zldx0UWN4KY7FVGpBnXixMuQEJ35vuf5Ja21oD1H5I9CwG/QUa92x5qWW67l1anGfM12idzyatCLb5jyWzKWSM70YxhnSvflq+Qi4D26KVdNeMcDzPgR2/SbMcFlfMekrhNVi1e6rRhCD/f5A3EVxRg/Y4kf8fKqUnQ9Z/gVw0jR5jYT6OMHLHMBvdf1W4Y4QXTzJ4+YpcMs00hiEnO6pxhOGyJCQ0eQ4CI3eEyHNteZ1J2FcNqQO7ZxU4aIbuUXZujwlGm8yAXlf24I3UgxQ4dZrunnl+VyD9V4zVndgSUe0+EJV/nsPCgithSDKo63WET81FJRLPCQZ9zDim7/VSrFEhXDJ67rLgZElKkf8z13MYUkhryw+CEMcI0jqkH+ylkqxnm8wSgGvbC4FXiKDhW5NOWfvOU/QQL9aCkEZNM4KjsvzRvygGO6oUK1a1F+A62z3cM64xkkAAAAAElFTkSuQmCC') !important;
}
/* Delete buttons */
.deleteform::before { 
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAeRJREFUOE9tlM0rRFEYh0dMPiKxkWxsyEpWshCpURbWNPkvlCwYe6VJWU+zkmytZIOttZJsaHZioQkhH8+j++p0M/U0Z8597+/83o8zhUajUcjRwu8OGIAJmIFZmIJh6IHW/Ht5kXYCxmAVzuABvuAbXuAS9mAOesFDfzVSoW42FuEYXrOXFcjzyd41rMFQiIWQThS5AAP/E8jv3RO3Bf3hSHumo5MQeWZ9CjfJ3mO2d8d3pMuysQxFHVlYaxLpKLIP07ACV/AE2zAJ63CbuVbwBAYVsjsWNqzrRJE26ART3jAYdG/8bnJwk3VJIVtsd0LIdHSiiM+LYIdcKzQOR5DWsuJD5yRyVswA09GJItEQRUbgIHETh9cMctjyHbEmphNOjGuF+eyQfGfrBjixDluI2R0La00iHUVcm+4SOJipWNWHjr0P0mLbHVOJdHQSNetjvQNv2TvvfJcV8u7sJSc4J7bY7lhYa2LNdKLIApwn8T4bjdy9O469riy8c2KL7Y7zZRq61okiujDWmduEruiIRfXuOPaRYgjEb8VMJ2rzwfoQ7GRL2lovoHfHTzoO/907nShiLX9HJL39FtYL6N1x7JuJuxAzJWtiOjr5m7P8/1FMsq0vQQVqUIcqlGEUukxHJ8EPyeEKDPe5ibUAAAAASUVORK5CYII=') !important;
}
/* Return button */
div[class="navLinks"] a:first-of-type::after {  
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAUNJREFUOE+tkz9Lw1AUR1tqlYJItSLo6kcoLlZ0c/A7KA4uDiKCgyI4dBEcundy6TdwEJ0cBEHBSVdFIohQFIdaiv3j+ckNPCUmjWQ4uU1y73n33bymPM9LJUEiEjUSJcqQNNxPx2GiPIIl2PyvaIjCIpThFp7iitIUTMIanME79KAeR6Qu5uEIHuHTJBI1YMfYJW7BIoyDFv8ejy452IA7+HAEkoguvBpv1uE9sQZFyLiiPW78rfiCqNii5gSmfZG6ysIcHINW7TidNfl9YBxaJw+W0yZquzn382u/U7ANN6DZaFsSu3mD3K/Dsy12ShwNOkdKLEEVNIuXXyLVLMC1ia6IhbADWSBhFSoBolmeXZpIwlCRFhmAkQDRDM/OQQO/gLGo/9pf7ycoXoZ9WIEfw44j1YfR+VO3iuk4xaG5iYm+APYeqMCIGhT5AAAAAElFTkSuQmCC') !important;
}
/* Watcher */
#watcher::before {  
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAASNJREFUGBmtwb1KQgEYBuDvBDqY5qKCNtTankZlllMXEImIWEtkBP0QapuDhVEi2iA4NLUdaa22aAuphDgliZzzvW+Dt1FbN+DziIyFacCDgBNGAB7TkH9l6bnsMOLYZYV1njGPhEZ6rrL8eTUGU7qMAzb5zhF/MOInWjh04kO/ZcgwwBSLyLLGHm95gkt02cY2CkzbQcEGTp0FjbGDO9wgZc/inPea1ChKSAlryPV9usRHVJDH4pdHc3jWdcuLLBqCTZQ0qjF2cO3MOT57BhU+aBLzLCEtdpBpFJHhFbusY4dVvrCNLRSQsUNiGUO/ruAIDbxxRHJECy0cY9X2W4aIlOXDrREksIcqmrjAvq5xuu82DflnGt+TGkJEQwPv04SMxS/Kza/VdH4e2QAAAABJRU5ErkJggg==') !important;
}
/* Announcement */
.globalMessage::before {  
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAllJREFUKM9dkk1oE0EYhicmMf424MFatVZqrOakUEVFqKlYPAgK/oAXBRG8iB40F0XIQUGx8SSKiIcGJJSIerAoAUMOUqyaqIRmw6bZ2Z3ZVQRvggdvPhM2UpzwkPm+ed9vZr4dIRi1Wi3S+NxY6klvbeAGu3zln4MbgQpuQdb3/OPE2+yW3Vcul6OlUkl0R7FYjLiOm0QwjjAf6OADKPgOPyDwte+QeU2BS9rT6YXWQoINhWjb7VUsnET0BjrMKzCJ4QpcZX6d/GOog0X8ULlqFHNcaKX3hUYL8T3lqTHHdvqVUuNa6wJxRkm1mR1PYXyOrg15V7rrBYa7BB5HmnRdN2XbdiybzQqMh2AWMtwz4nneCjY6iG4GzzzXPCKoJjG/JbkX8xIRDkyjcJ8T7Ojlms3mSnQX0DsUygsmv2HKl/6gWDQwboHzMNTLSSmjxBPoP7F7wZh/QVFLPZzL5f6ZOUWSo6bZeXUvx5Xi3P0Y+gYneCLCLs6RPGxZVnyReQTjRRg2cbvdjtDldZhuhj3KmoblCMzvged66UqlEjNidt2I8Sj/Aybm8STozwl0H2FWu3qP4FNsJzltqsE0xU5LR47IjuznNIOsbyU3xNomuA3f0N9hfY2wGlaCtmdIFqDVvY/2zWt6xvwlzMALeETezH9inuIKG0S1WjWNWM4uO0leRvAUwTv4Au/NZwz/W+GT/QPzFB/rNsc89M7XTqzT6iS5Z4oC+/mOEwgOwG4w7/4MXAuf6ivWz4r/h+M4EQpE6XaMZkXNtzXz+lx9mW3ZfZzQ9CKFZuAvJEBX+Y7iKRwAAAAASUVORK5CYII=') !important;
}
/* Slideout nav */
#boardNavDesktopFoot::after {  
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAeJJREFUOE9Vk8srhGEYxV+SDLmMmkwukSxYyMLCRnYokiULsRIKQ2Ol9CkSGwsW/gZZWViPhYWkWXzNTHO/uf0bfmd6RvnqdN73POe8z/s9841z9sTj8cZisdhRKpXGK5XKVrVavQP3Yu2lqy5fPVPjWCzWVCgUhjFGML7APyAHEsY/pkfkk78WTCaT6jiE6RykgMLHmNfAplh701U/l59cg8tkMm3lcnnTujyyXmTdSSgIT4DuXC4XZL/E+lE++ZVzvMsIhSfEN3iZawV0I04PgF7q7eYZU918T9RGHKfoxC9wCUL1YRDoprZAQFe+wNyjOrgCn8o5ilGF4V0MYbidQhhtyoyvaNvZbLbT6rvmjyp8ygaqHBKapGM/PIt2DY7QT9jPmD7J+hBdgVOF9+ykPQwhBhFA27HpnmEeo2MrQ2tWndp+3a/wnE7iucnn872gn7WHvgGmQZfm4Hmeo9Ynn3Wec0x3EIO+JB9ep8soXULpdFo/4QBoVVCzUN1898o53/dbEFcQ38GzDLqBhsZa7xjG2GfBZ/nkV84lEokG3kXTPbADfPgWg/ZR41t1tPqB/MrVflbERgkYV1k/wB/wN6ix7aWvWqP/fw6dlEql9FUNYZontA97xvN6R9X/OtL0F7vIb+2Y9LOMAAAAAElFTkSuQmCC') !important;
}
/* 4sight */
body > a[style='cursor: pointer; float: right;']::after { 
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAQAAACRZI9xAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAASZJREFUGBmNwc8rgwEYwPHnnc2y0iTaWhHbQU6KnChHSrn4E0xZXLlQ5KT8igvFxcVhySTloBBKrR1ei7LN9j7P9y+RcnjpVT4fkf+rhrx2uixZjUowa7NJW+eQbcs2MrUm+U3byHFvN5xyyZMdeJmqI353jo1zy5E3pr3eAEs8skpE/IizwrUN15pW5c2xDnZ4rsfFjxT7tqsJ+cYMpXpa/LSTDU60Jy9fiNgiRU2Jn0bJ8mCzH60iXjMjnJOvx8Sv5Gi/HXPPFjmWueCVgiXkJy+sQ7Znz5QoWoErXPIsNOLip049roM6YaPaZX2c8Y5r65poOBKMeVwqlG3NS7gSyJK2RZkKrk7VwhJM07aJy4tNa0SCeSHLMEeObhz5i4VoIWYhkU/P0ajzh8oTswAAAABJRU5ErkJggg==') !important;
}
/* Expand */
#imgControls label:first-of-type::after {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAALlJREFUKFOFkT0KwlAQhANWaUSb+AciVmLlSZLcVhttBH9QjyIIHiDOF2ZhOxeGebM7b3dfUnRdVwmN0Aq1UAqFGU2eekWSQ8RTh6HNMDqiwczNiJsnkR8Jx1RrSTKKDlE467wR9jY+XK9jN0bSKQwfGy/iqVcrMWespd82fsW7XP/XmZUmuXPsfHLHq3grHKzveef8NXjozKPH4mjAvf5rZPNLGtPAjI7ozUtfiD+1kp4LPLZxDV78APzYoty/jZXwAAAAAElFTkSuQmCC') !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #imgControls label:first-of-type {
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAALlJREFUKFOFkT0KwlAQhANWaUSb+AciVmLlSZLcVhttBH9QjyIIHiDOF2ZhOxeGebM7b3dfUnRdVwmN0Aq1UAqFGU2eekWSQ8RTh6HNMDqiwczNiJsnkR8Jx1RrSTKKDlE467wR9jY+XK9jN0bSKQwfGy/iqVcrMWespd82fsW7XP/XmZUmuXPsfHLHq3grHKzveef8NXjozKPH4mjAvf5rZPNLGtPAjI7ozUtfiD+1kp4LPLZxDV78APzYoty/jZXwAAAAAElFTkSuQmCC') !important;
  }
  #imgControls label:first-of-type::after {
    display: none !important;
  }
  #imgControls label:first-of-type::after {
    display: none !important;
  }
}
input:not([type='checkbox']) {
  border: 1px solid transparent !important;
}

.webkit #qr > form input[type="file"]::-webkit-file-upload-button {
  background-color: #202020 !important;
  border: none !important;
  color: #999 !important;
}

.webkit #qr > form input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #181818 !important;
}
.webkit #qr > form input[type="file"]:hover {
  background-color: #1c1c1c !important;
}

.gecko input[type="file"] > input[type="button"] {
padding-bottom: 2px !important;
}

[id^='q'] .error, [id^='q'] .warning {
  background: #1c1c1c !important;
  color: #bbb !important;
}

#qr.autohide .move {
  border-bottom: none !important;
}
#imageType {
  top: 0px !important;
}
span.tag {
  color: #4BB0BD !important;
}
span.pun {
  color: #758F4C !important;
}
span.com {
  color: #C95C5B !important;
}
span.str, span.atv {
  color: #98b962 !important;
}
span.kwd {
  color: #80accE !important;
}
span.typ, span.atn {
  color: #57577b !important;
}
span.lit {
  color: #558773 !important;
}
