/* PaisleyChan Lite */
/*[[ChangeAlign]]*/
::-webkit-scrollbar-thumb { border: #101010 !important; background: #262626; }
::-webkit-scrollbar-thumb:hover { background: #3f3f3f; }
::-webkit-scrollbar-thumb:active { background: #111; }
::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner, ::-webkit-scrollbar-resizer { background: #1c1c1c; }
scrollbar, scrollcorner { background: #1c1c1c; }
thumb:active { background: -moz-linear-gradient(top, rgba(255,255,255,0.3), rgba(255,255,255,0.1)) !important; }
thumb { border-color: #101010 !important; background: #262626; }
thumb:hover { background: -moz-linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,0.2)) !important; }
/**/
::-webkit-selection {
  background: #aaa;
  color: #101010;
}

::-moz-selection {
  background: #aaa;
  color: #101010;
}

::selection {
  background: #aaa;
  color: #101010;
}
body, html {
  background-color: #000000 !important;
  background-image: url(http://i.imgur.com/DRaZf.jpg) !important;
  background-attachment: fixed !important;
  background-repeat: repeat !important;
}
body,
body > form,
html body span[style='left: 5px; position: absolute;'] a,
input,
.postForm,
form[name^='post']::before,
select,
.deleteform::after,
textarea,
.abbr,
.boxbar,
.boxcontent,
.boardBanner,
.summary,
.pages strong,
.current,
.postblock,
.reply,
.reply.highlight,
#boardNavDesktop .title,
#imgControls label::after,
#boardNavDesktopFoot::after,
#qp div.post,
#updater #count:not(.new)::after,
.globalMessage,
#qr_form input[name="email"] + label::after,
.postForm #com_submit + label::after,
#qr > form > label::after,
#qr.autohide .move,
input[type="checkbox"],
span.pln {
  color: #999 !important;
}



blockquote {
color: #bbb !important;
}

#options ul { 
  border-bottom: 1px solid #909090 !important;
  border-radius: 0px !important;
}

#options ul:last-of-type {
  border: none !important;
}

.boardTitle {
  text-shadow: #101010 1px 0 2px, #101010 -1px 0 2px, #101010 0 -1px 2px, #101010 0 1px 2px;
}

.postForm > form td:nth-of-type(3) > label,
#qr > form tr:nth-of-type(3) > td:nth-of-type(3) > label {
  color: #888;
}

input[type='file']::-webkit-file-upload-button {
  color: #666 !important;
}




a,
#dump,
.entry,
.sideArrows,
div.post > blockquote a[href^="//"],
.report_button a,
.nameBlock > .useremail > .name,
.nameBlock > .useremail > .postertrip,
 div.postContainer span.postNum > .replylink {
  color: #bbb !important;
}

a:hover,
#dump:hover, span.quote > a.quotelink:hover,
.entry:hover
div.post > blockquote a[href^="//"]:hover,
.report_button:hover,
.sideArrows a:hover,
div.postContainer > div.post div.postInfo span.postNum a:hover,
 div.postContainer span.postNum > .replylink:hover {
  color: #00DFFC !important;
}

.name {
  color: #80accE !important;
  font-weight: 600 !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .name {
    font-weight: 800 !important;
  }
}
.postertrip,
.trip {
  color: #80accE !important;
}

.nameBlock > .useremail > .name:hover,
.nameBlock > .useremail > .postertrip:hover {
  color: #00DFFC !important;
}

a.backlink {
  color: #D4D4D4 !important;
}

a.forwardlink {
  color: #608CAE !important;
}

a.forwardlink {
  font-weight: 600 !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  a.forwardlink {
    font-weight: 800 !important;
  }
}
.subject {
  color: #aaa !important;
  font-weight: 700 !important;
}

.quote {
  color: #98b962 !important;
}

span.quote > a.quotelink {
  color: #999 !important;
}

#boards h3,
#ft li,
#ft ul,
#options .dialog,
#watcher,
.box-outer,
.boxbar,
.deleteform input[value=Delete],
.recaptcha_image_cell > center > #recaptcha_image,
.recaptchatable #recaptcha_response_field,
.top-box,
.yuimenuitem-selected,
input,
input[type='file'] > input[type='button'],
input[type='submit'],
select,
td.postblock,
textarea,
#options.reply.dialog,
.deleteform input[value=Delete],
input[value="Report"],
body::before,
#qr .warning {
  background-color: #1c1c1c !important;
}


div.reply,
#qr.autohide .move {
  background: rgba(52,56,56,0.8) !important;

}
blockquote {
border-radius: 3px !important;
}
.reply blockquote {
background-color: transparent !important;
}
div.reply, .reply.highlight {
padding: 0px !important;
}

input[type='submit']:hover,
input[type='file'] > input[type='button']:hover,
#options input,
#options textarea,
#qr,
#qr > form tr:nth-of-type(3) > td:nth-of-type(3) > label input,
#qr label input,
#updater input:not([type='checkbox']),
.bd,
.boxcontent > hr,
.boxcontent input,
.boxcontent textarea,
html,
body,
.postForm > form td:nth-of-type(3) > label input,
div[id^=qr],
table.reply[style^='clear: both'] {
  background-color: #101010 !important;
}

#boardNavDesktop, .pages {
  background-color: rgba(16,16,16,0.9) !important;
}

#boardNavDesktopFoot, #watcher, #watcher:hover, .globalMessage, .deleteform {
  background-color: rgba(16,16,16,1) !important;
}

div[class="navLinks"] a:first-of-type:hover,
#com_submit:hover,
input[type='submit']:hover,
input[type='file'] > input[type='button']:hover,
#qr::before,
#updater:hover,
.deleteform input[type='password']:hover,
.recaptchatable #recaptcha_response_field:hover,
form[name^='post']::before,
input:hover,
input[type='file'] > input[type='button']
input[type='submit']:hover,
.reply.highlight,
textarea:hover {
  background-color: #181818 !important;
}

#qp div.post {
border: 1px solid rgba(128,172,206,0.5) !important;
background-color: rgba(24,24,24,0.9) !important;
}

#qr::before,
form[name^='post']::before {
  border-radius: 6px 6px 0 0;
}

.qphl {
  outline-color: #627c8d !important;
}

html body span[style='left: 5px; position: absolute;'] a,
input[type='submit'],
#com_submit,
input[type='file'] > input[type='button'],
.recaptchatable #recaptcha_response_field:focus,
.deleteform input[type='password']:focus,
input:focus,
input[type='submit']:focus,
textarea:focus {
  background-color: #202020 !important;
}

input[type='checkbox'],
#options input[type='checkbox'],
form[name^='post'] td:nth-of-type(3) > label input[type='checkbox'],
#qr label input[type='checkbox'] {
  border: 1px solid #3c3c3c !important;
  background: #222 !important;
}

input[type=checkbox]:active,
#options input[type=checkbox]:active,
form[name^='post'] td:nth-of-type(3) > label input[type='checkbox']:active,
#qr label input[type='checkbox']:active {
  background: #222 !important;
}

input[type=checkbox]:checked,
#options input[type=checkbox]:checked,
form[name^='post'] td:nth-of-type(3) > label input[type='checkbox']:checked,
#qr label input[type='checkbox']:checked {
  background-color: #222 !important;
  color: #FFF !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input:checked,
  #options input:checked,
  form[name^='post'] td:nth-of-type(3) > label input:checked,
  #qr label input:checked {
    content: url('http://i.imgur.com/CAewG.png') !important;
  }
}

td[style='border: 1px dashed;'],
div.reply > tr > div.reply,
.inline div.reply {
  /* Inline Quotes */
  background-color: rgba(0,0,0,0.1) !important;
  border: none !important;
}

form[name^='post'] .postblock b,
form[name^='post']::before,
.postForm tr:nth-child(4) .postblock b,
#qr::before {
  color: rgba(255,255,255,0.3) !important;
}

#qr input:-moz-placeholder,
#qr textarea:-moz-placeholder {
  color: rgba(255,255,255,0.3) !important;
}

#qr input::-webkit-input-placeholder,
#qr textarea::-webkit-input-placeholder {
  color: rgba(255,255,255,0.3) !important;
}

#qr input:placeholder,
#qr textarea:placeholder {
  color: rgba(255,255,255,0.3) !important;
}

#ft li,
#ft ul,
#options input:not([type='checkbox']),
#updater input:not([type='checkbox']),
.box-outer,
.boxbar,
.inputtext,
.deleteform input[value=Delete],
.recaptcha_image_cell > center > #recaptcha_image,
.recaptchatable #recaptcha_response_field,
.top-box,
input:not([type='checkbox']),
#qr_captcha input,
input[type='file'] > input[type='button'],
input[type='submit'],
select,
textarea {
  border: none !important;
}

.boxcontent dd,
#options ul {
  border-color: #101010 !important;
}

hr {
  position: relative !important;
  top: 2px !important;
  border-top: 1px solid #1c1c1c !important;
  
}

#updater input,
#options input,
#qr,
div[id^=qr],
table.reply[style^='clear: both'] {
  border: none !important;
}

form[name='delform'] > div:not(.thread) select {
  margin: 1px 0 0 0 !important;
}

form[name='delform'] > div:not(.thread) select,
.pages input[type='submit'] {
  height: 15px !important;
}
/* Toolbox images */
/* 4chan X options */
#navtopr a[href="javascript:;"]::after, body:not([class]) a[href="javascript:void(0);"]::after {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIVJREFUGNOFkVENwCAMRE8CUiYBCZOAM6Rg4CWTMAlIuH0AG9mS0f7Q67W9FmkyMoWstxGIEgljTJKIhCd59IQp9+voBHaMOUmdnqgYs41qcxLYKZhCJFCxbrZJvUfz2LCm1liappoiYUxu8AiHVw2cPIXf6sXsl/L6Vb7c++9qi5v//dgFtjLxtKnNCFwAAAAASUVORK5CYII=') !important;
}
/* Delete buttons */
.deleteform::before { 
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAeRJREFUOE9tlM0rRFEYh0dMPiKxkWxsyEpWshCpURbWNPkvlCwYe6VJWU+zkmytZIOttZJsaHZioQkhH8+j++p0M/U0Z8597+/83o8zhUajUcjRwu8OGIAJmIFZmIJh6IHW/Ht5kXYCxmAVzuABvuAbXuAS9mAOesFDfzVSoW42FuEYXrOXFcjzyd41rMFQiIWQThS5AAP/E8jv3RO3Bf3hSHumo5MQeWZ9CjfJ3mO2d8d3pMuysQxFHVlYaxLpKLIP07ACV/AE2zAJ63CbuVbwBAYVsjsWNqzrRJE26ART3jAYdG/8bnJwk3VJIVtsd0LIdHSiiM+LYIdcKzQOR5DWsuJD5yRyVswA09GJItEQRUbgIHETh9cMctjyHbEmphNOjGuF+eyQfGfrBjixDluI2R0La00iHUVcm+4SOJipWNWHjr0P0mLbHVOJdHQSNetjvQNv2TvvfJcV8u7sJSc4J7bY7lhYa2LNdKLIApwn8T4bjdy9O469riy8c2KL7Y7zZRq61okiujDWmduEruiIRfXuOPaRYgjEb8VMJ2rzwfoQ7GRL2lovoHfHTzoO/907nShiLX9HJL39FtYL6N1x7JuJuxAzJWtiOjr5m7P8/1FMsq0vQQVqUIcqlGEUukxHJ8EPyeEKDPe5ibUAAAAASUVORK5CYII=') !important;
}
/* Return button */
div[class="navLinks"] a:first-of-type::after {  
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAC1QTFRFAAAA5OHk5OHk5OHk5OHk5OHk5OHk5OHk5OHk5OHk5OHk5OHk5OHk5OHk5OHkJaAqNQAAAA50Uk5TABAgQFBgcICPn6+/3+9ACPafAAAASElEQVQI15XMyxKAIAxD0eCr1ZT8/+eKDCOw07O700mBT45rrDXEXgul3sn0yCwsAaGBv/cw86xc92fbl0v7z7mBzeeudhJ/3aoUA1Vr0uhDAAAAAElFTkSuQmCC') !important;
}
/* Watcher */
#watcher::before {  
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACpQTFRFAAAA0dLU0dLU0dLU0dLU0dLU0dLU0dLU0dLU0dLU0dLU0dLU0dLU0dLUmYS1qAAAAA10Uk5TABAgQFBggI+fv8/f74aeqbgAAABVSURBVAjXnY0xDsMwEMNo+5TYPen/3+2SpUCXlhvBgfAH2uecrcdWt5O4ewHIdVtTvmXB9BoRoIzy5DqsDIAszvXRlyfItS3kXRZA9StJ0l1f/z/xBlXVAtkqW+Q3AAAAAElFTkSuQmCC') !important;
}
/* Announcement */
.globalMessage::before {  
   content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAK5JREFUGNN1kF0RxCAMhCMBCZVQCUhAwkmohDhAAhKQEAPfDBKQUAm5B3qU3s3t425mfyJygUTBMIzMLivYaTiGoigNpxJu8aSxLeeRTiOICIGOXfQLH8aT5eD8GKE4cTo4UTDKND1uWYRGFpzXkrnKGROc9JDnKBQTjDyJjbr0b+RnteO3WpgbhYSN/QQabX1L/HqLzyA2DKdTUCodx/E7dHgoFaOgJMo4kP8gEt+mlap7ZbvCVgAAAABJRU5ErkJggg==') !important;
}
/* Slideout nav */
#boardNavDesktopFoot::after {  
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAC1QTFRFAAAAzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMdShx9gAAAA50Uk5TABAgMEBggI+fr7/P3+82uMT1AAAAb0lEQVQIHQXBiQHDIAwEMOE8gGlu/3ErgWt297wAYyenT7IGjJNVqJUzsPMAniyuLODedspMQe3cKq8+8HxZOK0b9eUb6NYHO98Dv/am3FkDKq/Ktm9gp1h5AE8mxsku1M4ZMGby618yB6De7n4L/v79BDw2df22AAAAAElFTkSuQmCC') !important;
}
/* 4sight */
body > a[style='cursor: pointer; float: right;']::after { 
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADBQTFRFAAAAzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMzczMIXMlggAAAA90Uk5TABAgMEBQYICPn6+/z9/vD6iGsgAAAFRJREFUCB0FwYcBwyAMADAZCCN2y//fRgIAAG0MAMSba/8eAO9EVAe0BOMAxgISMDaIBKgGewKMesS+C0A7mXPdCgCQtwIAou6/A0DUPQCgnw4A4APNOQHMJOa9jgAAAABJRU5ErkJggg==') !important;
}
/* Expand */
#imgControls label:first-of-type::after {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAALlJREFUKFOFkT0KwlAQhANWaUSb+AciVmLlSZLcVhttBH9QjyIIHiDOF2ZhOxeGebM7b3dfUnRdVwmN0Aq1UAqFGU2eekWSQ8RTh6HNMDqiwczNiJsnkR8Jx1RrSTKKDlE467wR9jY+XK9jN0bSKQwfGy/iqVcrMWespd82fsW7XP/XmZUmuXPsfHLHq3grHKzveef8NXjozKPH4mjAvf5rZPNLGtPAjI7ozUtfiD+1kp4LPLZxDV78APzYoty/jZXwAAAAAElFTkSuQmCC') !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #imgControls label:first-of-type {
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAALlJREFUKFOFkT0KwlAQhANWaUSb+AciVmLlSZLcVhttBH9QjyIIHiDOF2ZhOxeGebM7b3dfUnRdVwmN0Aq1UAqFGU2eekWSQ8RTh6HNMDqiwczNiJsnkR8Jx1RrSTKKDlE467wR9jY+XK9jN0bSKQwfGy/iqVcrMWespd82fsW7XP/XmZUmuXPsfHLHq3grHKzveef8NXjozKPH4mjAvf5rZPNLGtPAjI7ozUtfiD+1kp4LPLZxDV78APzYoty/jZXwAAAAAElFTkSuQmCC') !important;
  }
  #imgControls label:first-of-type::after {
    display: none !important;
  }
  #imgControls label:first-of-type::after {
    display: none !important;
  }
}
input:not([type='checkbox']) {
  border: 1px solid transparent !important;
}

.webkit #qr > form input[type="file"]::-webkit-file-upload-button {
  background-color: #202020 !important;
  border: none !important;
  color: #999 !important;
}

.webkit #qr > form input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #181818 !important;
}
.webkit #qr > form input[type="file"]:hover {
  background-color: #1c1c1c !important;
}

.gecko input[type="file"] > input[type="button"] {
padding-bottom: 2px !important;
}

[id^='q'] .error, [id^='q'] .warning {
  background: #1c1c1c !important;
  color: #bbb !important;
}

#qr.autohide .move {
  border-bottom: none !important;
}
#imageType {
  top: 0px !important;
}
span.tag {
  color: #4BB0BD !important;
}
span.pun {
  color: #758F4C !important;
}
span.com {
  color: #C95C5B !important;
}
span.str, span.atv {
  color: #98b962 !important;
}
span.kwd {
  color: #80accE !important;
}
span.typ, span.atn {
  color: #57577b !important;
}
span.lit {
  color: #558773 !important;
}
