/* Photon */
/*[[CustomScrollbars]]*/
::-webkit-scrollbar-thumb { border: 1px solid #D9BFB7; background: #eef2ff; }
::-webkit-scrollbar-thumb:hover { background: -webkit-linear-gradient(top, rgba(0,0,0,.4), rgba(0,0,0,0.2)) !important; }
::-webkit-scrollbar-thumb:active { background: -webkit-linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0.1)) !important; }
::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner, ::-webkit-scrollbar-resizer {background: #DDD; }
scrollbar, scrollcorner { background: #DDD !important; }
thumb { -moz-appearance: none !important; border: 1px solid #D9BFB7; background: #fff; }
thumb:hover { background: -moz-linear-gradient(top, rgba(0,0,0,.4), rgba(0,0,0,0.2)) !important; }
thumb:active { background: -moz-linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0.1)) !important; }
/**/
body {
  background: #EEEEEE none !important;
}
.boardTitle {
  text-shadow: 1px 1px 1px #222 !important;
}
#boards h3,
#ft li,
#ft ul,
#qr::before,
#updater:hover,
.box-outer,
.boxbar,
.deleteform input[value=Delete],
.top-box,
.yuimenuitem-selected,
form[name^='post']::before,
select,
td.postblock,
div.reply,
html body span[style='left: 5px; position: absolute;'] a,
input[type='submit'],
#com_submit,
.deleteform input[value=Delete],
input[value="Report"],
body::before,
#qr.autohide .move {
  background-color: #DDD !important;
}
input[type='file'] > input[type='button'] {
  background-color: #FFF !important;
}
#options.reply.dialog, #options .dialog {
  background-color: rgba(0,0,0,0.5) !important;
  color: #FFF !important;
  border: 10px solid rgba(255,255,255,0.4) !important;
  border-radius: 6px !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 6px;
}
#options button {
  background: none !important;
  -moz-appearance: none !important;
  border: none !important;
  color: #FF8433 !important;
  width: auto !important;
  padding: 0px !important;
  margin: 0px !important;
  cursor: pointer !important;
}
#options ul {	
  border-bottom: 1px solid rgba(255,255,0.2) !important;
  border-radius: 0px !important;
}
#options ul:last-of-type {
  border: none !important;
}
div.reply, .reply.highlight, #watcher, #boardNavDesktopFoot, body::before, #qr.autohide .move {
  -moz-appearance: none !important;
  border:1px solid #CCC !important;
}
#boardNavDesktop, .pages {
  background-color: rgba(238,238,238,0.9) !important;
}
#boardNavDesktopFoot, #watcher, #watcher:hover, .globalMessage, .deleteform {
  background-color: rgba(238,238,238,1) !important;
}
td[style='border: 1px dashed;'],
div.reply > tr > div.reply,
.inline div.reply,
.inline .inline .inline div.reply,
.inline .inline .inline .inline .inline div.reply,
.inline .inline .inline .inline .inline .inline .inline div.reply,
.inline .inline .inline .inline .inline .inline .inline .inline .inline div.reply,
.inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline div.reply,
.inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline div.reply,
.inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline div.reply,
.inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline div.reply,
.inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline div.reply {
  /* Inline Quotes */
  background-color: rgba(255,255,255,0.2) !important;
  border: 1px solid rgba(128,128,128,0.5) !important;
  -moz-box-shadow: 5px 5px 5px rgba(128,128,128,0.5) !important;
  -webkit-box-shadow: 5px 5px 5px rgba(128,128,128,0.5) !important;
  box-shadow: 5px 5px 5px rgba(128,128,128,0.5) !important;
}
.inline .inline div.reply,
.inline .inline .inline .inline div.reply,
.inline .inline .inline .inline .inline .inline div.reply,
.inline .inline .inline .inline .inline .inline .inline .inline div.reply,
.inline .inline .inline .inline .inline .inline .inline .inline .inline .inline div.reply,
.inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline div.reply,
.inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline div.reply,
.inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline div.reply,
.inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline div.reply,
.inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline div.reply {
  background-color: #DDD !important;
}

a,
#dump,
.entry,
div.post > blockquote a[href^="//"],
.sideArrows a,
.nameBlock > .useremail > .name,
.nameBlock > .useremail > .postertrip,
 div.postContainer span.postNum > .replylink {
  color: #FF6600 !important;
}
#boardNavDesktop a, #boardNavDesktopFoot a {
	color: #111 !important;
}
div.postContainer > div.post .postNum a {
	color: #333 !important;
}
.fileText {
	color: #666 !important;
}
hr {
  position: relative !important;
  top: 2px !important;
  border-top: 1px solid #D9BFB7 !important;
}
#watcher, 
#updater:hover, 
.globalMessage, 
.deleteform,
#ft li,
#ft ul,
#options input:not([type='checkbox']),
#updater input:not([type='checkbox']),
.box-outer,
.boxbar,
.inputtext,
.deleteform input[value=Delete],
.recaptchatable #recaptcha_response_field,
.top-box,
input:not([type='checkbox']),
#qr_captcha input,
input[type='file'] > input[type='button'],
input[type='submit'],
select,
textarea,
input[type='checkbox'],
#options input[type='checkbox'],
form[name^='post'] td:nth-of-type(3) > label input[type='checkbox'],
#qr label input[type='checkbox'],
html body span[style='left: 5px; position: absolute;'] a {
  border: 1px solid #CCC !important;
}
.recaptchatable #recaptcha_response_field:focus,
.deleteform input[type='password']:focus,
input:focus,
input.inputtext:focus,
input[type='submit']:focus,
textarea:focus {
  border: 1px solid #004A99 !important;
}
.subject {
  color: #111 !important;
  font-weight: 600 !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .subject {
    font-weight: 800 !important;
  }
}
input, textarea {
  color: #000 !important;
}
body,
body > form,
html body span[style='left: 5px; position: absolute;'] a,
.postForm,
form[name^='post']::before,
select,
.deleteform::after,
.abbr,
.boxbar,
.boxcontent,
.summary,
.pages strong,
.postblock,
.reply,
.reply.highlight,
#boardNavDesktop .title,
#imgControls label::after,
#updater #count:not(.new)::after,
.globalMessage,
#qr_form input[name="email"] + label::after,
.postForm #com_submit + label::after,
#qr > form > label::after,
#qr.autohide .move,
span.pln {
  color: #333 !important;
}
span.quote > a.quotelink {
  color: #FF6600 !important;
}
div[class="navLinks"] a:first-of-type:hover,
#com_submit:hover,
.deleteform input:hover,
.recaptchatable #recaptcha_response_field:hover,
input:hover,
input[type='submit']:hover,
input[type='file'] > input[type='button']:hover,
.reply.highlight,
textarea:hover {
  background-color: #CCC !important;
}
#qp div.post {
  background-color: rgba(21,21,21,0.8) !important;
  color: #FFF !important;
  border: 1px solid rgba(255,255,255,1) !important;
  outline: 1px solid black !important;
  -moz-outline-radius: 3px !important;
}
#qp div.post .name, #qp div.post .container a, #qp div.post .postNum a {
  color: #FFF !important;
}
#qp div.post .postertrip {
  color: #999 !important;
}
#qp div.post .fileText {
  color: #999 !important;
}
input[type='checkbox'],
form[name^='post'] td:nth-of-type(3) > label input[type='checkbox'],
#qr label input[type='checkbox'] {
  background-color: #FFFFEE !important;
}

#options input,
#options textarea,
#qr > form tr:nth-of-type(3) > td:nth-of-type(3) > label input,
#qr label input,
#updater input:not([type='checkbox']),
.bd,
input[type='submit'] {
  background-color: #FFFFEE !important;
}
#qr {
  background-color: #EEE !important;
}

.boardTitle {
  color: #004A99 !important;
}
.boardBanner {
	color: #333 !important;
}
input[type=checkbox]:checked,
form[name^='post'] td:nth-of-type(3) > label input[type='checkbox']:checked,
#qr label input[type='checkbox']:checked {
  background-color: #bcc0d4 !important;
}
#options input[type='checkbox'] {
  background-color: rgba(255,255,255,0.1) !important;
  border: none !important;
}
#options input[type=checkbox]:checked {
  background-color: rgba(255,255,255,0.1) !important;
  color: #FF6600 !important;
}
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
	#options input[type='checkbox'] {
		border: solid 1px rgba(255,255,255,0.1) !important;
	}
}
#floaty label {
  color: #FF6600 !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	input:checked,
	#options input:checked,
	form[name^='post'] td:nth-of-type(3) > label input:checked,
	#qr label input:checked {
		content: url('http://i.imgur.com/CAewG.png') !important;
	}
}

.postForm > form td:nth-of-type(3) > label,
#qr > form tr:nth-of-type(3) > td:nth-of-type(3) > label {
  color: #444;
}
input[type='file']::-webkit-file-upload-button {
  color: #444 !important;
}
a:hover,
.nameBlock > .useremail > .name:hover,
.nameBlock > .useremail > .postertrip:hover,
#boardNavDesktop a:hover,
.pages input:hover,
#dump:hover,
.entry:hover,
div.post > blockquote a[href^="//"]:hover,
.sideArrows a:hover,
div.postContainer > div.post div.postInfo span.postNum a:hover,
 div.postContainer span.postNum > .replylink:hover {
  color: #FF3300 !important;
}
.name {
  color: #004A99 !important;
  font-weight: 600 !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .name {
    font-weight: 800 !important;
  }
}
.postertrip,
.trip {
  color: #FF3300 !important;
}
a.backlink,
a.forwardlink {
  color: #111 !important;
}
a.forwardlink {
  font-weight: 600 !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  a.forwardlink {
    font-weight: 800 !important;
  }
}

.quote {
  color: #789922 !important;
}
.boxcontent > hr,
.boxcontent input,
.boxcontent textarea,
.postForm > form td:nth-of-type(3) > label input,
table.reply[style^='clear: both'],
input,
textarea,
.recaptchatable #recaptcha_response_field,
.recaptchatable #recaptcha_response_field:focus,
.deleteform input[type='password']:focus,
input:focus,
input[type='submit']:focus,
textarea:focus {
  background-color: #fff !important;
}
#qr::before,
form[name^='post']::before {
  border-radius: 6px 6px 0 0;
}
.qphl {
  outline-color: #627c8d !important;
}
input[type=checkbox]:active,
#options input[type=checkbox]:active,
form[name^='post'] td:nth-of-type(3) > label input[type='checkbox']:active,
#qr label input[type='checkbox']:active {
  background: #000 !important;
}

form[name^='post'] .postblock b,
form[name^='post']::before,
.postForm tr:nth-child(4) .postblock b,
#qr::before {
  color: rgba(0,0,0,0.5) !important;
}
#qr input:-moz-placeholder,
#qr textarea:-moz-placeholder {
  color: rgba(0,0,0,0.5) !important;
}
#qr input::-webkit-input-placeholder,
#qr textarea::-webkit-input-placeholder {
  color: rgba(0,0,0,0.5) !important;
}
#qr input:placeholder,
#qr textarea:placeholder {
  color: rgba(0,0,0,0.5) !important;
}
html body span[style='left: 5px; position: absolute;'] a {
  height: 14px !important;
  padding-top: 3px !important;
  width: 56px !important;
}
form[name^='post'] input[type='file'][name='upfile'],
#qr input[type='file'][name='upfile'] {
  height: 21px !important;
  margin: 0 0px -1px -1px !important;
}
body > .postingMode ~ form[name^='post'] input[type='file'][name='upfile'],
body > .postingMode ~ #qr input[type='file'][name='upfile'] {
  height: 21px !important;
  margin: 0 0px 0px !important;
}
.fake input[type='file']::-webkit-file-upload-button,
form[name^='post'] input[type='file'][name='upfile'],
#qr input[type='file'][name='upfile'] {
  margin: 1px 0 0 !important;
  height: 19px !important;
}
#recaptcha_image img,
#quick_recaptcha_image img,
#qr img {
  opacity: 1 !important;
}
.boxcontent dd,
#options ul {
  border-color: #eef2ff !important;

}
hr {
  position: relative !important;
  top: 2px !important;
}

#updater input,
#options input,
#qr,
div[id^=qr],
table.reply[style^='clear: both'] {
  border: none !important;
}
form[name='delform'] > div:not(.thread) select,
.pages input[type='submit'] {
  margin: 0 !important;
  height: 17px !important;
}

.webkit #qr > form input[type="file"]::-webkit-file-upload-button {
  background-color: #FFFFEE !important;
  border: none !important;
  border-right: 1px solid #CCC !important;
  color: #000 !important;
}

.webkit #qr > form input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #CCC !important;
}
.webkit #qr > form input[type="file"]:hover {
  background-color: #FFF !important;
}

[id^='q'] .error, [id^='q'] .warning {
  background: #EEEEEE !important;
  color: #FF6600 !important;
}

#qr.autohide .move {
  border-bottom: none !important;
}
.prettyprint {
  background-color: rgba(150,150,150,0.2) !important;
  border-color: rgba(130,130,130,0.1) !important;
}
span.tag {
  color: #003369 !important;
}
span.pun {
  color: #61663A !important;
}
span.com {
  color: #FF6600 !important;
}
span.str, span.atv {
  color: #7FA61B !important;
}
span.kwd {
  color: #004A99 !important;
}
span.typ, span.atn {
  color: #6F4E9C !important;
}
span.lit {
  color: #FF3300 !important;
}
