body, h1, h2, h3, h4, header, html, div, br, .unloaded, .logo::after {
  background-color: #073642;
  color: #93a1a1;
}

input, textarea {
  color: #93a1a1;
}

::-webkit-selection {
  background: #aaa !important;
  color: #93a1a1 !important;
}

::-moz-selection {
  background: #aaa !important;
  color: #93a1a1 !important;
}

::selection {
  background: #aaa !important;
  color: #93a1a1 !important;
}

a {
  color: #6c71c4 !important;
}

a:hover {
  color: #d33682  !important;
}

.backlink {
  color: #4f5f8f !important;
}

.logo {
  visibility: hidden;
}

.logo::after {
  position: fixed;
  top: -8px;
  content: "OneeChan";
  position: relative;
  right: 308px;
  visibility: visible;
  text-shadow: 1px 1px 1px #000;
  font-size: 90px;
}

.logo::after, h3 {
  color: #93a1a1 !important;
}

b {
  color: #586e75 !important;
}

input, textarea, #para, .reply, .comment {
  background-color: #002B36 !important;
}

.reply, #para, .comment {
  border: 1px solid #002B36 !important;
}

.postertrip {
  color: #2aa198 !important;
}

.greentext {
  color: #859900 !important;
}

input:hover, textarea:hover {
  background-color: #073642 !important;
}

input:focus,
textarea:focus {
  background-color: #073642 !important;
}

input[type="checkbox"] {
  background-color: #586e75 !important;
  border: 1px solid #586e75 !important;
}

input[type="checkbox"]:checked {
  background-color: #111 !important;
  border: 1px solid #111 !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input:checked {
    content: url('http://i.imgur.com/CAewG.png') !important;
  }
}

pre {
  color: #000 !important;
}

input,
textarea {
  border: 1px solid #002B36 !important;
}

input:focus,
textarea:focus {	
  border: 1px solid #073642 !important;
}

input[type="submit"] {
  color: #93a1a1 !important;
  background-color: #002B36 !important;
  border-color: #002B36 !important;
  text-shadow: none !important;
  font-weight: 100 !important;
}

input:-moz-placeholder,
textarea:-moz-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input:placeholder,
textarea:placeholder {
  color: rgba(255,255,255,0.1) !important;
}