body, h1, h2, h3, h4, header, html, div, br, .unloaded, .logo::after {
  background-color: #1d1f21;
  color: #c5c8c6;
}

input, textarea {
  color: #c5c8c6;
}

::-webkit-selection {
  background: #aaa !important;
  color: #c5c8c6 !important;
}

::-moz-selection {
  background: #aaa !important;
  color: #c5c8c6 !important;
}

::selection {
  background: #aaa !important;
  color: #c5c8c6 !important;
}

a {
  color: #81a2be !important;
}

a:hover {
  color: #5F89AC  !important;
}

.backlink {
  color: #b294bb !important;
}

.backlink:hover {
  color: #9B74A7 !important;
}

.logo {
  visibility: hidden;
}

.logo::after {
  position: fixed;
  top: -8px;
  content: "OneeChan";
  position: relative;
  right: 308px;
  visibility: visible;
  text-shadow: 1px 1px 1px #000;
  font-size: 90px;
}

.logo::after, h3 {
  color: #c5c8c6 !important;
}

b {
  color: #c5c8c6!important;
}

input, textarea, #para, .reply, .comment {
  background-color: #282a2e !important;
}

.reply, #para, .comment {
  border: 1px solid #282a2e !important;
}

.postertrip {
  color: #c5c8c6 !important;
}

.greentext {
  color: #789922 !important;
}

input:hover, textarea:hover {
  background-color: #1D1D21 !important;
}

input:focus,
textarea:focus {
  background-color: #282a2e !important;
}

input[type="checkbox"] {
  background-color: #1d1f21 !important;
  border: 1px solid #1d1f21 !important;
}

input[type="checkbox"]:checked {
  background-color: #282a2e !important;
  border: 1px solid #282a2e !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input:checked {
    content: url('http://i.imgur.com/CAewG.png') !important;
  }
}

pre {
  color: #000 !important;
}

input,
textarea {
  border: 1px solid #282a2e !important;
}

input:focus,
textarea:focus {	
  border: 1px solid #282a2e !important;
}

input[type="submit"] {
  color: #c5c8c6 !important;
  background-color: #282a2e !important;
  border-color: #282a2e !important;
  text-shadow: none !important;
  font-weight: 100 !important;
}