h1, h2, h3, h4, header, html, div, br, .unloaded, .logo::after {
  background-color: transparent;
  color: #000;
}

body {
  background-color: #2c2c2c;
  background: url("http://static.4chan.org/image/fade-blue.png") repeat-x scroll center top #EEF2FF !important;
}

input, textarea {
  color: #000;
}

::-webkit-selection {
  background: #aaa !important;
  color: #101010 !important;
}

::-moz-selection {
  background: #aaa !important;
  color: #101010 !important;
}

::selection {
  background: #aaa !important;
  color: #101010 !important;
}

a {
  color: #57577B !important;
}

a:hover {
  color: #d00 !important;
}

.backlink {
  color: #000 !important;
}

.quotejs {
  color: #000 !important;
}

.quotelink {
  color: #d00 !important;
}

.logo {
  visibility: hidden;
}

.logo::after {
  position: fixed;
  top: -8px;
  content: "OneeChan";
  position: relative;
  right: 308px;
  visibility: visible;
  text-shadow: 1px 1px 1px #000;
  font-size: 90px;
}

.logo::after, h3 {
  color: #AF0A0F !important;
}

b {
  color: #117743 !important;
}

input:not([name="file"]), textarea {
  background-color: #eef2ff !important;
}

#para, .reply, .comment {
  background-color: #d6daf0 !important;
}

.reply, #para, .comment {
  border: 1px solid #B7C5D9 !important;
  border-top: 0px solid #d6daf0 !important;
  border-left: 0px solid #d6daf0 !important;
}

.postertrip {
  color: #228854 !important;
}

.greentext {
  color: #789922 !important;
}

input:hover, textarea:hover {
  background-color: #d6bad0 !important;
}

input:focus,
textarea:focus {
  background-color: #eef2ff !important;
}

input[type="checkbox"] {
  background-color: #eef2ff !important;
  border: 1px solid #b7c5d9 !important;
}

input[type="checkbox"]:checked {
  background-color: #bcc0d4 !important;
  border: 1px solid #b7c5d9 !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input:checked {
    content: url('http://i.imgur.com/TyFWy.png') !important;
  }
}

pre {
  color: #000 !important;
}

input,
textarea {
  border: 1px solid #b7c5d9 !important;
}

input:focus,
textarea:focus {	
  border: 1px solid #98e !important;
}

input[type="submit"] {
  background-color: #d6daf0 !important;
  border-color: #b7c5d9 !important;
  text-shadow: none !important;
  font-weight: 100 !important;
}