/* Yotsuba Purple */
  /*[[CustomScrollbars]]*/
  ::-webkit-scrollbar-thumb { border: 1px solid #b7c5d9; background: #eef2ff; }
  ::-webkit-scrollbar-thumb:hover { background: -webkit-linear-gradient(top, rgba(0,0,0,.4), rgba(0,0,0,0.2)) !important; }
  ::-webkit-scrollbar-thumb:active { background: -webkit-linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0.1)) !important; }
  ::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner, ::-webkit-scrollbar-resizer {background: #d6daf0; }
  scrollbar, scrollcorner { background: #d6daf0 !important; }
  thumb { -moz-appearance: none !important; border: 1px solid #b7c5d9; background: #fff; }
  thumb:hover { background: -moz-linear-gradient(top, rgba(0,0,0,.4), rgba(0,0,0,0.2)) !important; }
  thumb:active { background: -moz-linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0.1)) !important; }
  /**/
  body {
    background: url("http://i.imgur.com/ah4AZ.png") repeat-x scroll center top #F8F3FE !important;
  }
  form[name="delform"]::before {
width: 252px !important;
content: '';
position: fixed !important;
top: 0px !important;
right: 0px !important;
height: 19px !important;
background-color: rgba(229,220,240,0.9) !important;
}
  div.reply, .reply.highlight {
    border: 1px solid #cab7d9 !important;
  }
  .reply.highlight {
    border: 1px solid #cab7d9 !important;
  }

  .boardTitle {
    text-shadow: 1px 1px 1px #222 !important;
  }
  a.backlink,
  a.forwardlink {
    color: #000 !important;
  }
  #boards h3,
  #boardsMenu,
  #filter.autohide:hover,
  #filter:not(.autohide),
  #ft li,
  #ft ul,
  #navbar,
  #popup,
  #qr::before,
  #threadwatcher,
  #threadwatcher .postblock,
  #watcher,
  #thread_filter.autohide:hover,
  #thread_filter:not(.autohide),
  #updater:hover,
  .box-outer,
  .boxbar,
  .deleteform input[value=Delete],
  .top-box,
  .yuimenuitem-selected,
  form[name^='post']::before,
  select,
  td.postblock,
  div.reply,
  html body span[style='left: 5px; position: absolute;'] a,
  input[type='submit'],
  #com_submit,
  #qr a#attach::after,
  #qr.autohide .move,
  .deleteform input[value=Delete],
  input[value="Report"] {
    background-color: #EDF !important;
  }
  #options .dialog,   #options.reply.dialog {
    background-color: #FFF !important;
  }
  div.reply {
    border:1px solid #cab7d9 !important;
  }
  .reply.highlight, #watcher, #boardNavDesktopFoot {
    border: 1px solid #cab7d9 !important;
  }
  #boardNavDesktop { 
    background-color: rgba(229,220,240,0.9) !important;
  }
#boardNavDesktop a {
  color: #000 !important;
}
  .pages {
    background-color: rgba(238,242,255,0.9) !important;
  }
  #boardNavDesktopFoot, #watcher, #watcher:hover, .globalMessage, .deleteform {
    background-color: rgba(238,242,255,1) !important;
  }

  
  td[style='border: 1px dashed;'],
  div.reply > tr > div.reply,
  .inline div.reply,
  .inline .inline .inline div.reply,
  .inline .inline .inline .inline .inline div.reply,
  .inline .inline .inline .inline .inline .inline .inline div.reply,
  .inline .inline .inline .inline .inline .inline .inline .inline .inline div.reply,
  .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline div.reply,
  .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline div.reply,
  .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline div.reply,
  .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline div.reply,
  .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline div.reply {
    /* Inline Quotes */
    background-color: rgba(255,255,255,0.2) !important;
    border: 1px solid rgba(128,128,128,0.5) !important;
    -moz-box-shadow: 5px 5px 5px rgba(128,128,128,0.5) !important;
    -webkit-box-shadow: 5px 5px 5px rgba(128,128,128,0.5) !important;
    box-shadow: 5px 5px 5px rgba(128,128,128,0.5) !important;
  }
  .inline .inline div.reply,
  .inline .inline .inline .inline div.reply,
  .inline .inline .inline .inline .inline .inline div.reply,
  .inline .inline .inline .inline .inline .inline .inline .inline div.reply,
  .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline div.reply,
  .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline div.reply,
  .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline div.reply,
  .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline div.reply,
  .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline div.reply,
  .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline .inline div.reply {
    background-color: #d6daf0 !important;
  }



   [id^='q'] .error, [id^='q'] .warning {
    background: #EEF2FF !important;
    color: #57577b !important;
  }
 a,
#dump,
div.post > blockquote a[href^="//"],
.sideArrows a,
.nameBlock > .useremail > .name,
.nameBlock > .useremail > .postertrip,
 div.postContainer span.postNum > .replylink {
  color: #962594 !important;
}
.postNum a, a.backlink {
  color: #000 !important;
}
hr {
  border-top: 1px solid #b7c5d9 !important;
}
#watcher, 
#updater:hover, 
.globalMessage, 
.deleteform,
#cc-showpostarea,
#ft li,
#ft ul,
#options input:not([type='checkbox']),
#qr table .recaptchatable #recaptcha_image,
#updater input:not([type='checkbox']),
#twi_table_div,
#twi_table_div *,
.box-outer,
.boxbar,
.chanchimp,
.chanchimp > div,
.inputtext,
.deleteform input[value=Delete],
.recaptcha_image_cell > center > #recaptcha_image,
.recaptchatable #recaptcha_response_field,
.top-box,
input:not([type='checkbox']),
#qr_captcha input,
input[type='file'] > input[type='button'],
input[type='submit'],
select,
textarea,
input[type='checkbox'],
#options input[type='checkbox'],
form[name^='post'] td:nth-of-type(3) > label input[type='checkbox'],
#qr label input[type='checkbox'],
html body span[style='left: 5px; position: absolute;'] a {
  border: 1px solid #cab7d9 !important;
}
.recaptchatable #recaptcha_response_field:focus,
.deleteform input[type='password']:focus,
input:not([type="submit"]):focus,
input.inputtext:focus,
textarea:focus {
  border: 1px solid #D1A2FF !important;
}
.subject {
  color: #3a0c5d !important;
  font-weight: 600 !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .subject {
    font-weight: 800 !important;
  }
}
body,
body > form,
html body span[style='left: 5px; position: absolute;'] a,
input,
.postForm,
form[name^='post']::before,
select,
.deleteform::after,
textarea,
.abbr,
.boxbar,
.boxcontent,
.summary,
.pages strong,
.postblock,
.reply,
.reply.highlight,
#backwash_tooltip,
#boardNavDesktop .title,
#imgControls label::after,
#boardNavDesktopFoot::after,
#qp div.reply, #qp div.op,
#twi_table_div,
#updater #count:not(.new)::after,
.globalMessage,
#qr_form input[name="email"] + label::after,
#qr > form > label::after,
#qr.autohide .move,
span.pln {
  color: #000 !important;
}

#options ul { 
  border-bottom: 1px solid #000 !important;
  border-radius: 0px !important;
}

#options ul:last-of-type {
  border: none !important;
}
span.quote > a.quotelink {
  color: #962594 !important;
}
div[class="navLinks"] a:first-of-type:hover,
#com_submit:hover,
#cc-showpostarea,
#twi_table_div,
#twi_table_div *,
#backwash_tooltip,
#popup,
.chanchimp,
.chanchimp > div,
.deleteform input:hover,
.recaptchatable #recaptcha_response_field:hover,
div[id^=ref],
input:hover,
input[type='submit']:hover,
input[type='file'] > input[type='button']:hover,
.reply.highlight,
textarea:hover {
  background-color: #EDF !important;
}
#qp div.reply, #qp div.op {
 background-color: #FFF !important;
 -moz-box-shadow: 5px 5px 5px rgba(128,128,128,0.5) !important;
 -webkit-box-shadow: 5px 5px 5px rgba(128,128,128,0.5) !important;
 box-shadow: 5px 5px 5px rgba(128,128,128,0.5) !important;
 border: 1px solid #cab7d9 !important;
}
input[type='checkbox'],
#options input[type='checkbox'],
form[name^='post'] td:nth-of-type(3) > label input[type='checkbox'],
#qr label input[type='checkbox'] {
  background-color: #eef2ff !important;
}
#crntBoard {
  border-right-color: #eef2ff !important;
}
div[id^='4chan_ext_iqr'],
div[id^='4chan_ext_iqr'] > *,
#filter input,
#filter textarea,
#options input,
#options textarea,
#qr,
#qr > form tr:nth-of-type(3) > td:nth-of-type(3) > label input,
#quickrep,
#quickrep > form tr:nth-of-type(3) > td:nth-of-type(3) > label input,
#qr label input,
#thread_filter input,
#thread_filter textarea,
#updater input:not([type='checkbox']),
.bd,
input[type='submit'] {
  background-color: #eef2ff !important;
}
.webkit #qr > form input[type="file"]::-webkit-file-upload-button {
  background-color: #eef2ff !important;
  border: none !important;
  border-right: 1px solid #b7c5d9 !important;
  color: #000 !important;
}

.webkit #qr > form input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #d6bad0 !important;
}
.webkit #qr > form input[type="file"]:hover {
  background-color: #fff !important;
}
  body::before {
display: none !important;
  }
  .boardBanner {
    color: #763E99 !important;
  }
  input[type=checkbox]:checked,
  #options input[type=checkbox]:checked,
  form[name^='post'] td:nth-of-type(3) > label input[type='checkbox']:checked,
  #qr label input[type='checkbox']:checked {
    background-color: #fff !important;
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
   input:checked,
   #options input:checked,
   form[name^='post'] td:nth-of-type(3) > label input:checked,
   #qr label input:checked {
    content: url('http://i.imgur.com/TyFWy.png') !important;
  }
}

.postForm > form td:nth-of-type(3) > label,
#qr > form tr:nth-of-type(3) > td:nth-of-type(3) > label,
#quickrep > form tr:nth-of-type(3) > td:nth-of-type(3) > label,
#autonoko {
  color: #444;
}
input[type='file']::-webkit-file-upload-button {
  color: #444 !important;
}
a:hover,
#dump:hover,
div.post > blockquote a[href^="//"]:hover,
.sideArrows a:hover,
div.post div.postInfo span.postNum a:hover,
 div.postContainer span.postNum > .replylink:hover {
  color: #b22caa !important;
}
.name {
  color: #591177 !important;
  font-weight: 600 !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .name {
    font-weight: 800 !important;
  }
}
.postertrip,
.trip {
  color: #b22caa !important;
}
.nameBlock > .useremail > .name:hover,
.nameBlock > .useremail > .postertrip:hover {
  color: #117743 !important;
}
a.forwardlink {
  font-weight: 600 !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  a.forwardlink {
    font-weight: 800 !important;
  }
}
.quote {
  color: #789922 !important;
}
.boxcontent > hr,
.boxcontent input,
.boxcontent textarea,
.postForm > form td:nth-of-type(3) > label input,
div[id^=qr],
table.reply[style^='clear: both'],
input,
textarea,
.recaptchatable #recaptcha_response_field,
.recaptchatable #recaptcha_response_field:focus,
.deleteform input[type='password']:focus,
input:focus,
input[type='submit']:focus,
textarea:focus {
  background-color: #fff !important;
}
#qr::before,
form[name^='post']::before {
  border-radius: 6px 6px 0 0;
}
a.qphl {
  outline-color: #763E99 !important;
}
div.reply {
  border-left: none !important;
  border-top: none !important;
}
.reply.highlight {
  border-left: none !important;
  border-top: none !important;
}
input[type=checkbox]:active,
#options input[type=checkbox]:active,
form[name^='post'] td:nth-of-type(3) > label input[type='checkbox']:active,
#qr label input[type='checkbox']:active {
  background: #000 !important;
}
form[name^='post'] .postblock b,
form[name^='post']::before,
.postForm tr:nth-child(4) .postblock b,
#maxchars,
#qr::before {
  color: rgba(0,0,0,0.5) !important;
}
#qr input:-moz-placeholder,
#qr textarea:-moz-placeholder {
  color: rgba(0,0,0,0.5) !important;
}
#qr input::-webkit-input-placeholder,
#qr textarea::-webkit-input-placeholder {
  color: rgba(0,0,0,0.5) !important;
}
#qr input:placeholder,
#qr textarea:placeholder {
  color: rgba(0,0,0,0.5) !important;
}
html body span[style='left: 5px; position: absolute;'] a {
  height: 14px !important;
  padding-top: 3px !important;
  width: 56px !important;
}
#recaptcha_image img,
#quick_recaptcha_image img,
#qr img {
  opacity: 1 !important;
}
.boxcontent dd,
#options ul,
#threadwatcher .postblock,
.chanchimp * {
  border-color: #eef2ff !important;
}

hr {
  position: relative !important;
  top: 2px !important;
  border-top: 1px solid #E8D1FF !important;
}

#filter input,
#filter textarea,
#thread_filter input,
#thread_filter textarea,
#updater input,
#options input,
#qr,
#quickrep,
div[id^=qr],
table.reply[style^='clear: both'] {
  border: none !important;
}
form[name='delform'] > div:not(.thread) select,
.pages input[type='submit'] {
  margin: 0 !important;
  height: 17px !important;
}

#qr.autohide .move {
  border-bottom: none !important;
}
.prettyprint {
  background-color: rgba(150,150,150,0.1) !important;
  border-color: rgba(130,130,130,0.1) !important;
}
span.tag {
  color: #70348A !important;
}
span.pun {
  color: #61663A !important;
}
span.com {
  color: #AF3280 !important;
}
span.str, span.atv {
  color: #7FA61B !important;
}
span.kwd {
  color: #854C9E !important;
}
span.typ, span.atn {
  color: #6F4E9C !important;
}
span.lit {
  color: #5C39AD !important;
}
