/* Hide things we don't want */
.mobile,
.fourchanx-link:not(.hide-board-list-container)::before,
.fourchanx-link:not(.hide-board-list-container)::after,
.tab-select:not(:checked) + div,
iframe[src='about:blank'],
#absbot,
#styleSelector,
.topad.center,
.middlead.center,
.bottomad.center,
#delPassword,
:root.hide-checkboxes .post input[type=checkbox],
:root.hide-checkboxes .post .riceCheck,
:root.hide-checkboxes .deleteform {
  display: none;
}
/* Get rid of Chrome input outlines, and link outlines */
input:focus, 
textarea:focus, 
a
{
  outline:none!important;
  -moz-outline:none!important;
  -moz-user-focus:none!important;
}
/* Hide unwanted horizontal lines, while keeping them */
hr {

}
body>hr,
#delform>hr,
.board>hr:last-of-type {
  background: none !important;
}

