/* Hide things we don't want */
.mobile,
.fourchanx-link:not(.hide-board-list-container)::before,
.fourchanx-link:not(.hide-board-list-container)::after,
.tab-select:not(:checked) + div,
iframe[src='about:blank'],
#absbot,
.stylechanger,
.topad.center,
.middlead.center,
.bottomad.center,
#delPassword,
.boardBanner>img,
.boardBanner>img~div,
:root.hide-checkboxes .post input[type=checkbox],
:root.hide-checkboxes .post .riceCheck,
:root.hide-checkboxes .deleteform,
:root.hide-board-name .boardTitle,
:root.hide-board-name .boardSubtitle,
:root.hide-text-board .boardSubtitle,
:root.hide-banner #bBanner,
:root.hide-button .qr-link-container,
:root.reply-fit-width .sideArrows,
body>hr,
.navLinks {
  display: none;
}
/* Get rid of Chrome input outlines, and link outlines */
input:focus, 
textarea:focus, 
a
{
  outline:none!important;
}
/* Hide unwanted horizontal lines, while keeping them */
#delform>hr,
.board>hr:last-of-type {
  background: none !important;
}

