/* Text */

/* Anything we need transparent */
div[style='float: right;'] {
  color: transparent;
}
/* Text */
html,
body,
div.boardBanner,
#menu {
  color: " + $SS.theme.textColor.hex + " !important;
}
/* Names */
.name {
  color: " + $SS.theme.nameColor.hex + " !important;
}
/* Tripcodes */
.postertrip {
  color: " + $SS.theme.tripColor.hex + " !important;
}
/* Links */
a {
  color: " + $SS.theme.linkColor.hex + " !important;
}
a.current {
  color: " + $SS.theme.textColor.hex + " !important;
}
a:hover {
  color: " + $SS.theme.linkHColor.hex + " !important;
}
/* Greentext */
.quote {
  color: " + $SS.theme.quoteColor.hex + ";
}
/* Subject and Option labels */
.subject,
.option.header .option-title {
  color: " + $SS.theme.titleColor.hex + " !important;
}
/* 4chan X links and Options Buttons */
.options-button,
.qr-link {
  color: " + $SS.theme.jlinkColor.hex + ";
}


/* Backgrounds */
html,
body {
  background: " + $SS.theme.bgColor.hex + " !important;
}
.reply,
.dialog,
.tab-label {
  background: rgba(" + $SS.theme.mainColor.rgb + "," + $SS.theme.replyOp + ")!important;
}
#header-bar {
  background:linear-gradient(rgb\(" + $SS.theme.mainColor.shiftRGB(20) + "),rgba(" + $SS.theme.mainColor.rgb + "," + $SS.theme.navOp + ")) !important;
  background:-webkit-linear-gradient(top, rgba\(" + $SS.theme.mainColor.shiftRGB(20) + "," + $SS.theme.navOp + "),rgba(" + $SS.theme.mainColor.rgb + "," + $SS.theme.navOp + ")) !important;
}
.options-button,
.qr-link {
  background-color:rgb\(" + $SS.theme.mainColor.shiftRGB(20) + ");
  background:linear-gradient(rgb\(" + $SS.theme.mainColor.shiftRGB(20) + "),rgb(" + $SS.theme.mainColor.rgb + "));
  background:-webkit-linear-gradient(top, rgb\(" + $SS.theme.mainColor.shiftRGB(20) + "),rgb(" + $SS.theme.mainColor.rgb + "));
}
.options-button:hover,
.import-input:hover + .options-button,
.qr-link:hover {
  background:rgb\(" + $SS.theme.mainColor.shiftRGB(20) + ");
}
input,
textarea,
.riceCheck {
  background: " + $SS.theme.inputColor.hex + ";
}
hr {
  background-image: -webkit-linear-gradient(left, rgba(" + $SS.theme.brderColor.rgb + ",0), rgb(" + $SS.theme.brderColor.rgb + "), rgba(" + $SS.theme.brderColor.rgb + ",0));       
  background-image: linear-gradient(to left, rgba(" + $SS.theme.brderColor.rgb + ",0), rgb(" + $SS.theme.brderColor.rgb + "), rgba(" + $SS.theme.brderColor.rgb + ",0)); 
}
#unread-line {
  background-image: -webkit-linear-gradient(left, rgba(" + $SS.theme.jlinkColor.rgb + ",0), rgb(" + $SS.theme.jlinkColor.rgb + "), rgba(" + $SS.theme.jlinkColor.rgb + ",0));       
  background-image: linear-gradient(to left, rgba(" + $SS.theme.jlinkColor.rgb + ",0), rgb(" + $SS.theme.jlinkColor.rgb + "), rgba(" + $SS.theme.jlinkColor.rgb + ",0)); 
}
/* Borders */
.reply {
  border-width: 0px 1px 1px 0px;
  border-style: solid;
}
:root.rounded-corners .reply,
:root.rounded-corners .dialog:not(#header-bar) {
  border-radius: 3px;
}
.reply,
.dialog {
  border-color: " + $SS.theme.brderColor.hex + " !important;
}
input,
textarea,
.riceCheck,
.qr-link {
  border:1px solid " + $SS.theme.inputbColor.hex + " !important;
}
input:focus,
textarea:focus {
  border:1px solid " + $SS.theme.linkColor.hex + " !important;
}
