/* Font Size/Family */

/* Anything we need 0px */
div[style='float: right;'] {
  font-size: 0px !important;
}
/* Anything we need small */
.fileInfo {
  font-size: 11px !important;
}
/* Anything we need !important */
.stylechanger a {
  font-size:" + $SS.conf["Font Size"] + "px !important;
}
.qr-link {
  font-size: 14px !important;
}
/* Options */
.tab-label, 
.options-button, 
.theme-preview,
#oneechan-options input,
textarea {
  font-family:sans-serif !important;
  font-size:12px !important;
}
/* Everything else */
body {
  font-family:" + $SS.formatFont($SS.conf["Font Family"]) + ";
  font-size:" + $SS.conf["Font Size"] + "px;
}

/* Text decoration */
:root.underline-disabled a {
  text-decoration: none;
}
:root.underline-disabled .filtered {
  text-decoration: line-through;
}

/* Font weight */
.name,
.subject,
.option.header .option-title {
  font-weight: 700;
}
