/* Font Size/Family */

/* Anything we need 0px */
.deleteform,
.pagelist, 
.pagelist input {
  font-size: 0px !important;
}
/* Anything we need small */
.fileInfo,
.summary {
  font-size: 11px !important;
}
/* Anything we need !important */
.qr-link {
  font-size: 14px !important;
}
/* Options */
.tab-label, 
.options-button, 
.theme-preview,
#oneechan-options input,
textarea {
  font-family:sans-serif !important;
  font-size:12px !important;
}
/* Board Title */
.boardBanner .boardTitle {
  font-weight: 400 !important;
  font-family: sans-serif !important;
  font-size:28px !important;
}

/* Everything else */
body,
.prev span::after, 
.prev form::after,
.next span::after,
.next form::after,
.pages a {
  font-family:" + $SS.formatFont($SS.conf["Font Family"]) + ";
  font-size:" + $SS.conf["Font Size"] + "px;
}

/* Text decoration */
:root.underline-disabled a {
  text-decoration: none;
}
:root.underline-disabled .filtered {
  text-decoration: line-through;
}

/* Font weight */
.name,
.subject,
.option.header .option-title {
  font-weight: 700;
}
.qr-link {
  font-weight: normal;
}

/* Font Style */
.summary {
  font-style: italic;
}
