/* Replies */
.postInfo {
  padding:4px 12px 2px;
  display: block !important;
}
.fileInfo {
  margin-left: 20px;
  margin-right: 10px;
}
.useremail::before {
  margin-bottom: -20px;
  display: inline-block;
}
.summary {
  margin-left: 20px;
}
/* Fit Width option */
:root.fit-width .reply.post {
  display: block !important;
  overflow: hidden;
}
:root.fit-width body {
  margin: 0;
}
/* Style Post Info option */
:root.post-info .reply>.postInfo {
  box-shadow: inset rgba(0,0,0,.05) 0px -1px 2px;
  padding-top: 2px !important;
}
:root.post-info .inline .reply {
  padding: 0 !important;
}

/* Checkboxes */
input[type=checkbox],
input[type=submit],
.riceCheck {
  cursor: pointer;
}
input[type=checkbox],
.riceCheck
{
  display: inline-block;
  height: 10px !important;
  margin: 2px 3px 0px 0px;
  position: relative;
  vertical-align: top;
  width: 10px!important;
  border-radius: 2px!important;
  -webkit-appearance: none;
}
#qr .riceCheck,
#qr input[type=checkbox] {
  margin: 3px 4px 0px !important;
  vertical-align: baseline;
  position: relative;
  top: 1px;
}
input[type=checkbox]:checked::before,
input[type=checkbox]:checked+.riceCheck::before
{
  content: '';
  display: block;
  height: 8px;
  margin: 1px;
  width: 8px;
}
input[type=checkbox]:checked::before,
input[type=checkbox]:checked+.riceCheck::before
{
  background: " + $SS.theme.checkMark.get() + " !important;
}

/* Header */
#header-bar {
  padding: 4px 4px 5px !important;
}
/* Reposition things based on Header position */
:root:not(.fixed) #header-bar {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid;
}
:root:not(.fixed) body {
  padding-top: 2em;
}
:root.index.bottom:not(.autohide) body {
  padding-bottom: 4em !important;
}
:root.autohide body {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* Menu button */
.reply .menu-button i {
  position: relative;
  bottom: 1px;
}
:root.fit-width .reply .container {
  margin-left: -4px !important;
  padding-right: 5px;
}
:root.fit-width .post .menu-button {
  float: right;
  margin-left: 0px;
  position: relative;
  left: 5px;
}
:root.fit-width .post:not(:hover) .menu-button {
  opacity: 0;
}

/* Delform */
:root.fixed:not(.autohide):not(.bottom) #delform {
  margin-top: -15px;
}

/* QR link */
.qr-link {
  border-radius: 3px;
  vertical-align: middle;
  padding: 7px 12px 6px;
}

/* Quick Reply */
#qr .close {
  padding: 2px 3px 2px 4px !important;
}
#qr [type='submit'] {
  height: 22px;
  margin-top: 1px;
}

/* Delete form */
div[style='float: right;'] {
  float: none !important;
}
.deleteform input[type=checkbox],
.deleteform .riceCheck {
  top: 3px;
}

/* HRs */
hr {
  height: 2px;
  width: 600px;
  border: none !important;
}
:root.fit-width #unread-line {
  margin: auto;
  width: 100%;
}
#unread-line {
  margin-top: -3px !important;
  margin-bottom: -3px !important;
}

/* Board Title */
.boardBanner .boardTitle {
  cursor:default;
  letter-spacing:-3px;
}

/* Banner */
.boardBanner>img {
  border: none !important;
}
:root.banner-reflect.gecko:not(.hide-banner) #bBanner {
    position: relative !important;
}
:root.banner-reflect.gecko:not(.hide-banner) #bBanner::after
{
  background-image:-moz-element(#banner);
  bottom:-93%;
  content:'';
  left:0;
  mask:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KCTxkZWZzPg0KCQk8bGluZWFyR3JhZGllbnQgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIGlkPSJncmFkaWVudCIgeDI9IjAiIHkyPSIxIj4NCgkJCTxzdG9wIHN0b3Atb2Zmc2V0PSIwIi8+DQoJCQk8c3RvcCBzdG9wLWNvbG9yPSJ3aGl0ZSIgb2Zmc2V0PSIxIi8+DQoJCTwvbGluZWFyR3JhZGllbnQ+DQoJCTxtYXNrIGlkPSJtYXNrIiBtYXNrVW5pdHM9Im9iamVjdEJvdW5kaW5nQm94IiBtYXNrQ29udGVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSI+DQoJCQk8cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWRpZW50KSIvPg0KCQk8L21hc2s+DQoJPC9kZWZzPg0KPC9zdmc+#mask');
  opacity: .1;
  position:absolute;
  right:0;
  top:97%;
  -moz-transform:scaleY(-1);
  width: 300px !important;
  margin: auto !important;
  pointer-events: none;
}
:root.banner-reflect.webkit:not(.hide-banner) #banner {
  -webkit-box-reflect: below 0 -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(.1,transparent),to(rgba(255,255,255,.1)));
}
:root.banner-opacity #banner {
  opacity: 0.5;
}

/* Pages */
.pages strong>a {
  border-radius: 3px; 
}
.pagelist {
  margin: 0px 10px 20px 100px;
}
.pages a {
  padding: 5px 10px;
  margin-left: -1px;
}
.next {
  position: relative;
  float: right !important;
  width: 23px;
}
.prev {
  position: relative;
  width: 23px;
}
.prev span {
  position: relative;
  right: 5px;
}
.prev span::after, .prev form::after {
  content: '<<';
  position: absolute;
  top: 4px;
  left: 1px;
  pointer-events: none;
}
.next span::after, .next form::after {
  content: '>>';
  position: absolute;
  top: 4px;
  right: 2px;
  pointer-events: none;
}
.pagelist input {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  height: 20px;
  width: 20px;
}
.pagelist span {
  opacity: 0.2;
}
.cataloglink {
  margin-left: -10px;
}