/* Side Margins */
body {
  margin-left: " + $SS.conf["Margin Left"] + "px;
  margin-right: " + $SS.conf["Margin Right"] + "px;
}

/* Replies */
.postInfo {
  padding:4px 12px 2px;
  display: block !important;
}
.fileInfo {
  margin-left: 20px;
  margin-right: 10px;
}
.useremail::before {
  margin-bottom: -20px;
  display: inline-block;
}
.summary {
  margin-left: 20px;
}
.expanded-image {
  position: relative;
}
.fileThumb img {
  border-radius: 2px;
}
:root.expand-cover #qr {
  z-index: 8 !important;
}
:root.expand-cover .expanded-image {
  z-index: 9 !important;
}
:root.force-op .op::after
{
  clear:both;
  content:'';
  display:block;
}
.replyContainer {
  margin-bottom:" + $SS.conf["Margin Between Replies"] + "px !important;
}
.postInfo + .inline {
  margin-left: 20px !important;
}
/* Fit Width option */
:root.reply-fit-width .reply.post {
  display: block !important;
}
.hasInline>.reply.post,
:root.reply-fit-width .expanded-image>.reply.post {
  overflow: visible !important;
}
.hasInline .inline>.replyContainer:not(.expanded-image):not(.hasInline) .reply.post,
:root.reply-fit-width .reply.post {
  overflow: hidden !important;
}
:root.reply-fit-width .expanded-image>.post::after {
  clear:both !important;
  content:'' !important;
  display:block !important;
}
.threadContainer .hide-reply-button {
  margin-left: -12px !important;
}

/* Quote Threading */
.threadContainer {
  margin-left: 0px !important;
  padding-left: 20px!important;
}
:root.reply-hide .thread>.threadContainer {
   margin-left: 12px !important;
}

/* Style Post Info option */
:root.post-info .reply>.postInfo {
  box-shadow: inset rgba(0,0,0,.05) 0px -1px 2px;
  padding-top: 2px !important;
}
:root.post-info .inline .reply {
  padding: 0 !important;
}

/* Backlinks */
:root.backlink-bottom .post {
  position: relative;
  padding-bottom: 2px;
}
:root.backlink-bottom .container
{
  position:absolute;
  bottom:2px;
  right:6px;
}

/* Menu button */
.reply .menu-button i {
  position: relative;
  bottom: 1px;
}
:root.reply-fit-width .reply .container {
  padding-right: 5px;
}
.container {
  margin-left: -2px !important;
}
:root.reply-fit-width .post .menu-button {
  float: right;
  margin-left: 0px;
  position: relative;
  left: 5px;
}
:root.reply-fit-width .post .menu-button {
  opacity: 0;
}
:root.reply-fit-width .post:not(:hover) .menu-button {
  transition: opacity .3s ease-out 0s !important;
}
:root.reply-fit-width .post:hover .menu-button {
  opacity: 1;
  transition: opacity .3s ease-in .1s !important;
}

/* Code Tags */
.prettyprint {
  padding: 5px !important;
  display: inline-block;
  max-height: 400px;
  overflow-x: auto;
  max-width: 100%;
  vertical-align:middle;
}

/* Checkboxes */
input[type=checkbox],
input[type=submit],
.riceCheck {
  cursor: pointer;
}
input[type=checkbox],
.riceCheck
{
  display: inline-block;
  height: 10px !important;
  position: relative;
  vertical-align: top;
  width: 10px!important;
  border-radius: 2px!important;
  -webkit-appearance: none;
}
.riceCheck {
  margin: 2px 3px 0px 0px; 
}
input[type=checkbox] {
  margin: 3px 3px 0px 0px;
}
#qr .riceCheck,
#qr input[type=checkbox] {
  margin: 3px 4px 0px !important;
  vertical-align: baseline;
  position: relative;
  top: 1px;
}
#qr label {
  vertical-align: middle;
}
input[type=checkbox]:checked::before,
input[type=checkbox]:checked+.riceCheck::before
{
  content: '';
  display: block;
  height: 8px;
  margin: 1px;
  width: 8px;
}
input[type=checkbox]:checked::before,
input[type=checkbox]:checked+.riceCheck::before
{
  background: " + $SS.theme.checkMark.get() + " !important;
}

/* Header */
#header-bar {
  padding: 4px 4px 5px !important;
}
/* Reposition things based on Header position */
:root:not(.fixed) #header-bar {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid;
}
:root:not(.fixed) body {
  padding-top: 2em;
}
:root.index.bottom:not(.autohide) body {
  padding-bottom: 4em !important;
}
:root.autohide body {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
:root:not(.fixed).right-sidebar #header-bar {
  right: 300px;
}
:root:not(.fixed).left-sidebar #header-bar {
  left: 300px;
}

/* Delform */
:root.fixed:not(.autohide):not(.bottom) #delform {
  margin-top: -15px;
}
:root.fixed:not(.autohide):not(.bottom) #globalMessage {
margin-bottom: 20px !important;
}

/* QR link */
.qr-link {
  border-radius: 3px;
  vertical-align: middle;
  padding: 7px 12px 6px;
}

/* Quick Reply */
#qr .close {
  padding: 2px 3px 2px 4px !important;
}
#qr [type='submit'] {
  height: 22px !important;
  margin-top: 1px;
}
:root.vertical-qr #qr {
  position: fixed !important;
  right: 0px !important;
  bottom: 0px !important;
  left: auto !important;
  top: auto !important;
}
:root.vertical-qr #qr.autohide:not(:hover):not(.has-focus) {
  position: fixed !important;
  transform: rotate(-90deg);
  transform-origin: bottom right;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: bottom right;
  right: 0px !important;
  bottom: 300px !important;
  min-width: 240px !important;
  width: 240px !important;
}
:root.vertical-qr #qr.autohide:not(:hover):not(.has-focus) select {
  max-width: 120px !important;
}
:root.vertical-qr.left-sidebar #qr.autohide:not(:hover):not(.has-focus) {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  left: -244px !important;
  bottom: 50px !important;
  right: auto !important;
}
#qr {

}
:root.left-sidebar #qr {
  left: 0px !important;
  right: auto !important;
}
:root.right-sidebar #qr {
  right: 0px !important;
  left: auto !important;
}
:root.fade-qr #qr form {
  display: block !important;
}
:root.fade-qr #qr.autohide:not(.has-focus):not(:hover) {
  opacity: 0.2 !important;
  transition:opacity .2s ease-in-out 1s;
}
:root.expand-inputs .persona .field {
  transition: width ease-in-out 1s, max-width ease-in-out 1s;
}
:root.expand-inputs .persona .field:focus {
  position: absolute;
  right: 2px;
  left: 2px;
  width: 99% !important;
  min-width: 99% !important;
  transition: width ease-in-out 1s, max-width ease-in-out 1s;
}
#qr:not(.has-captcha) textarea {
  min-height: 190px !important;
}
:root.webkit #qr:not(.has-captcha) textarea {
  min-height: 185px !important;
}
:root.webkit #qr.has-captcha textarea.field {
  height: 8.6em;
  min-height: 0.6em !important;
}

/* Delete form */
div[style='float: right;'] {
  float: none !important;
  margin-left: 10px;
}
.deleteform input[type=checkbox],
.deleteform .riceCheck {
  top: 3px;
}
:root.hide-name .secret {
  position: absolute;
  left: 1px !important;
  pointer-events: none;
  width: 33.2% !important;
  min-width: 33.2% !important;
}
:root.hide-name .field[name=name]:hover + .secret,
:root.hide-name .field[name=name]:focus + .secret,
:root.hide-name .secret:hover {
  display: none !important;
}
/* HRs */
hr {
  height: 2px;
  width: 600px;
  border: none !important;
}
:root.reply-fit-width #unread-line {
  margin: auto;
  width: 100%;
}
#unread-line {
  margin-top: -3px !important;
  margin-bottom: -3px !important;
}

/* Board Title */
.boardBanner .boardTitle {
  cursor:default;
  letter-spacing:-3px;
}

/* Banner */
.boardBanner {
  width: 300px;
  margin: auto;
  margin-bottom: 20px;
}
.boardBanner>img {
  border: none !important;
}
:root.banner-reflect.gecko:not(.hide-banner) #bBanner {
    position: relative !important;
}
:root.banner-reflect.gecko:not(.hide-banner) #bBanner::after
{
  background-image:-moz-element(#banner);
  bottom:-93%;
  content:'';
  left:0;
  mask:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KCTxkZWZzPg0KCQk8bGluZWFyR3JhZGllbnQgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIGlkPSJncmFkaWVudCIgeDI9IjAiIHkyPSIxIj4NCgkJCTxzdG9wIHN0b3Atb2Zmc2V0PSIwIi8+DQoJCQk8c3RvcCBzdG9wLWNvbG9yPSJ3aGl0ZSIgb2Zmc2V0PSIxIi8+DQoJCTwvbGluZWFyR3JhZGllbnQ+DQoJCTxtYXNrIGlkPSJtYXNrIiBtYXNrVW5pdHM9Im9iamVjdEJvdW5kaW5nQm94IiBtYXNrQ29udGVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSI+DQoJCQk8cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWRpZW50KSIvPg0KCQk8L21hc2s+DQoJPC9kZWZzPg0KPC9zdmc+#mask');
  opacity: .1;
  position:absolute;
  right:0;
  top:97%;
  -moz-transform:scaleY(-1);
  width: 300px;
  margin: auto !important;
  pointer-events: none;
}
:root.banner-reflect.webkit:not(.hide-banner) #banner {
  -webkit-box-reflect: below 0 -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(.1,transparent),to(rgba(255,255,255,.1)));
}
:root.banner-opacity #banner {
  opacity: 0.5;
  transition: opacity .3s ease-out 0s;
}
:root.banner-opacity #banner:hover {
  opacity: 1.0 !important;
  transition: opacity .3s ease-in 0s;
}

/* Pages */
.pages strong>a {
  border-radius: 3px; 
}
.pagelist {
  margin: 0px 10px 20px 100px;
}
.pages a {
  padding: 5px 10px;
  margin-left: -1px;
}
.next {
  position: relative;
  float: right !important;
  width: 10px;
}
.prev {
  position: relative;
  width: 10px;
}
.prev span {
  position: relative;
  right: 5px;
}
.prev span::after, .prev form::after {
  content: '<';
  position: absolute;
  top: 4px;
  left: 1px;
  pointer-events: none;
}
.next span::after, .next form::after {
  content: '>';
  position: absolute;
  top: 4px;
  right: 2px;
  pointer-events: none;
}
.pagelist input,
.pagelist input:hover {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  height: 20px;
  width: 20px;
}
.pagelist span {
  opacity: 0.2;
}
.cataloglink {
  margin-left: -10px;
}

/* /f/ */
table.flashListing {
  margin: auto !important;
}
table.flashListing .highlightPost {
  background: none !important;
}
table.flashListing .highlightPost::after {
  content: 'â—';
  color: rgb(214, 149, 149);
  position: relative;
  left: 12px;
  margin-left: -10px;
}
.flashListing > tbody {
  padding-top: 200px;
}
.flashListing td {
  padding-left: 4px !important;
  padding-right: 4px !important;
  text-align: center !important;
}
#delform[action='https://sys.4chan.org/f/up.php'], #delform[action='https://sys.4chan.org/f/up.php'] .postblock {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* Mascot */
#mascot img, #mascotprev img {
  position:fixed;
  z-index:2;
  pointer-events: none;
  right: 0px;
  bottom: 0px;
}
#mascot img {
  margin-bottom:" + $SS.mascot.offset + "px;
  margin-right:" + $SS.mascot.hoffset + "px;
  height:" + $SS.mascot.height + ";
  width:" + $SS.mascot.width + ";
  transform: " + $SS.mascot.flip + ";
}
:root.left-sidebar #mascot img,
:root.left-sidebar #mascotprev img {
  margin-left:" + $SS.mascot.offset + "px;
  margin-right: 0px !important;
}
#mascotprev img {
  z-index: 900 !important;
}
#mascot.previewing img {
  display: none;
}
#delform {
  position: relative;
}
:root:not(.left-sidebar):not(.right-sidebar) #delform {
  z-index: 3;
}
:root.left-sidebar #mascot img,
:root.left-sidebar #mascotprev img {
  left: 0px;
  right: auto !important;
}
