/* Thread watcher favicon */
.watch-thread-link {
  margin-bottom: -6px;
  margin-right: 6px;
  top: auto !important;
  bottom: 4px !important;
  background-image: url(\"data:image/svg+xml," + $SS.theme.icons.heart + "\") !important;
}
/* Backlinks */
:root.backlink-icon .backlink {
  background-image: url(\"data:image/svg+xml,"+$SS.theme.icons.backlink+"\")!important;
  font-size: 0px !important;
  padding: 6px !important;
  margin-right: 0px !important;
  opacity: 0.6 !important;
  position: relative;
  bottom: 6px;
  right: 2px;
}
:root.backlink-icon .backlink:hover, :root.backlink-icon .backlink.inlined {
  opacity: 1 !important;
}