/* Thread watcher favicon */
.watch-thread-link {
  margin-bottom: -6px;
  margin-right: 6px;
  top: auto !important;
  bottom: 4px !important;
  background-image: url(\"data:image/svg+xml," + $SS.theme.icons.heart + "\") !important;
}
