/* Sidebar */
/* CSS here is only added if Sidebar Position is not 3 (Disabled) */
:root:not(.fixed) #header-bar {
  z-index: 10;
}
:root.left-sidebar.fourchan-x body {
  padding-left: 303px;
}
:root.right-sidebar.fourchan-x body {
  padding-right: 303px;
}
.boardBanner {
  position: fixed;
  top: 0px;
}
:root.left-sidebar .boardBanner {
  left: 1px;
}
:root.right-sidebar .boardBanner {
  right: 1px;
}
:root.fixed:not(.autohide):not(.bottom) .boardBanner {
  margin-top: 24px;
}
#banner {
  width: 100%;
}
#bBanner {
  margin-bottom: 40px;
}
#bBanner::after {
  width: 100% !important;
}
.qr-link-container {
  margin-top: -15px;
}
#qr {
  bottom: 0px !important;
  top: auto !important;
  min-width: 297px !important;
}
:root.left-sidebar #qr {
  left: 0px !important;
  right: auto !important;
}
:root.right-sidebar #qr {
  right: 0px !important;
  left: auto !important;
}
:root.fixed.bottom:not(.autohide) #qr {
  margin-bottom: 24px;
}
.captcha-img, 
.captcha-img img {
  min-width: 100% !important;
  height: 56px !important;
}

/* SS-like Sidebar */
:root.ss-sidebar body::before {
  background:rgba\(" + $SS.theme.mainColor.shiftRGB(-18) + ",." + ($SS.theme.mainColor.isDark ? 9 : 2) + ");
  border-left:2px solid rgba(" + $SS.theme.mainColor.rgb + ",.9);
  box-shadow:inset " + $SS.theme.brderColor.hex + " 1px 0 0,inset " + $SS.theme.brderColor.hex + " -1px 0 0;
  content:'';
  height:100%;
  width:302px;
  position:fixed;
  top:0px;
  right: 0px;
}
:root.ss-sidebar.left-sidebar body::before {
  border-right:2px solid rgba(" + $SS.theme.mainColor.rgb + ",.9);
  border-left: none !important;
  left: 0px;
  right: auto !Important;
}

/* Mascot overriding */
:root.fade-qr #mascot img, 
:root.fade-qr #mascotprev img {
  bottom: 260px !important;
}
.bottom:not(.autohide):not(.fade-qr) #mascot img,
:root:not(.fade-qr):not(.vertical-qr) #mascot img, 
.bottom:not(.autohide):not(.fade-qr) #mascotprev img,
:root:not(.fade-qr):not(.vertical-qr) #mascotprev img  {
  bottom: 22px !important;
}
:root.bottom:not(.autohide):not(.fade-qr):not(.vertical-qr) #mascot img, 
:root.bottom:not(.autohide):not(.fade-qr):not(.vertical-qr) #mascotprev img  {
  bottom: 48px !important;
}