/* Colors */

/* Anything we need transparent */
div[style='float: right;'] {
  color: transparent;
}
/* Text */
html,
body,
div.boardBanner,
#menu {
  color: rgb(" + $SS.theme.textColor.rgb + ") !important;
}
/* Names */
.name {
  color: rgb(" + $SS.theme.nameColor.rgb + ") !important;
}
/* Tripcodes */
.postertrip {
  color: rgb(" + $SS.theme.tripColor.rgb + ") !important;
}
/* Links */
a {
  color: rgb(" + $SS.theme.linkColor.rgb + ") !important;
}
a:hover {
  color: rgb(" + $SS.theme.linkHColor.rgb + ") !important;
}
/* Greentext */
.quote {
  color: rgb(" + $SS.theme.quoteColor.rgb + ");
}
/* Subject and Option labels */
.subject,
.option.header .option-title {
  color: rgb(" + $SS.theme.titleColor.rgb + ")!important;
}


/* Backgrounds */
.reply,
.dialog,
.tab-label {
  background: rgba(" + $SS.theme.mainColor.rgb + "," + $SS.theme.replyOp + ")!important;
}
#header-bar {
  background: rgba(" + $SS.theme.mainColor.rgb + "," + $SS.theme.navOp + ")!important;
}
html,
body {
  background: rgb(" + $SS.theme.bgColor.rgb + ") !important;
}

/* Borders */
.reply {
  border-width: 0px 1px 1px 0px;
  border-style: solid;
}
:root.rounded-corners .reply,
:root.rounded-corners .dialog:not(#header-bar) {
  border-radius: 3px;
}
.reply,
#watcher,
#header-bar {
  border-color: rgb(" + $SS.theme.brderColor.rgb + ");
}
